<script type="text/html" template lay-done="a()">
    <form class="layui-form form" lay-filter="notice_detail_form">
        <textarea name="data" style="display: none;">
            {{ JSON.stringify(d.params) }}
        </textarea>
        <input type="hidden" value="{{ d.params.notice_id }}" name="notice_id" lay-verify="required">
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">公告标题</label>
                <div class="layui-input-inline">
                    <input type="text" value="{{ d.params.notice_title }}" name="notice_title" class="layui-input" lay-verify="required" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">公告内容</label>
                <div class="layui-input-inline" style="width:80%;">
                    <textarea type="text" name="notice_content" maxlength="250" style="padding:10px; max-width:90%; max-height:80px; min-width:90%; min-height:80px;" lay-verify="required" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">发布人昵称</label>
                <div class="layui-input-inline">
                    <input type="text" value="{{ d.params.user_name }}" name="notice_title" class="layui-input" lay-verify="required" readonly>
                </div>
            </div>
        </div>
    </form>
</script>
<script>
    function a() {
        var data = $("textarea[name=data]").val()
        $("textarea[name=data]").remove()
        data = JSON.parse(data)
        layui.use(["adjfut", "form", "layer"], function () {
            var layer = layui.layer;
            var form = layui.form;
            var adjfut = layui.adjfut;

            $('textarea[name=notice_content]').val(data.notice_content);
            
            form.render()
        });
    }
</script>