<script type="text/html" template lay-done="a()">
    <form class="layui-form form" lay-filter="notice_edit_form">
        <textarea name="data" style="display: none;">
            {{ JSON.stringify(d.params) }}
        </textarea>
        <input type="hidden" value="{{ d.params.notice_id }}" name="notice_id" lay-verify="required">
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">公告标题</label>
                <div class="layui-input-inline">
                    <input type="text" value="{{ d.params.notice_title }}" name="notice_title" class="layui-input" lay-verify="required">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">公告内容</label>
                <div class="layui-input-inline" style="width:80%;">
                    <textarea type="text" name="notice_content" maxlength="250" style="padding:10px; max-width:90%; max-height:80px; min-width:90%; min-height:80px;" lay-verify="required"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">附件</label>
            <button type="button" class="layui-btn layui-btn-normal" id="notice_notice_edit_upload">上传附件</button>
            <input type="hidden" name="notice_file_name" class="layui-input">
            <input type="hidden" name="notice_file_path" class="layui-input">
            <a id="download_file" style="margin: 0 10px; font-size: 17px; line-height: 38px; border-bottom: 1px solid grey; cursor: pointer;"></a>
            <button type="button" class="layui-btn layui-btn-danger" id="notice_notice_edit_delete" style="display: none">删除附件</button>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="notice_notice_edit_save">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </form>
</script>
<script>
    function a() {
        var data = $("textarea[name=data]").val()
        $("textarea[name=data]").remove()
        data = JSON.parse(data)
        layui.use(["adjfut", "form", "layer", "upload"], function () {
            var layer = layui.layer;
            var form = layui.form;
            var upload = layui.upload;
            var adjfut = layui.adjfut;

            var view_id = adjfut.view_id("notice/notice/edit");
            var form_id = view_id + "_form"

            $('textarea[name=notice_content]').val(data.notice_content);

            if(data.notice_file_name && data.notice_file_path){
                $("#"+view_id+"_upload").html('修改附件')
                $("#"+view_id+"_delete").css('display','inline')
                $('input[name=notice_file_name]').val(data.notice_file_name)//原文件名
                $('input[name=notice_file_path]').val(data.notice_file_path)//文件路径
                $('#download_file').html(data.notice_file_name)
                $('#download_file').attr("download", data.notice_file_name)
                $('#download_file').attr("href", adjfut.upload_path(data.notice_file_path))
            }
            
            form.render()

            upload.render({
                elem: $("#"+view_id+"_upload") //绑定元素
                ,headers: adjfut.token()
                ,url: adjfut.url("notice/notice/notice_upload") //上传接口
                ,done: function(res){
                    layer.msg(res[0].msg, {
                        icon: 1
                    })
                    $("#"+view_id+"_upload").html('修改附件')
                    $("#"+view_id+"_delete").css('display','inline')
                    $('input[name=notice_file_name]').val(res[0].info.file_name)//原文件名
                    $('input[name=notice_file_path]').val(res[0].info.save_name)//文件路径
                    $('#download_file').html(res[0].info.file_name)
                    $('#download_file').attr("download", res[0].info.file_name)
                    $('#download_file').attr("href", adjfut.upload_path(res[0].info.save_name))
                }
                ,accept: 'file' //允许上传的文件类型
            });
            
            $("#"+view_id+"_delete").on("click", function () {
                layer.msg("删除成功", {
                    icon: 1
                })
                $("#"+view_id+"_upload").html('上传附件')
                $("#"+view_id+"_delete").css('display','none')
                $('input[name=notice_file_name]').val('')//原文件名
                $('input[name=notice_file_path]').val('')//文件路径
                $('#download_file').html('')
                $('#download_file').attr("download", '')
                $('#download_file').attr("href", '')
            })

            adjfut.form_required()

            form.on("submit(" + view_id + "_save)", function (obj) {
                $(obj.elem).attr("disabled", true);

                delete obj.field.file

                adjfut.request({
                    url: "notice/notice/notice_edit",
                    data: obj.field,
                    success: function (res) {
                        if (res.code === 0) {
                            layer.msg(res.msg, {
                                icon: 1
                            })
                            window.location.reload()
                        } else {
                            layer.msg(res.msg, {
                                icon: 5
                            });
                        }
                    },
                    complete: function () {
                        $(obj.elem).attr("disabled", false);
                    }
                })

                return false;
            })
        });
    }
</script>