<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header search">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">公告标题</label>
                        <div class="layui-input-inline">
                            <input name="notice_title" class="layui-input" placeholder="根据公告标题查询" autocomplete="off">
                        </div>
                    </div>
                    <button class="layui-btn" style="margin-top:-4px!important;" lay-submit="" lay-filter="notice_notice_index_table_search">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="notice_notice_index_table" lay-filter="notice_notice_index_table"></table>
            <script type="text/html" id="notice_notice_index_table_status">
                <input type="checkbox" value="{{ d.notice_id }}" lay-skin="switch" lay-text="启用|停用" lay-filter="notice_notice_index_table_status" {{ d.notice_status == "启用" ? "checked" : "" }}>
            </script>

            <script type="text/html" id="bar_notice_notice_index_table">
                <a class="layui-btn layui-btn-xs" lay-event="detail">
                    详情
                </a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">
                    编辑
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                    删除
                </a>
            </script>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "table", "form", "layer", "util", "view"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("notice/notice/index");
        var token = adjfut.token();
        var table_id = view_id + "_table";

        form.render();

        adjfut.crumbs([{
            name: "公告管理",
            url: false
        }], [{
            name: "发布公告",
            click: function () {
                layer.open({
                    id: view_id + "_add",
                    type: 1,
                    area: ["50%", "80%"],
                    title: "新增公告",
                    closeBtn: 2,
                    success: function () {
                        view(this.id).render("notice/notice/add")
                    },
                    end: function () {
                        table.reload(table_id);
                    }
                });
            }
        }]);

        form.on("submit(" + table_id + "_search)", function (obj) {
            table.reload(table_id, {
                where: obj.field
            });
            return false;
        });

        form.on("switch(" + view_id + "_table_status)", function (obj) {
            adjfut.request({
                url: "notice/notice/notice_status",
                data: {
                    notice_id: obj.value
                },
                success: function (res) {
                    table.reload(table_id);
                    layer.msg(res.msg, {
                        icon: res.code === 0 ? 1 : 5
                    })
                }
            })
        });

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("notice/notice/notice"),
            height: "full-220",
            cols: [
                [{
                    field: "notice_title",
                    title: "公告标题",
                    width: 150,
                }, {
                    field: "notice_content",
                    title: "公告内容",
                    width: 200,
                }, {
                    field: "user_name",
                    title: "发布人昵称",
                    width: 150,
                }, {
                    title: "状态",
                    width: 110,
                    templet: "#" + table_id + "_status",
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 180,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "delete":
                    layer.confirm("您确定删除[ " + data.notice_title + " ]吗？", function (index) {
                        adjfut.request({
                            url: "notice/notice/notice_delete",
                            data: data,
                            success: function (res) {
                                table.reload(table_id);
                                layer.msg(res.msg, {
                                    icon: res.code === 0 ? 1 : 5
                                })
                            }
                        });
                        layer.close(index);
                    });
                    break;
                case "edit":
                    layer.open({
                        id: view_id + "_edit",
                        type: 1,
                        area: ["50%", "80%"],
                        title: "编辑[ " + data.notice_title + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("notice/notice/edit", data)
                                .done(function () {
                                    form.val("notice_notice_edit_form", data)
                                });
                        },
                        end: function () {
                            table.reload(table_id)
                        }
                    });
                    break;
                case "detail":
                    // data.user_image = user_image
                    layer.open({
                        id: view_id + "_detail",
                        type: 1,
                        area: ["50%", "80%"],
                        title: "详情[ " + data.notice_title + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("notice/notice/detail", data)
                                .done(function () {
                                    form.val("notice_notice_detail_form", data)
                                });
                        }
                    });
                    break;
            }
        });
    });
</script>