<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="left">
                <div id="student_report_index_tree">

                </div>
            </div>
            <div class="right">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户名称:</label>
                            <div class="layui-input-inline">
                                <input name="user_name" class="layui-input" placeholder="根据用户名称查询" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">审核状态:</label>
                            <div class="layui-input-inline">
                                <select name="report_audit" class="layui-input" lay-search>
                                    <option value="">请选择</option>
                                    <option value="审核中">审核中</option>
                                    <option value="审核通过">审核通过</option>
                                    <option value="审核不通过">审核不通过</option>
                                </select>
                            </div>
                        </div>
                        <button class="layui-btn" style="margin-top:-5px;" lay-submit="" lay-filter="student_report_index_table_search">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                </form>
                <table class="layui-hide" id="student_report_index_table" lay-filter="student_report_index_table">
                </table>

                <script type="text/html" id="bar_student_report_index_table">
                    {{# if(d.report_audit == '审核中'){ }}
                    <a class="layui-btn layui-btn-xs" lay-event="approval">
                        通过
                    </a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="reject">
                        驳回
                    </a>
                    {{# } else if(d.report_audit == '审核通过' && d.report_teacher_score == '暂无' || d.report_teacher_score == null) { }}
                    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="score">
                        评分
                    </a>
                    {{# } }}
                </script>

            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "tree", "form", "layer", "table", "view"], function () {
        var view = layui.view;
        var layer = layui.layer;
        var tree = layui.tree;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var table = layui.table;

        var view_id = adjfut.view_id("student/report/index");
        var tree_id = view_id + "_tree";
        var table_id = view_id + "_table";


        layui.sessionData(view_id, {
            key: "user_id",
            remove: true
        })

        adjfut.crumbs([{
            name: "学生管理",
            url: false
        }, {
            name: "日志管理",
            url: "#/student/report/index"
        }])
        

        form.render();
        //搜索
        form.on("submit(" + table_id + "_search)", function (obj) {
            table.reload(table_id, {
                where: obj.field
            });
            return false;
        });

        adjfut.request({
            url: "student/index/user_organize_tree",
            success: function (res) {
                tree.render({
                    id: tree_id,
                    elem: "#" + tree_id,
                    onlyIconControl: true,
                    data: res.data,
                    click: function (obj) {
                        var data = obj.data.data
                        layui.sessionData(view_id, {
                            key: "organize_info",
                            value: data
                        })
                        table.reload(table_id, {
                            where: {
                                organize_id: data.organize_id
                            }
                        })
                    }
                });
            }
        })

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("student/report/user_organize_list"),
            // height: "full-170",
            cols: [
                [
                {
                    field: "organize_name",
                    title: "组织名称",
                    width: 140,
                }, {
                    field: "user_name",
                    title: "用户名称",
                    width: 150,
                    templet: function (res) {
                        return [
                            '<b class="underline">' + res.user_name + '</b>',
                            '<button style="display: none;" data-clipboard-text="13723568974"></button>'
                        ].join("")
                    },
                    event: "user_name"
                }, {
                    // field: "report_content",
                    title: "报告内容",
                    width: 200,
                    templet: function (res) {
                        var content = res.report_content
                        if (content) {
                            // content = content.replace(/\↵/g, "<br>")
                            content = content.replace(/\n/g, "<br>")
                            content = content.replace(/\r\n/g, "<br>")
                        }
                        return content
                    }
                }, {
                    field: "report_audit",
                    title: "审核状态",
                    width: 120,
                    templet: function (res) {
                        let a = '';
                        if (res.report_audit == '审核中') {
                            a = '<b style="color:#01aaed;">审核中</b>';
                        } else if (res.report_audit == '审核通过') {
                            a = '<b style="color:#07cc07;">审核通过</b>';
                        } else if (res.report_audit == '审核不通过') {
                            a = '<b style="color:red;">审核不通过</b>';
                        }
                        return a;
                    }
                    
                }, {
                    field: "report_teacher_score",
                    title:'评分',
                    width:'80'
                },{
                    title: "操作",
                    fixed: "right",
                    width: 180,
                    toolbar: "#bar_" + table_id
                }]
            ],
            limit: 50,
            page: true
        });



        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "user_name":
                    layer.confirm(data.user_phone, {
                        title: false,
                        btn: ["复制"]
                    }, function () {
                        if (ClipboardJS.isSupported()) {
                            // $("button[data-clipboard-text=" + data.user_phone + "]").click()
                            // var $button = $("button")
                            // $button.attr("data-clipboard-text", data.user_phone)
                            // $button.click()
                            // log($button.prop("outerHTML"))
                            // var clipboard = new ClipboardJS($button);

                            // clipboard.on('success', function (e) {
                            //     console.info('Action:', e.action);
                            //     console.info('Text:', e.text);
                            //     console.info('Trigger:', e.trigger);

                            //     e.clearSelection();
                            // });

                            // clipboard.on('error', function (e) {
                            //     console.error('Action:', e.action);
                            //     console.error('Trigger:', e.trigger);
                            // });
                        } else {
                            layer.msg("您的浏览器不支持，请手动复制")
                        }
                    })

                    break;
            }
        });
        
        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "score":
                    layer.open({
                        id: view_id + "_edit",
                        type: 1,
                        area: ["48%", "65%"],
                        title: "请对[ " + data.user_name + " ]的报告进行评分",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("student/report/score", data)
                                .done(function () {
                                    form.val("student_report_score_form", data)
                                });
                        },
                        end: function () {
                            table.reload(table_id)
                        }
                    });
                    break;
                case "approval":
                layer.confirm("您确定通过[ " + data.user_name + " ]的报告吗？", function (index) {
                    adjfut.request({
                        url: "student/report/report_approval",
                        data: data,
                        success: function (res) {
                            table.reload(table_id);
                            layer.msg(res.msg, {
                                icon: res.code === 0 ? 1 : 5
                            })
                        }
                    });
                    layer.close(index);
                });
                break;
                case "reject":
                layer.confirm("您确定驳回[ " + data.user_name + " ]的报告吗？", function (index) {
                    adjfut.request({
                        url: "student/report/report_reject",
                        data: data,
                        success: function (res) {
                            table.reload(table_id);
                            layer.msg(res.msg, {
                                icon: res.code === 0 ? 1 : 5
                            })
                        }
                    });
                    layer.close(index);
                });
                break;                    
            }
        });

    });
</script>