<script type="text/html" template lay-done="score()">
    <form class="layui-form form" lay-filter="student_report_form">
        <textarea name="data" style="display: none;">
            {{ JSON.stringify(d.params) }}
        </textarea>
        <input type="hidden" value="{{ d.params.report_id }}" name="report_id" lay-verify="required">
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">报告内容</label>
                <div class="layui-input-inline" style="width:80%;">
                    <textarea type="text" name="report_content" maxlength="250" style="padding:10px;min-width:90%; min-height:90px;" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">评分等级</label>
                <div class="layui-input-inline" style="z-index:9999;" >
                    <select name="report_teacher_score" class="layui-input" lay-verify="required" lay-search>
                        <option value="">请选择评价等级</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="student_report_score_save">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </form>
</script>
<script>
    function score() {
        var data = $("textarea[name=data]").val()
        $("textarea[name=data]").remove()
        data = JSON.parse(data)
        layui.use(["adjfut", "form", "layer", "upload"], function () {
            var layer = layui.layer;
            var form = layui.form;
            var upload = layui.upload;
            var adjfut = layui.adjfut;

            var view_id = adjfut.view_id("student/report/score");
            var form_id = view_id + "_form"

            $('textarea[name=report_content]').val(data.report_content);

            form.render()

            adjfut.request({
                url: "student/report/report_data",
                type: 'post',
                dataTyep: 'json',
                success: function (res) {
                    if (res.code == 0) {
                        $('select[name=report_teacher_score]').append(`<option value="` + res.excellent + `">` + '优秀' +`</option>`)
                        $('select[name=report_teacher_score]').append(`<option value="` + res.good + `">` + '良好' + `</option>`)
                        $('select[name=report_teacher_score]').append(`<option value="` + res.middle + `">` + '中等' + `</option>`)
                        $('select[name=report_teacher_score]').append(`<option value="` + res.common + `">` + '一般' + `</option>`)
                        $('select[name=report_teacher_score]').append(`<option value="` + res.poor + `">` + '差' + `</option>`)
                        form.render();
                    } else {
                        layer.msg('服务器连接错误', {
                            icon: 5
                        })
                    }
                },
                error: function (res) {
                    layer.msg('服务器连接错误', {
                        icon: 5
                    })
                }
            });

            adjfut.form_required()

            form.on("submit(" + view_id + "_save)", function (obj) {
                $(obj.elem).attr("disabled", true);

                adjfut.request({
                    url: "student/report/report_score",
                    data: obj.field,
                    success: function (res) {
                        if (res.code === 0) {
                            layer.msg(res.msg, {
                                icon: 1
                            })
                            window.location.reload()
                        } else {
                            layer.msg(res.msg, {
                                icon: 5
                            });
                        }
                    },
                    complete: function () {
                        $(obj.elem).attr("disabled", false);
                    }
                })

                return false;
            })
        });
    }
</script>