<form class="layui-form form" lay-filter="adjfut_organize_edit_form">
    <input type="hidden" name="organize_id" lay-verify="required" class="layui-input">
    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="organize_name" lay-verify="required" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">单位编码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="organize_number" lay-verify="required" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="organize_status" lay-skin="switch" checked="checked" lay-text="启用|停用" lay-filter="adjfut_organize_edit_status">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="adjfut_organize_edit_save">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(["adjfut", "form", "layer", "laydate"], function () {
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("adjfut/organize/edit");
        var form_id = view_id + "_form"

        var info = layui.sessionData(adjfut.view_id("adjfut/organize/index"), {
            key: "info"
        })

        adjfut.request({
            url: "adjfut/organize/organize_info",
            data: {
                organize_id: info.organize_id
            },
            success: function (res) {
                if (res.code === 0) {
                    var data = res.data
                    form.val(view_id + "_form", data)
                    $("input[name=organize_status]").val(data.organize_status)
                    $("input[name=organize_status]").attr("checked", data.organize_status == 1)

                    form.render()

                }
            }
        })

        form.render()

        adjfut.form_required()
        form.on("switch(" + view_id + "_status)", function (obj) {
            var value = $(obj.elem).val()
            $(obj.elem).val(value == 1 ? 2 : 1)
        })
        form.on("submit(" + view_id + "_save)", function (obj) {

            $(obj.elem).attr("disabled", true);

            obj.field.organize_status = $("input[name=organize_status]").val()

            adjfut.request({
                url: "adjfut/organize/organize_edit",
                data: obj.field,
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        })
                        window.location.reload()
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                complete: function () {
                    $(obj.elem).attr("disabled", false);
                }
            })

            return false;
        })
    });
</script>