<style>
    #layout #back {
        display: none;
    }

    #teacher_index_index .operation {
        margin: 10px 0;
    }

    #teacher_index_index .operation img {
        width: 100%;
        float: left;
    }

    #teacher_index_index .operation span {
        position: absolute;
        top: 0;
        right: 10px;
        margin: 5px;
        font-size: 35px;
        color: white;
    }
</style>
<div id="teacher_index_index">
    <div class="layui-card">
        <div class="layui-row layui-col-space10 operation">
            <div class="layui-col-xs6">
                <a href="#/teacher/sign_in/index">
                    <img src="./static/images/btn1.png">
                    <span>签到</span>
                </a>
            </div>
            <div class="layui-col-xs6">
                <a href="#/teacher/report/index">
                    <img src="./static/images/btn2.png">
                    <span>报告</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut"], function () {
        var adjfut = layui.adjfut

        var view_id = adjfut.view_id("teacher/index/index")

        // setTimeout(function () {
        //     $("#layout #back").hide()
        // }, 500)
    })
</script>