<div id="student_report_edit" class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
        </div>
        <div class="layui-card-body">
            <form class="layui-form" lay-filter="student_report_edit">
                <input type="hidden" name="report_id" lay-verify="required" lay-label="报告ID">
                <!-- <div class="layui-form-item"> -->
                <div class="layui-block">
                    <textarea name="report_content" class="layui-textarea" lay-verify="required" placeholder="报告内容" lay-label="报告内容"></textarea>
                </div>
                <div class="layui-form-mid layui-word-aux count_report_content" style="float: right;">
                    共输入：0
                </div>
                <!-- </div> -->
                <!-- <div class="layui-form-item"> -->
                <div class="layui-block">
                    <button class="layui-btn layui-btn-radius layui-btn-fluid" lay-submit="" lay-filter="student_report_add_button">
                        提交
                    </button>
                </div>
                <!-- </div> -->
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "form", "util"], function () {
        var adjfut = layui.adjfut
        var form = layui.form
        var util = layui.util

        var view_id = adjfut.view_id("student/report/edit")
        var type = decodeURI(layui.router().search.type)

        adjfut.form_required()

        var report_info = layui.sessionData(adjfut.view_id("student/report/index"), {
            key: "report_info"
        })
        $(".count_report_content").html("共输入：" + report_info.report_content.length)
        $("textarea").on("input", function () {
            $(".count_report_content").html("共输入：" + $(this).val().length)
        })

        form.val(view_id, report_info)

        $("textarea").height($("textarea")[0].scrollHeight)
        $("textarea").keydown(function () {
            var $this = $(this)
            var height = $this.height()
            switch (event.keyCode) {
                case 13:
                    $this.height(height + 10)
                    break;
                case 8:
                    $this.height(height - 10)
                    break;
            }
        })

        if (type) {
            var $layui_card_header = $("#" + view_id).find(".layui-card-header")

            $layui_card_header.html("写" + type)
            $layui_card_header.append([
                '<span style="float: right">',
                util.toDateString(new Date(), "yyyy年MM月dd日 HH时mm分"),
                '</span>'
            ].join(""))
        } else {
            layer.alert("缺少参数", {

            }, function () {
                window.history.back(-1)
            })
        }

        form.on("submit(" + view_id + "_button)", function (obj) {
            $(obj.elem).attr("disabled", true);

            adjfut.request({
                url: "api/report/report_edit",
                data: obj.field,
                success: function (res) {
                    if (res.code === 10000) {
                        layer.msg(res.msg, {
                            icon: 1
                        })
                        setTimeout(function () {
                            window.history.back(-1)
                        }, 800);
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                complete: function () {
                    $(obj.elem).attr("disabled", false);
                }
            })

            return false
        })
    })
</script>