<style>
    #student_report_index #student_report_index_header {
        margin: 0 0 10px 0;
    }

    #student_report_index #student_report_index_header p {
        line-height: 25px;
        height: 25px;
        display: inline-block;
        float: left;
    }

    #student_report_index #student_report_index_header img {
        margin: 0 10px 0 0;
    }

    #student_report_index #student_report_index_header a {
        float: right;
        display: inline-block;
    }

    #student_report_index #student_report_index_content .layui-card {
        margin: 0 0 10px 0;
    }

    #student_report_index #student_report_index_content .title {
        height: 50px;
        margin: 0 0 10px 0;
    }

    #student_report_index #student_report_index_content .title img {
        display: block;
        height: 100%;
        float: left;
    }

    #student_report_index #student_report_index_content .title div {
        margin: 0 10px;
        float: left;
    }

    #student_report_index #student_report_index_content .content {
        position: relative;
    }
</style>
<div id="student_report_index">
    <script id="student_report_index_header_template" type="text/html">
        <div class="layui-card">
            <div class="layui-card-body">
                <p style="">
                    <img src="./static/images/book.png" style="">
                    我的{{ d.type }}
                </p>
                <a href="#/student/report/add/type={{ d.type }}" class="layui-btn layui-btn-radius layui-btn-sm" style="">
                    写{{ d.type }}
                </a>
                <div class="clear"></div>
            </div>
        </div>
    </script>
    <script id="student_report_index_card_template" type="text/html">
        <div class="layui-card" data-report_info="{{ JSON.stringify(d) }}">
            <div class="layui-card-body">
                <div class="title">
                    <img class="layui-circle" src="{{ d.user_headimage }}">
                    <div>
                        <p>{{ d.user_name }}的{{ d.report_type }}</p>
                        <p>{{ d.report_time }} 第{{ d.report_week }}周</p>
                    </div>
                    <span style="float: right;">{{ d.report_audit }}</span>
                </div>
                <hr>
                <div class="content">
                    <div style="height: 100px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 999">
                    </div>
                    <textarea class="layui-textarea" disabled="disabled" style="border: none;padding: 6px 0;">
                        {{ d.report_content }}
                    </textarea>
                </div>
            </div>
        </div>
    </script>

    <div id="student_report_index_header">
    </div>
    <div id="student_report_index_content">
    </div>
</div>

<script>
    layui.use(["adjfut", "flow", "laytpl"], function () {
        var adjfut = layui.adjfut
        var flow = layui.flow
        var laytpl = layui.laytpl

        var view_id = adjfut.view_id("student/report/index")
        var type = decodeURI(layui.router().search.type)

        if (type) {
            laytpl($("#" + view_id + "_header_template").html())
                .render({
                    type: type
                }, function (html) {
                    $("#" + view_id + "_header").append(html)
                })
        } else {
            layer.alert("缺少参数", {

            }, function () {
                window.history.back(-1)
            })
        }

        var view_render = function () {
            flow.load({
                elem: '#' + view_id + "_content",
                isAuto: false,
                isLazyimg: true,
                done: function (page, next) {
                    adjfut.request({
                        url: "api/report/report_list",
                        data: {
                            page: page,
                            type: type
                        },
                        success: function (res) {
                            var html = "<div>"
                            if (res.code == 10000) {
                                var data = res.data
                                layui.each(data, function (_, value) {
                                    laytpl($("#" + view_id + "_card_template").html())
                                        .render(value, function (res) {
                                            html += res
                                        })
                                })
                            }
                            html += "</div>"
                            var $html = $(html)
                            $html.find("div[data-report_info]").on("click", function () {
                                var $this = $(this)
                                layui.sessionData(view_id, {
                                    key: "report_info",
                                    value: $this.data("report_info")
                                })
                                window.location.hash = "/student/report/edit/type=" + type
                            })
                            next($html, page < res.count);
                            layui.each($html.find("textarea"), function (key, value) {
                                var $value = $(value)
                                $value.parent().find("div").height(this.scrollHeight)
                                $value.height(this.scrollHeight)
                            })
                        }
                    })
                }
            });
        }

        view_render()
    })
</script>