<style>
    #student_internship_summary_index #student_internship_summary_index_operation {
        margin: 0 0 10px 0;
    }

    #student_internship_summary_index #student_internship_summary_index_operation p {
        line-height: 25px;
        height: 25px;
        display: inline-block;
        float: left;
    }

    #student_internship_summary_index #student_internship_summary_index_operation img {
        margin: 0 10px 0 0;
    }

    #student_internship_summary_index #student_internship_summary_index_operation button {
        float: right;
        display: inline-block;
    }

    #student_internship_summary_index #student_internship_summary_index_content .layui-card {
        margin: 0 0 10px 0;
    }

    #student_internship_summary_index #student_internship_summary_index_content .title {
        height: 50px;
        margin: 0 0 10px 0;
    }

    #student_internship_summary_index #student_internship_summary_index_content .title img {
        display: block;
        height: 100%;
        float: left;
    }

    #student_internship_summary_index #student_internship_summary_index_content .title div {
        margin: 0 10px;
        float: left;
    }

    #student_internship_summary_index #student_internship_summary_index_content .content {
        position: relative;
    }
</style>
<div id="student_internship_summary_index">
    <div id="student_internship_summary_index_operation">
        <div class="layui-card">
            <div class="layui-card-body">
                <p>
                    <img src="./static/images/book.png" style="">
                    实习总结
                </p>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="student_internship_summary_index_content">
        <div class="layui-card">
            <div id="countdown" class="layui-card-header">
                
            </div>
            <div class="layui-card-body">
                <div class="layui-form-item">
                    <textarea name="summary" class="layui-textarea" placeholder="请输入实习总结"></textarea>
                </div>
                <button id="save" class="layui-btn layui-btn-radius layui-btn-fluid">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(["adjfut", "util"], function () {
        var adjfut = layui.adjfut
        var util = layui.util

        var view_id = adjfut.view_id("student/internship_summary/index")



        adjfut.request({
            url: "api/gzh/userinfo",
            success: function (res) {
                if (res.code === 10000) {
                    var data = res.data
                    util.countdown(new Date(data.organize_internship_end), new Date(), function (date, serverTime, timer) {
                        var str = date[0] + '天' + date[1] + '时' + date[2] + '分' + date[3] + '秒';
                        $("#countdown").html(
                            '距离实习结束：'+str
                        )
                    });
                    $("textarea[name=summary]").val(data.enterprise_position_user_summary)
                }
            }
        })

        $("textarea").keydown(function () {
            var $this = $(this)
            var height = $this.height()
            switch (event.keyCode) {
                case 13:
                    $this.height(height + 10)
                    break;
                case 8:
                    $this.height(height - 10)
                    break;
            }
        })

        $("#save").on("click", function () {
            adjfut.request({
                url: "api/report/summary_save",
                data: {
                    value: $("textarea[name=summary]").val()
                },
                success: function (res) {
                    layer.msg(res.msg, {
                        icon: res.code === 10000 ? 1 : 5
                    })
                    if (res.code === 10000) {
                        setTimeout(function () {
                            window.location.reload()
                        }, 800);
                    }
                }
            })
        })



    })
</script>