<style>
    #teacher_sign_in_index .layui-tab-title li {
        margin: 0 3px
    }

    #teacher_sign_in_index #teacher_sign_in_index_content .layui-card {
        margin: 0 0 10px 0;
    }

    #teacher_sign_in_index #teacher_sign_in_index_content .title {
        height: 50px;
        margin: 0 0 10px 0;
    }

    #teacher_sign_in_index #teacher_sign_in_index_content .title img {
        display: block;
        height: 100%;
        float: left;
    }

    #teacher_sign_in_index #teacher_sign_in_index_content .title div {
        margin: 0 10px;
        float: left;
    }

    #teacher_sign_in_index #teacher_sign_in_index_content .content {
        position: relative;
    }
</style>
<div id="teacher_sign_in_index">
    <input type="text" class="layui-input" name="date">
    <div style="padding: 5px 0;">
        <div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="teacher_sign_in_index_progress">
            <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-title">
            <div class="layui-tab layui-tab-brief" lay-filter="teacher_sign_in_index_tab">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="已签到">已签到</li>
                    <li lay-id="未签到">未签到</li>
                    <li lay-id="正常">正常</li>
                    <li lay-id="异常">异常</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="teacher_sign_in_index_content">


    </div>
</div>
<script>
    layui.use(["adjfut", "flow", "element", "laytpl", "laydate"], function () {
        var adjfut = layui.adjfut
        var flow = layui.flow
        var element = layui.element
        var laytpl = layui.laytpl
        var laydate = layui.laydate

        laydate.render({
            elem: 'input[name=date]',
            value: new Date(),
            showBottom: false,
            done: function (value) {
                var type = $("div[lay-filter=" + view_id + "_tab]").find(".layui-this").attr("lay-id")
                view_render({
                    type: type,
                    date: value
                })
            }
        });

        element.render()

        var view_id = adjfut.view_id("teacher/sign_in/index")
        element.on('tab(' + view_id + '_tab)', function () {
            view_render({
                type: $(this).attr("lay-id")
            })
        });

        var view_render = function (obj) {
            $('#' + view_id + "_content").html("")
            flow.load({
                elem: '#' + view_id + "_content",
                isAuto: false,
                isLazyimg: true,
                done: function (page, next) {
                    adjfut.request({
                        url: "api/sign_in/student_list",
                        data: $.extend(obj, {
                            page: page,
                        }),
                        success: function (res) {
                            var html = "<div>"
                            if (res.code == 10000) {
                                var data = res.data
                                var statistical = res.statistical
                                // console.log((statistical[obj.type] / statistical["全部"]) * 100)
                                element.progress(
                                    view_id + "_progress",
                                    ((statistical[obj.type] / statistical["全部"]) * 100) + "%"
                                )
                                // var $statistical = $("#" + view_id + "_statistical")
                                // layui.each(statistical,function(key,value){
                                //     $statistical.append(
                                //         '<p>'+key+"："+value+"人"+'</p>'
                                //     )
                                // })
                                // $statistical.html([
                                //     '已签到：'+statistical["已签到"]+'人'
                                // ].join("<br>"))
                                layui.each(data, function (_, value) {
                                    laytpl([
                                        '<div class="layui-card" data-user_id="{{ d.user_id }}">',
                                        '<div class="layui-card-body">',
                                        '<div class="title">',
                                        '<img class="layui-circle" src="{{ d.user_headimage }}">',
                                        '<div>',
                                        '<p>{{ d.user_name }}</p>',
                                        '<p>{{ d.sign_in_time?d.sign_in_time:"" }}</p>',
                                        '</div>',
                                        '<span style="float: right;">{{ d.sign_in_type }}</span>',
                                        '</div>',
                                        '<hr>',
                                        '<div class="content">',
                                        '企业名称：{{ d.sign_in_enterprise_name?d.sign_in_enterprise_name:d.enterprise_name }}<br>',
                                        '企业地址：{{ d.sign_in_enterprise_address?d.sign_in_enterprise_address:d.enterprise_address }}<br>',
                                        value.sign_in_type == "未签到" ? '' : '签到位置：{{ d.sign_in_address }}<br>',
                                        '</div>',
                                        '</div>',
                                        '</div>',
                                    ].join("")).render(value, function (res) {
                                        html += res
                                    })
                                })
                            }
                            html += "</div>"
                            var $html = $(html)
                            $html.find("div[data-report_info]").on("click", function () {
                                var $this = $(this)
                                layui.sessionData(view_id, {
                                    key: "report_info",
                                    value: $this.data("report_info")
                                })
                                window.location.hash = "/student/report/edit/type=" + type
                            })
                            next($html, page < res.count);
                            $html.find("div[data-user_id]").on("click", function () {
                                layui.sessionData(view_id, {
                                    key: "user_id",
                                    value: $(this).data("user_id")
                                })
                                window.location.hash = "#/teacher/sign_in/map"
                            })
                            // layui.each($html.find("textarea"), function (key, value) {
                            //     var $value = $(value)
                            //     $value.parent().find("div").height(this.scrollHeight)
                            //     $value.height(this.scrollHeight)
                            // })
                        }
                    })
                }
            });
        }

        view_render({
            type: "已签到"
        })


    })
</script>