<style>
    #teacher_sign_in_map {
        height: 100%;
    }

    #teacher_sign_in_map #teacher_sign_in_map_map {
        width: 100%;
        height: calc(100% - 100px);
    }

    #teacher_sign_in_map #teacher_sign_in_map_info {
        height: 100px;
    }

    .amap-logo,
    .amap-copyright {
        display: none !important;
    }
</style>
<div id="teacher_sign_in_map">
    <div id="teacher_sign_in_map_map">

    </div>
    <!-- <div class="layui-row">
        <div class="layui-col-xs6">
        <button class="layui-btn layui-btn-radius layui-btn-normal" style="margin: 0 auto;display: block;">
        正常签到： 0次
        </button>
        </div>
        <div class="layui-col-xs6">
        <button class="layui-btn layui-btn-radius layui-btn-danger" style="margin: 0 auto;display: block;">
        异常签到： 0次
        </button>
        </div>
        </div> -->
    <div id="teacher_sign_in_map_info">
        <!-- <button class="layui-btn layui-btn-fluid layui-btn-radius">签到</button> -->
    </div>
</div>
<script>
    if (!("geolocation" in window.navigator)) {
        alert("地理位置服务不可用")
    }
    layui.use(["adjfut", "layer", "view"], function () {
        var layer = layui.layer
        var adjfut = layui.adjfut
        var view = layui.view

        var view_id = adjfut.view_id("teacher/sign_in/map")

        var $info = $("#" + view_id + "_info")

        var user_id = layui.sessionData(adjfut.view_id("teacher/sign_in/index"), {
            key: "user_id",
        })

        adjfut.request({
            url: "api/sign_in/map",
            data: {
                user_id: user_id
            },
            success: function (res) {
                if (res.code === 10000) {
                    var data = res.data
                    // var icon = {
                    //     sign_in: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                    //     my: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                    //     enterprise: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png"
                    // }
                    var icon = {
                        sign_in: "./static/images/map_icon_1.png",
                        my: "./static/images/map_icon_2.png",
                        enterprise: "./static/images/map_icon_3.png"
                    }
                    // 今天是否签到
                    var today_sign_in = data.today_sign_in
                    // 签到信息 
                    var sign_in = data.sign_in
                    // 企业信息
                    var enterprise = data.enterprise
                    // 我的信息
                    var my = {}
                    // 签到统计
                    var sign_statistics = {
                        "正常": 0,
                        "异常": 0,
                    }

                    enterprise.enterprise_points = enterprise.enterprise_points.split(",")

                    console.log(sign_in, enterprise)
                    // 初始化地图
                    var map = new AMap.Map(view_id + "_map", {
                        resizeEnable: true,
                        zoom: 16, //初始化地图层级
                        center: enterprise.enterprise_points //初始化地图中心点
                    })
                    // 初始化签到点
                    layui.each(sign_in, function (key, value) {
                        if (!sign_statistics[value.sign_in_type]) {
                            sign_statistics[value.sign_in_type] = 0
                        }
                        sign_statistics[value.sign_in_type]++

                        var sign_in_point = value.sign_in_point.split(",")
                        sign_in[key].marker = new AMap.Marker({
                            icon: icon.sign_in,
                            position: sign_in_point
                        });
                        map.add(sign_in[key].marker)
                    })
                    // 初始化控件
                    var toolBar = new AMap.ToolBar({
                        visible: true
                    })
                    map.addControl(toolBar);
                    toolBar.show();
                    toolBar.showDirection()
                    toolBar.showRuler()
                    // 初始化企业标记
                    enterprise.marker = new AMap.Marker({
                        icon: icon.enterprise,
                        position: enterprise.enterprise_points
                    });
                    enterprise.marker.setLabel({
                        offset: new AMap.Pixel(20, 20),
                        content: "企业"
                    });
                    enterprise.circle = new AMap.Circle({
                        center: enterprise.enterprise_points, // 圆心位置
                        radius: enterprise.enterprise_radius, //半径
                        strokeColor: "red", //线颜色
                        strokeOpacity: 0.5, //线透明度
                        strokeWeight: 1, //线粗细度
                        fillColor: "red", //填充颜色
                        fillOpacity: 0.35 //填充透明度
                    });
                    map.add(enterprise.marker)
                    map.add(enterprise.circle)

                    $info.html([
                        '<div class="layui-row">',
                        '<div class="layui-col-xs6">',
                        '<button class="layui-btn layui-btn-radius layui-btn-normal" style="margin: 0 auto;display: block;">',
                        '正常签到：' + sign_statistics["正常"] + '次',
                        '</button>',
                        '</div>',
                        '<div class="layui-col-xs6">',
                        '<button class="layui-btn layui-btn-radius layui-btn-danger" style="margin: 0 auto;display: block;">',
                        '异常签到：' + sign_statistics["异常"] + '次',
                        '</button>',
                        '</div>',
                        '</div>',
                    ].join(""))

                } else {
                    layer.alert(res.msg, {

                    }, function () {
                        window.history.back(-1)
                    })
                }
                console.log(res)
            }
        })
    })
</script>