<button class="layui-btn" id="adjfut_user_equipment_bind_save">
    批量绑定
</button>
<table class="layui-hide" id="adjfut_user_equipment_bind_table" lay-filter="adjfut_user_equipment_bind_table"></table>

<script type="text/html" id="bar_adjfut_user_equipment_bind_table">
    <a class=" layui-btn layui-btn-danger layui-btn-xs" lay-event="bind">
        绑定
    </a>
</script>
<script>
    layui.use(["adjfut", "form", "layer", "table"], function () {
        var layer = layui.layer;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var table = layui.table;

        var organize_info = layui.sessionData(adjfut.view_id("adjfut/user_equipment/index"), {
            key: "organize_info"
        })

        var token = adjfut.token()

        var view_id = adjfut.view_id("adjfut/user_equipment/bind");
        var form_id = view_id + "_form"
        var table_id = view_id + "_table"
        form.render()

        $("#" + view_id + "_save").on("click", function () {
            var data = []
            layui.each(table.checkStatus(table_id).data, function (_, value) {
                data.push(value.equipment_id)
            })
            bind(data.join(","))
        })

        adjfut.form_required()
        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("adjfut/user_equipment/user_equipment_bind"),
            where: {
                organize_id: organize_info.organize_id
            },
            height: "full-220",
            cols: [
                [{
                    type: "checkbox",
                    width: 80,
                }, {
                    field: "equipment_name",
                    title: "设备名称",
                    width: 150,
                }, {
                    field: "name",
                    title: "收运员",
                    width: 150,
                },{
                    field: "equipment_address",
                    title: "设备所在地",
                    width: 150,
                },{
                    field: "equipment_house",
                    title: "附近小区",
                    width: 150,
                    templet: function (res) {
                        var re = ""
                        if (res.equipment_house == '') {
                            re = '暂无小区'
                        } else {
                            re = res.equipment_house
                        }
                        return re
                    },
                },{
                    field: "equipment_spec",
                    title: "设备规格",
                    width: 150,
                },{
                    field: "equipment_summary",
                    title: "设备类型",
                    width: 150,
                    templet: function (res) {
                        var re = ""
                        if (res.equipment_summary == 1) {
                            re = '深埋桶'
                        } else {
                            re = '移动箱'
                        }
                        return re
                    },
                },{
                    field: "equipment_first",
                    title: "更新时间",
                    width: 150,
                },{
                    field: "equipment_id",
                    title: "模块SN号",
                    width: 150,
                },{
                    field: "equipment_update_status",
                    title: "GPS修正状态",
                    width: 150,
                    templet: function (res) {
                        var re = ""
                        if (res.equipment_update_status == 1) {
                            re = '未修改'
                        } else {
                            re = '已修改'
                        }
                        return re
                    },
                },{
                    title: "操作",
                    fixed: "right",
                    width: 80,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });

        var bind = function (id) {
            // console.log(id)
            adjfut.request({
                
                url: "adjfut/user_equipment/user_equipment_add",
                data: {
                    organize_id: organize_info.organize_id,
                    info: id
                },
                
                success: function (res) {
                    layer.msg(res.msg, {
                        icon: res.code === 0 ? 1 : 5
                    })
                    table.reload(table_id)
                }
                
            })
            
        }

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            console.log(data);
            switch (obj.event) {
                case "bind":
                    layer.confirm("您确定绑定[ " + data.equipment_name + " ]吗？", function (index) {
                        bind(data.equipment_id)
                        layer.close(index);
                    });
                    break;
            }
        });
    });
</script>