<form class="layui-form form" lay-filter="adjfut_role_details_form">
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="role_name" disabled="disabled" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-inline">
                <input type="text"" name="role_price" disabled="disabled" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <textarea name="role_remark" disabled="disabled" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(["adjfut", "form"], function () {
        var form = layui.form;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("adjfut/role/details");
        var form_id = view_id + "_form"

        var role_id = layui.sessionData(view_id, {
            key: "role_id"
        })

        adjfut.request({
            url: "adjfut/role/role_info",
            data: {
                role_id: role_id
            },
            success: function (res) {
                if (res.code === 0) {
                    form.val(form_id, res.data)
                }
                form.render()
            }
        })
    });
</script>