<form class="layui-form form" lay-filter="adjfut_user_edit_form">
    <div class="layui-row">
        
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">
                        <b class="required">*</b>
                        收运员
                    </label>
                    <div class="layui-input-inline">
                        <select name="user_ids" id="user_ids" lay-filter="user_ids" lay-search=""
                            lay-verify="user_ids">
                            <option value="">请选择收运员</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-block">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="adjfut_user_equipment_edit_save">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(["adjfut", "form", "layer", "upload"], function () {
        var layer = layui.layer;
        var form = layui.form;
        var upload = layui.upload;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("adjfut/user_equipment/edit");
        var form_id = view_id + "_form"

        var user_id = layui.sessionData(adjfut.view_id("adjfut/user_equipment/index"), {
            key: "user_id",
        })

        
        $(document).ready(function () {
			add_data();
		});
		function add_data() {
            adjfut.request({
            url: "adjfut/user_equipment/info",
            type: "post",
            data: {
                user_id: user_id
            },
            success: function (res) {
                // console.log(res.data)
                if(res.code == 0){
                    var data = res.data
                    select_for(data);
                    form.render();
                }
            }
        })
		}
        function select_for(data) {
            for (var i = 0; i < data.length; i++) {
                // console.log(data[i])
                $('#user_ids').append('<option value="' + data[i]['user_id'] + '">' + data[i]['user_name'] + '</option>');
            }
		}
        adjfut.form_required()
        form.on("submit(" + view_id + "_save)", function (obj) {
            // console.log(obj)
            var user_name_id = $('#user_ids').val();
            $(obj.elem).attr("disabled", true);
            // console.log(user_name_id)
            obj.field.user_id = user_id
            adjfut.request({
                url: "adjfut/user_equipment/user_equipment_edit",
                data: obj.field,
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        })
                        window.location.reload()
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                complete: function () {
                    $(obj.elem).attr("disabled", false);
                }
            })

            return false;
        })
    });
</script>