<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="left">
                <div id="adjfut_user_equipment_index_tree">

                </div>
            </div>
            <div class="right">
                <button class="layui-btn" id="adjfut_user_equipment_index_bind">
                    绑定设备
                </button>
                <table class="layui-hide" id="adjfut_user_equipment_index_table" lay-filter="adjfut_user_equipment_index_table"></table>

                <script type="text/html" id="bar_adjfut_user_equipment_index_table">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                        收运员
                    </a>
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "tree", "form", "layer", "table", "view"], function () {
        var view = layui.view;
        var layer = layui.layer;
        var tree = layui.tree;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var table = layui.table;

        var view_id = adjfut.view_id("adjfut/user_equipment/index");
        var token = adjfut.token();
        var tree_id = view_id + "_tree";
        var table_id = view_id + "_table";
        // console.log(view_id);
        adjfut.crumbs([{
            name: "设备管理",
            url: false
        }, {
            name: "设备组织",
            url: "#/adjfut/user_equipment/index"
        }])

        $("#" + view_id + "_bind").on("click", function () {
            var organize_info = layui.sessionData(view_id, {
                key: "organize_info"
            })
            if (organize_info) {
                if (organize_info.organize_id) {
                    layer.open({
                        id: view_id + "_power",
                        type: 1,
                        area: ["90%", "90%"],
                        title: "绑定组织[ " + organize_info.organize_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("adjfut/user_equipment/bind")
                        },
                        end: function () {
                            table.reload(table_id)
                        }
                    });
                } else {
                    layer.msg("请选择设备组织", {
                        icon: 5
                    })
                }
            } else {
                layer.msg("请选择设备组织", {
                    icon: 5
                })
            }
        })

        adjfut.request({
            url: "adjfut/user_equipment/user_equipment_tree",
            success: function (res) {
                tree.render({
                    id: tree_id,
                    elem: "#" + tree_id,
                    onlyIconControl: true,
                    data: res.data,
                    
                    click: function (obj) {
                        var data = obj.data.data
                        layui.sessionData(view_id, {
                            key: "organize_info",
                            value: data
                        })
                        table.reload(table_id, {
                            where: $.extend(token, {
                                organize_id: data.organize_id
                            })
                            
                        })
                        // console.log(where);
                    }
                    
                });
                // console.log(res.data)
            }
        })

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("adjfut/user_equipment/user_equipment_list"),
            height: "full-220",
            cols: [
                [{
                    field: "equipment_name",
                    title: "设备名称",
                    width: 150,
                }, {
                    field: "user_name",
                    title: "收运员",
                    width: 150,
                },{
                    field: "equipment_address",
                    title: "设备所在地",
                    width: 150,
                },{
                    field: "equipment_house",
                    title: "附近小区",
                    width: 150,
                    templet: function (res) {
                        var re = ""
                        if (res.equipment_house == ''){
                            re = '暂无小区'
                        } else {
                            re = res.equipment_house
                        }
                        return re
                    },
                },{
                    field: "equipment_spec",
                    title: "设备规格",
                    width: 150,
                },{
                    field: "equipment_summary",
                    title: "设备类型",
                    width: 150,
                    templet: function (res) {
                        var re = ""
                        if (res.equipment_summary == 1) {
                            re = '深埋桶'
                        } else {
                            re = '移动箱'
                        }
                        return re
                    },
                },{
                    field: "equipment_first",
                    title: "更新时间",
                    width: 150,
                },{
                    field: "equipment_id",
                    title: "模块SN号",
                    width: 150,
                },{
                    field: "equipment_update_status",
                    title: "GPS修正状态",
                    width: 150,
                    templet: function (res) {
                        var re = ""
                        if (res.equipment_update_status == 1) {
                            re = '未修改'
                        } else {
                            re = '已修改'
                        }
                        return re
                    },
                },{
                    title: "操作",
                    fixed: "right",
                    width: 80,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });



        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "delete":
                if(data.hasOwnProperty("organize_id")){
                    layer.open({
                    id: view_id + "_edit",
                    type: 1,
                    area: ["50%", "50%"],
                    title: "分配收运员[ " + data.equipment_name + " ]",
                    closeBtn: 2,
                    success: function () {
                        //有这个key的
                        console.log(view_id + "_edit")
                        layui.sessionData(view_id, {
                            key: "user_id",
                            value: data
                        })
                        view(this.id)
                        .render("adjfut/user_equipment/edit", data)
                        .done(function () {
                            form.val("adjfut_user_edit_form", data)
                        });
                    },
                    end: function () {
                        // table.reload(table_id)
                    }
                });
                }else{
                    layer.msg('请前往厂商或单位绑定');
                }
                
                break;
            }
        });





    });
</script>