<div class="layui-row">
    <div class="layui-col-md6">
        <div id="adjfut_user_organize_power_tree">

        </div>
    </div>
    <div class="layui-col-md6">
        <button class="layui-btn" id="adjfut_user_organize_power_save">
            保存
        </button>
    </div>
</div>
<script>
    layui.use(["adjfut", "tree", "layer"], function () {
        var layer = layui.layer;
        var tree = layui.tree;
        var adjfut = layui.adjfut;

        var role_id = layui.sessionData(adjfut.view_id("adjfut/role/index"), {
            key: "role_id"
        })

        var token = adjfut.token()

        var view_id = adjfut.view_id("adjfut/user_organize/power");
        var tree_id = view_id + "_tree"

        $("#" + view_id + "_save").on("click", function () {
            var $this = $(this)
            $this.attr("disabled", true)
            var data = [];
            layui.each($("#" + tree_id).find("input"), function (_, value) {
                var $value = $(value)
                if ($value.val() && $value.is(":checked")) {
                    data.push($value.val())
                }
            })
            adjfut.request({
                url: "adjfut/user_organize/user_organize_power",
                data: {
                    role_id: role_id,
                    info: data.join(",")
                },
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        })
                        layer.closeAll("page")
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        })
                    }
                },
                complete: function () {
                    $this.attr("disabled", false)
                }
            })
        })

        adjfut.request({
            url: "adjfut/user_organize/user_organize_menu",
            data: {
                role_id: role_id
            },
            success: function (res) {
                if (res.code === 0) {
                    tree.render({
                        id: tree_id,
                        elem: $("#" + tree_id),
                        data: res.data,
                        onlyIconControl: true,
                        showCheckbox: true
                    })
                    tree.setChecked(tree_id, res.checked);
                }
            }
        })
    });
</script>