<div id="LAY_app" class="layadmin-tabspage-none">
    <div id="crumbs"></div>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        /* .top_title {
            width: 100%;
            background-image: linear-gradient(to right, #20b3dc, #07a4ea);
            text-align: center;
            color: white;
            font-size: 18px;
            padding: 10px 0;
            height: 45px;
        } */

        /* .return_item {
            float: left;
            position: absolute;
            left: 10px;
        } */

        /* .meun_item {
            float: right;
            margin-right: 10px;
        } */

        /* .user_head_portrait {
            float: right;
            margin-right: 10px;
            margin-top: -3px;
        } */

        .banner {
            width: 100%;
        }

        .banner img {
            width: 100%;
        }

        /* .switch {
            width: 70%;
            margin: -20px auto 30px auto;
            background-color: white;
            height: 40px;
            display: flex;
            align-items: center;
            position: relative;
            border-radius: 60px;
            box-shadow: 0px 0px 3px 0.5px #cccccc;
        } */

        /* .switch div {
            width: 52%;
            text-align: center;
            border-radius: 50px;
        } */

        /* .switch div:first-child {
            background-color: #18aee8;
            color: white;
            padding: 10px 0;
            float: left;
            left: 0;
            position: absolute;
        } */

        /* .switch div:last-child {
            padding: 10px 0;
            float: right;
            right: 0;
            position: absolute;
        } */

        .layui-form {
            width: 100%;
            /*height: 600px;*/
            background-color: #ffffff;
            position: relative;
        }

        /* .teacher_form, */
        .student_form {
            width: 90%;
            position: absolute;
            top: -30px;
            left: 5%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px #999999;
            /* background-color: skyblue; */
        }

        .student_form p {
            /* line-height: 20px; */
            margin: 20px 0;
            font-size: 22px;
            font-weight: bolder;
            font-family: '微软雅黑 CN';
        }

        /* .teacher_form p,
        .student_form p {
            margin: 10px 0px;
        } */

        /* .teacher_form .phone, */

        .phone_form,
        .code_form {
            width: 90%;
            padding: 20px 20px 5px 20px;
            border-bottom: 1px solid #d3dfef;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .phone_form img {
            width: 13px;
            height: 20px;
            margin-right: 10px;
        }

        .code_form img {
            width: 15px;
            height: 18px;
            margin-right: 10px;
        }

        .student_form .phone {
            display: block;
            width: 95%;
            padding: 8px 10px;
            border-radius: 5px;
            border: none;
            outline: none;
        }

        /* .teacher_form .verification, */
        .student_form .verification {
            width: 60%;
            padding: 8px 10px;
            border-radius: 5px;
            border: none;
            outline: none;
        }

        /* .teacher_form .verification_code, */
        .student_form .verification_code {
            width: 30%;
            margin-left: 5%;
            text-align: center;
            color: #1aafe8;
            background-color: #ffffff;
            padding: 6px 0;
            border-radius: 5px;
            border: none;
        }

        /* .teacher_form .submin, */
        .student_form .submin {
            width: 70%;
            margin: 50px auto;
            text-align: center;
            color: #ffffff;
            border-radius: 50px;
            background-color: #1aafe8;
            padding: 10px;
            font-family: '思源黑体 CN';
            border: none;
            display: block;
        }
    </style>
    <!-- <div class="top_title">
        <img src="./static/images/left.png" alt="" width="20px" height="20px" class="return_item">
        用户注册
    </div> -->
    <div class="banner">
        <img src="./static/images/top.png" alt="">
        <!-- <div class="switch">
            <div id="student">我是学生</div>
            <div id="teacher">我是老师</div>
        </div> -->
    </div>
    <form class="layui-form">
        <div class="student_form">
            <!-- <p>手机号码：</p> -->
            <p>用户注册</p>
            <div class="phone_form">
                <img src="./static/images/phone.png" alt="">
                <input type="text" name="phone" class="phone" lay-verify="required|phone" lay-label="手机号码"
                    placeholder="请输入您的手机号" autocomplete="off" lay-reqtext="您的手机号">
            </div>
            <!-- <p>验证码</p> -->
            <div class="code_form">
                <img src="./static/images/code.png" alt="">
                <input type="text" name="code" class="verification" lay-verify="required" lay-label="验证码"
                    placeholder="请输入验证码" autocomplete="off" lay-reqtext="验证码">
                <!-- <div class="verification_code">获取验证码</div> -->
                <button class="verification_code">
                    获取验证码
                </button>
            </div>
            <button class="submin" lay-submit="" lay-filter="bind_user">
                绑定
            </button>
        </div>
        <!-- <div class="teacher_form">
        <p>手机号码：</p>
        <input type="text" name="phone" class="phone" lay-verify="required|phone" lay-label="手机号码"
            placeholder="请输入手机号码">
        <p>验证码</p>
        <div style="display: flex;align-items: center;">
            <input type="text" name="code" class="verification" lay-verify="required" lay-label="验证码"
                placeholder="请输入验证码">
            <div class="verification_code">验证码</div>
        </div>
        <button class="submin" lay-submit lay-filter="bind_user">
            确认提交
        </button>
    </div> -->
    </form>
    <script>
        layui.use(["adjfut", "form", "layer"], function () {
            var layer = layui.layer;
            var form = layui.form;

            var search = layui.router().search

            var TOKEN = search.TOKEN

            var adjfut = layui.adjfut;

            // $('.teacher_form').css('display', 'none');
            // $('#student').click(function () {
            //     // $('.teacher_form').css('display', 'none');
            //     // $('.student_form').css('display', 'block');
            //     $(this).css('background-color', '#18aee8').css('color', 'white').css('z-index', '100');
            //     $('#teacher').css('background-color', 'white').css('color', 'black').css('z-index', '0');
            // })

            // $('#teacher').click(function () {
            //     // $('.teacher_form').css('display', 'block');
            //     // $('.student_form').css('display', 'none');
            //     $(this).css('background-color', '#18aee8').css('color', 'white').css('z-index', '100');
            //     $('#student').css('background-color', 'white').css('color', 'black').css('z-index', '0');
            // })

            adjfut.form_required()

            $(".verification_code").on("click", function () {
                var $elem = $(this)
                $elem.attr("disabled", true);
                adjfut.request({
                    url: "api/gzh/send_sms",
                    data: {
                        phone: $("input[name=phone]").val()
                    },
                    success: function (res) {
                        if (res.code === 10000) {
                            layer.msg(res.msg, {
                                icon: 1
                            })
                            var time = 60
                            var a = setInterval(function () {
                                time--
                                $elem.html(time + "秒")
                                $elem.attr("disabled", true)
                                if (time == 0) {
                                    clearInterval(a)
                                    $elem.html("获取验证码")
                                    $elem.attr("disabled", false)
                                }
                            }, 1000)
                        } else {
                            layer.msg(res.msg, {
                                icon: 5
                            })
                        }
                    },
                    complete: function () {
                        $elem.attr("disabled", false);
                    }
                });
                return false;
            });

            form.on("submit(bind_user)", function (data) {
                $(data.elem).attr("disabled", true);
                adjfut.request({
                    url: "api/gzh/bind_phone",
                    data: data.field,
                    success: function (res) {
                        if (res.code === 10000) {
                            layer.msg(res.msg, {
                                icon: 1
                            })
                            setTimeout(function () {
                                window.location.hash = "/token"
                            }, 800)
                        } else {
                            layer.msg(res.msg, {
                                icon: 5
                            })
                        }
                    },
                    complete: function () {
                        $(data.elem).attr("disabled", false);
                    }
                });
                return false;
            });

            // adjfut.request({
            //     url: "api/gzh/userinfo",
            //     success: function (res) {
            //         console.log(res)
            //         if(res.code === 1000){
            //             switch (res.action) {
            //                 case "bind_phone":
            //                     window.location.hash = "/bind_phone"
            //                     break;

            //                 default:
            //                     break;
            //             }
            //         }else{
            //             layer.alert(res.msg,{
            //                 icon: 5
            //             })
            //         }
            //     }
            // })

            // window.location.hash = "/";
        });
    </script>
</div>