<style>
	* {
		margin: 0;
		padding: 0;
	}

	html,
	body {
		height: 100%;
	}

	.layui-nav .layui-nav-item a {
		/*padding: 0;*/
	}

	.layui-nav-more {
		display: none;
	}

	.search {
		padding: 10px 0;
	}

	.form {
		padding: 10px 10px 10px 0;
	}

	.underline {
		text-decoration: underline;
	}

	.left {
		display: inline-block;
		width: 215px;
		height: 100%;
		box-sizing: border-box;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.right {
		height: 100%;
		display: inline-block;
		vertical-align: top;
		overflow: auto;
		width: calc(100% - 240px) !important;
		padding-right: 10px;
	}

	.required {
		color: red;
	}

	.clear {
		clear: both
	}

	.layui-body {
		margin-bottom: 50px;
	}

	.footer {
		text-align: center;
		background: White;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 55px;
		z-index: 999;
		display: flex;
		justify-content: space-around;
	}

	.footer2 {
		margin-left: 5%;
		text-align: center;
		background: White;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 90%;
		height: 55px;
		z-index: 999;
		display: flex;
		justify-content: space-around;

	}

	.foot_list {
		width: 50px;
		height: 50px;
	}

	.foot_list a {
		width: 50px;
		height: 50px;
	}

	.foot_list img {
		/* width: 30px; */
		height: 22px;
		margin-top: 10px;
	}

	.foot_list p {
		width: 50px;
		height: 10px;
		font-size: 12px;
		margin-bottom: 5px;
		font-weight: bold;
		/* color: #1E9FFF; */
		/* color: #ccc; */
	}
</style>
<div id="layout" class="layui-layout layui-layout-admin">
	<div class="layui-header" style="box-shadow: none;">
		<!-- 头部区域 -->
		<ul class="layui-nav layui-layout-left">
			<!-- <li class="layui-nav-item layadmin-flexible" lay-unselect>
				<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
					<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
				</a>
			</li> -->

			<li class="layui-nav-item" lay-unselect id="back">
				<a href="javascript:;" title="返回" onclick="window.history.back(-1)">
					<i class="layui-icon layui-icon-return"></i>
				</a>
			</li>
			<li class="layui-nav-item" lay-unselect>
				<a href="#/token" title="后台首页">
					<i class="layui-icon layui-icon-home"></i>
				</a>
			</li>
			<li class="layui-nav-item" lay-unselect>
				<a href="javascript:;" layadmin-event="refresh" title="刷新">
					<i class="layui-icon layui-icon-refresh-3"></i>
				</a>
			</li>
		</ul>
		<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
			<!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
				<a href="javascript:;" layadmin-event="fullscreen">
					<i class="layui-icon layui-icon-screen-full"></i>
				</a>
			</li> -->
			<li class="layui-nav-item">
				<!-- <script type="text/html" template lay-url="{{ layui.setter.request.server }}adjfut/api/user_info"
					lay-done="layui.element.render('nav', 'layadmin-layout-right');"> -->
				<a href="javascript:;" onclick="
				var $dl = $(this).parent().find('dl')
				$dl.hasClass('layui-show')?$dl.removeClass('layui-show'):$dl.addClass('layui-show')
				">
					<!-- <cite>{{ d.data.user_name }}</cite> -->
					<!-- <img class="user_headimage layui-circle" style="display: block;height: 40px;margin: 5px;"> -->
					<!--<cite class="user_name"></cite>-->
					<!-- <cite><i class="layui-icon layui-icon-more"></i></cite> -->
					<cite>
						<img src="./static/images/a.png" style="height: 25px;display: inline;" alt="">
					</cite>
				</a>
				<dl class="layui-nav-child">
					<!-- (key) {
						case value:
							
							break;
					
						default:
							break;
					} -->
					<script type="text/html" template>
						{{# var role_name = layui.data("userinfo",{key:"data"}).role_name }}
						{{# if(role_name == "学生"){ }}
						<a href="#/student/notice/index">通知公告</a>
						<a href="#/student/sign_in/index">我的签到</a>
						<a href="#/student/report/index/type=日报">我的日报</a>
						<a href="#/student/report/index/type=周报">我的周报</a>
						<a href="#/student/report/index/type=月报">我的月报</a>
						<a href="#/student/internship_summary/index">我的总结</a>
						<a href="">实习评价</a>
						{{# }else if(role_name == "老师"){ }}
						<a href="">通知公告</a>
						<a href="">班级签到</a>
						<a href="">班级日报</a>
						<a href="">班级周报</a>
						<a href="">班级月报</a>
						<a href="">班级总结</a>
						<a href="">实习评价</a>
						{{# } }}
					</script>

					<!-- <dd><a lay-href="user/info/personal">基本资料</a></dd>
				<dd><a lay-href="set/user/password">修改密码</a></dd> -->
					<!-- <hr> -->
					<!-- <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd> -->
				</dl>
				</script>
			</li>
		</ul>
	</div>

	<!-- 侧边菜单 -->
	<!-- <div class="layui-side layui-side-menu">
		<div class="layui-side-scroll">
			<script type="text/html" template lay-url="{{ layui.setter.request.server }}adjfut/menu/menu" lay-done="layui.element.render('nav', 'layadmin-system-side-menu');" id="TPL_layout">
				<div class="layui-logo" lay-href="">
					<span>{{ layui.setter.name || 'layuiAdmin' }}</span>
				</div>

				<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
					{{# 
          var path =  layui.router().path
          ,pathURL = layui.admin.correctRouter(path.join('/'))
          ,dataName = layui.setter.response.dataName;
          
          layui.each(d[dataName], function(index, item){ 
            var hasChildren = typeof item.list === 'object' && item.list.length > 0
            ,classSelected = function(){
              var match = path[0] == item.name || (index == 0 && !path[0]) 
              || (item.jump && pathURL == layui.admin.correctRouter(item.jump)) || item.spread;
              if(match){
                return hasChildren ? 'layui-nav-itemed' : 'layui-this';
              }
              return '';
            }
            ,url = (item.jump && typeof item.jump === 'string') ? item.jump : item.name;
        }}
					<li data-name="{{ item.name || '' }}" data-jump="{{ item.jump || '' }}" class="layui-nav-item {{ classSelected() }}">
						<a href="javascript:;" {{ hasChildren ? '' : 'lay-href="'+ url +'"' }} lay-tips="{{ item.title }}" lay-direction="2">
							<i class="layui-icon {{ item.icon }}"></i>
							<cite>{{ item.title }}</cite>
						</a>
						{{# if(hasChildren){ }}
						<dl class="layui-nav-child">
							{{# layui.each(item.list, function(index2, item2){ 
                var hasChildren2 = typeof item2.list == 'object' && item2.list.length > 0
                ,classSelected2 = function(){
                  var match = (path[0] == item.name && path[1] == item2.name) 
                  || (item2.jump && pathURL == layui.admin.correctRouter(item2.jump)) || item2.spread;
                  if(match){
                    return hasChildren2 ? 'layui-nav-itemed' : 'layui-this';
                  }
                  return '';
                }
                ,url2 = (item2.jump && typeof item2.jump === 'string') 
                  ? item2.jump 
                : [item.name, item2.name, ''].join('/');
              }}
							<dd data-name="{{ item2.name || '' }}" data-jump="{{ item2.jump || '' }}" {{ classSelected2() ? ('class="'+ classSelected2() +'"') : '' }}>
								<a href="javascript:;" {{ hasChildren2 ? '' : 'lay-href="'+ url2 +'"' }}>{{ item2.title }}</a>
								{{# if(hasChildren2){ }}
								<dl class="layui-nav-child">
									{{# layui.each(item2.list, function(index3, item3){ 
                        var match = (path[0] == item.name && path[1] == item2.name && path[2] == item3.name) 
                        || (item3.jump && pathURL == layui.admin.correctRouter(item3.jump))
                        ,url3 = (item3.jump && typeof item3.jump === 'string') 
                          ? item3.jump 
                        : [item.name, item2.name, item3.name].join('/')
                      }}
									<dd data-name="{{ item3.name || '' }}" data-jump="{{ item3.jump || '' }}" {{ match ? 'class="layui-this"' : '' }}>
										<a href="javascript:;" lay-href="{{ url3 }}" {{ item3.iframe ? 'lay-iframe="true"' : '' }}>{{ item3.title }}</a>
									</dd>
									{{# }); }}
								</dl>
								{{# } }}
							</dd>
							{{# }); }}
						</dl>
						{{# } }}
					</li>
					{{# }); }}
				</ul>
			</script>
		</div>
	</div> -->


	<!-- 页面标签 -->
	<script type="text/html" template lay-done="layui.element.render('nav', 'layadmin-pagetabs-nav')">
		{{# if(layui.setter.pageTabs){ }}
		<div class="layadmin-pagetabs" id="LAY_app_tabs">
			<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
			<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
			<div class="layui-icon layadmin-tabs-control layui-icon-down">
				<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;"></a>
						<dl class="layui-nav-child layui-anim-fadein">
							<dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
							<dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
							<dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
				<ul class="layui-tab-title" id="LAY_app_tabsheader">
					<li lay-id="/"><i class="layui-icon layui-icon-home"></i></li>
				</ul>
			</div>
		</div>
		{{# } }}
	</script>


	<!-- 主体内容 -->
	<div class="layui-body" id="LAY_app_body">
		<!-- <div id="crumbs"></div> -->
		<div class="layadmin-tabsbody-item layui-show"></div>
	</div>
	<div class="footer" id="footer">
		<script type="text/html" template>
			{{# var role_name = layui.data("userinfo",{key:"data"}).role_name }}
			{{# if(role_name == "学生"){ }}
			<div class="foot_list" data-href="/student/index/index">
				<img data-active-img="./static/images/home.png" data-img="./static/images/home2.png">
				<p>首页</p>
			</div>
			<div class="foot_list" data-href="/student/report/index/type=日报">
				<img data-active-img="./static/images/yuebao1.png" data-img="./static/images/yuebao2.png">
				<p>日报</p>
			</div>
			<div class="foot_list" data-href="/student/sign_in/index">

				<img data-active-img="./static/images/qiandaob1.png" data-img="./static/images/qiandaob2.png">
				<p>签到</p>

			</div>
			<div class="foot_list" data-href="/student/me/index">
				<img data-active-img="./static/images/wode1.png" data-img="./static/images/wode2.png">
				<p>我的</p>
			</div>
			{{# }else if(role_name == "老师"){ }}

			{{# } }}
		</script>
		<!-- <div class=" footer2" id="foot_list" >
        <div class="foot_list foot_lista"><img src="./static/images/home.png"><p>首页</p></div>
        <div class="foot_list foot_listb"><img src="./static/images/yuebao2.png"><p>日报</p></div>
        <div class="foot_list foot_listc"><img src="./static/images/qiandaob2.png"><p>签到</p></div>
        <div class="foot_list foot_listd"><img src="./static/images/wode2.png"><p>我的</p></div>
       </div> -->
	</div>
	<!-- 辅助元素，一般用于移动设备下遮罩 -->
	<div class="layadmin-body-shade" layadmin-event="shade"></div>

</div>

<script>
	layui.use(["adjfut"], function () {
		var adjfut = layui.adjfut

		var view_id = adjfut.view_id("layout")

		var userinfo = layui.data("userinfo", {
			key: "data"
		})

		if (userinfo) {
			$("#" + view_id).find(".user_headimage").attr("src", userinfo.user_headimage)
			$("#" + view_id).find(".user_headimage").attr("alt", userinfo.user_name)
		}
		// adjfut.request({
		// 	url: "api/gzh/userinfo",
		// 	success: function (res) {
		// 		if (res.code === 10000) {
		// 			var data = res.data
		// 			layui.sessionData("userinfo", {
		// 				key: "data",
		// 				value: data
		// 			})
		// 			// 	$("#"+view_id).find(".user_name").html(data.user_name)
		// 			$("#" + view_id).find(".user_headimage").attr("src", data.user_headimage)
		// 			$("#" + view_id).find(".user_headimage").attr("alt", data.user_name)
		// 		} else {
		// 			layer.alert(res.msg, {
		// 				icon: 5
		// 			}, function () {
		// 				window.history.back(-1)
		// 			})
		// 		}
		// 		console.log(res)
		// 	}
		// })
	})

	// var url = window.location.href;
	// if(url == 'http://localhost/training/public/front_end/start/#/student/index/index' ){
	// 	console.log("sdsadsad") 


	// 	document.getElementById('foot_lista').src='./static/images/home.png'
	// }else{
	// 	document.getElementById('foot_lista').src='./static/images/home.png'
	// }
	// console.log("url",url)
</script>