<form class="layui-form form" lay-filter="adjfut_role_details_form">
    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="role_name" disabled="disabled" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">简介</label>
                    <div class="layui-input-inline">
                        <textarea name="role_remark" disabled="disabled" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(["adjfut", "form"], function () {
        var form = layui.form;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("adjfut/role/details");
        var form_id = view_id + "_form"

        var role_id = layui.sessionData(adjfut.view_id("adjfut/role/index"), {
            key: "role_id"
        })

        adjfut.request({
            url: "adjfut/role/role_info",
            data: {
                role_id: role_id
            },
            success: function (res) {
                if (res.code === 0) {
                    form.val(form_id, res.data)
                }
                form.render()
            }
        })
    });
</script>