<form class="layui-form form" lay-filter="adjfut_role_edit_form">
    <input type="hidden" name="role_id" lay-verify="required" class="layui-input">
    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="role_name" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">简介</label>
                    <div class="layui-input-inline">
                        <textarea name="role_remark" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="adjfut_role_edit_save">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(["adjfut", "form"], function () {
        var form = layui.form;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("adjfut/role/edit");
        var form_id = view_id + "_form"

        var role_id = layui.sessionData(adjfut.view_id("adjfut/role/index"), {
            key: "role_id"
        })

        adjfut.request({
            url: "adjfut/role/role_info",
            data: {
                role_id: role_id
            },
            success: function (res) {
                if (res.code === 0) {
                    console.log(res.data)
                    form.val(form_id, res.data)
                }
                form.render()
            }
        })

        adjfut.form_required()

        form.on("submit(" + view_id + "_save)", function (obj) {
            $(obj.elem).attr("disabled", true);
            adjfut.request({
                url: "adjfut/role/role_edit",
                data: obj.field,
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        })
                        layer.closeAll()
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                complete: function () {
                    $(obj.elem).attr("disabled", false);
                }
            })

            return false;
        })
    });
</script>