<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header search">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="role_name" placeholder="请输入名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <button class="layui-btn" lay-submit="" lay-filter="adjfut_role_index_table_search">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="adjfut_role_index_table" lay-filter="adjfut_role_index_table"></table>
            <script type="text/html" id="adjfut_role_index_table_status">
                <input type="checkbox" value="{{ d.role_id }}" lay-skin="switch" lay-text="启用|停用" lay-filter="adjfut_role_index_table_status" {{ d.role_status == 1 ? "checked" : "" }}>
            </script>

            <script type="text/html" id="bar_adjfut_role_index_table">
                <a class="layui-btn layui-btn-xs" lay-event="detail">
                    详情
                </a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">
                    编辑
                </a>
                <a class="layui-btn layui-btn-xs" lay-event="power">
                    授权
                </a>
                <a class=" layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                    删除
                </a>
            </script>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "table", "form", "layer", "util", "view"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("adjfut/role/index");
        var table_id = view_id + "_table";

        adjfut.crumbs([{
            name: "系统设置",
            url: false
        }, {
            name: "用户角色",
            url: false
        }], [{
            name: "添加角色",
            click: function () {
                layer.open({
                    id: view_id + "_add",
                    type: 1,
                    area: ["50%", "80%"],
                    title: "新增角色",
                    closeBtn: 2,
                    success: function () {
                        view(this.id).render("adjfut/role/add")
                    },
                    end: function () {
                        table.reload(table_id);
                    }
                });
            }
        }]);

        form.on("submit(" + table_id + "_search)", function (obj) {
            table.reload(table_id, {
                where: obj.field
            });
            return false;
        });

        form.on("switch(" + view_id + "_table_status)", function (obj) {
            adjfut.request({
                url: "adjfut/role/role_status",
                data: {
                    role_id: obj.value
                },
                success: function (res) {
                    table.reload(table_id);
                    layer.msg(res.msg, {
                        icon: res.code === 0 ? 1 : 5
                    })
                }
            })
        });

        // form.on("switch(" + view_id + "_table_status)", function (obj) {
        //     adjfut.request({
        //         url: "adjfut/role/role_status",
        //         data: {
        //             role_id: obj.value

        //         },
        //         success: function (res) {
        //             table.reload(table_id);
        //             layer.msg(res.msg, {
        //                 icon: res.code === 0 ? 1 : 5
        //             })
        //         }
        //     })
        // });

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("adjfut/role/role_list"),
            height: "full-220",
            cols: [
                [{
                    field: "role_name",
                    title: "名称",
                    width: 150,
                }, {
                    title: "绑定人数",
                    width: 120,
                    event: "bind_user",
                    templet: function (res) {
                        return "<b class='underline'>" + res.view.length + "人</b>"
                    }
                }, {
                    field: "role_remark",
                    title: "备注",
                    width: 150,
                }, {
                    title: "状态",
                    width: 110,
                    templet: "#" + table_id + "_status",
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 400,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "bind_user":
                    var html = ""
                    layui.each(data.view, function (_, value) {
                        html += value.user_name
                    })
                    layer.open({
                        id: view_id + "_detail",
                        type: 1,
                        area: ["50%", "50%"],
                        title: "绑定用户角色[ " + data.role_name + " ]",
                        closeBtn: 2,
                        content: html
                    });
                    break;
                case "delete":
                    layer.confirm("您确定删除[ " + data.role_name + " ]吗？", function (index) {
                        adjfut.request({
                            url: "adjfut/role/role_delete",
                            data: data,
                            success: function (res) {
                                table.reload(table_id);
                                layer.msg(res.msg, {
                                    icon: res.code === 0 ? 1 : 5
                                })
                            }
                        });
                        layer.close(index);
                    });
                    break;
                case "edit":
                    layer.open({
                        id: view_id + "_edit",
                        type: 1,
                        area: ["50%", "50%"],
                        title: "编辑角色[ " + data.role_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            layui.sessionData(view_id, {
                                key: "role_id",
                                value: data.role_id
                            })
                            view(this.id)
                                .render("adjfut/role/edit")
                        },
                        end: function () {
                            table.reload(table_id)
                        }
                    });
                    break;
                case "detail":
                    layer.open({
                        id: view_id + "_detail",
                        type: 1,
                        area: ["50%", "50%"],
                        title: "角色详情[ " + data.role_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            layui.sessionData(view_id, {
                                key: "role_id",
                                value: data.role_id
                            })
                            view(this.id)
                                .render("adjfut/role/details")
                        }
                    });
                    break;
                case "power":
                    layer.open({
                        id: view_id + "_power",
                        type: 1,
                        area: ["90%", "90%"],
                        title: "角色授权[ " + data.role_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            layui.sessionData(view_id, {
                                key: "role_id",
                                value: data.role_id
                            })
                            view(this.id)
                                .render("adjfut/user_role/power")
                        }
                    });
                    break;
            }
        });
    });
</script>