<style>
    #teacher_report_index .layui-tab-title li {
        margin: 0 3px
    }

    #teacher_report_index #teacher_report_index_content .layui-card {
        margin: 0 0 10px 0;
    }

    #teacher_report_index #teacher_report_index_content .title {
        height: 50px;
        margin: 0 0 10px 0;
    }

    #teacher_report_index #teacher_report_index_content .title img {
        display: block;
        height: 100%;
        float: left;
    }

    #teacher_report_index #teacher_report_index_content .title div {
        margin: 0 10px;
        float: left;
    }

    #teacher_report_index #teacher_report_index_content .content {
        position: relative;
    }
</style>
<div id="teacher_report_index">
    <!-- <div class="layui-form-item"> -->
    <!-- <label class="layui-form-label">
            请选择日期
        </label> -->
    <!-- <div class="layui-input-block"> -->
    <input type="text" class="layui-input" name="date">
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div style="padding: 5px 0;">
        <div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="teacher_report_index_progress">
            <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
        </div>
    </div> -->
    <div class="layui-card">
        <div class="layui-card-title">
            <div class="layui-tab layui-tab-brief" lay-filter="teacher_report_index_tab">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="日报">日报</li>
                    <li lay-id="周报">周报</li>
                    <li lay-id="月报">月报</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="teacher_report_index_content">


    </div>
</div>
<script>
    layui.use(["adjfut", "flow", "element", "laytpl", "laydate"], function () {
        var adjfut = layui.adjfut
        var flow = layui.flow
        var element = layui.element
        var laytpl = layui.laytpl
        var laydate = layui.laydate

        laydate.render({
            elem: 'input[name=date]',
            value: new Date(),
            showBottom: false,
            done: function (value) {
                var type = $("div[lay-filter=" + view_id + "_tab]").find(".layui-this").attr("lay-id")
                view_render({
                    type: type,
                    date: value
                })
            }
        });

        element.render()

        var view_id = adjfut.view_id("teacher/report/index")
        element.on('tab(' + view_id + '_tab)', function () {
            view_render({
                type: $(this).attr("lay-id")
            })
        });

        var view_render = function (obj) {
            $('#' + view_id + "_content").html("")
            flow.load({
                elem: '#' + view_id + "_content",
                isAuto: false,
                isLazyimg: true,
                done: function (page, next) {
                    adjfut.request({
                        url: "api/report/student_list",
                        data: $.extend(obj, {
                            page: page,
                        }),
                        success: function (res) {
                            var html = "<div>"
                            if (res.code == 10000) {
                                var data = res.data
                                var statistical = res.statistical

                                // element.progress(
                                //     view_id + "_progress",
                                //     ((statistical[obj.type] / statistical["全部"]) * 100) + "%"
                                // )

                                layui.each(data, function (_, value) {
                                    laytpl([
                                        '<div class="layui-card">',
                                        '<div class="layui-card-body">',
                                        '<div class="title">',
                                        '<img class="layui-circle" src="{{ d.user_headimage }}">',
                                        '<div>',
                                        '<p>{{ d.user_name }}的{{ d.report_type }}</p>',
                                        '<p>{{ d.report_time }} 第{{ d.report_week }}周</p>',
                                        '</div>',
                                        '<span style="float: right;">{{ d.report_audit }}</span>',
                                        '</div>',
                                        '<hr>',
                                        '<div class="content">',
                                        '<textarea class="layui-textarea" disabled="disabled" style="border: none;padding: 6px 0;">',
                                        '{{ d.report_content }}',
                                        '</textarea>',
                                        '</div>',
                                        (value.report_audit == "审核中") ? [
                                            '<div class="operation">',
                                            '<button data-action="success" data-report_id="{{ d.report_id }}" class="layui-btn layui-btn-radius layui-btn-normal">',
                                            '审核通过',
                                            '</button>',
                                            '<button data-action="fail" data-report_id="{{ d.report_id }}" class="layui-btn layui-btn-radius layui-btn-danger">',
                                            '审核不通过',
                                            '</button>',
                                            '<div>',
                                        ].join("") : '',
                                        '</div>',
                                        '</div>',
                                    ].join("")).render(value, function (res) {
                                        html += res
                                    })
                                })
                            }
                            html += "</div>"
                            var $html = $(html)
                            $html.find("button[data-action]").on("click", function () {
                                var data = $(this).data()
                                var action = data.action
                                var report_id = data.report_id
                                layer.prompt({
                                    formType: 2,
                                    title: (action == "success") ? "请输入通过理由" : "请输入拒绝理由",
                                    value: (action == "success") ? "通过" : "",
                                    // area: ['100%', '100%'] //自定义文本域宽高
                                }, function (value, index, elem) {
                                    adjfut.request({
                                        url: "api/report/report_audit",
                                        data: {
                                            report_audit: (action == "success") ? "审核通过" : "审核不通过",
                                            report_audit_message: value,
                                            report_id: report_id
                                        },
                                        success: function (res) {
                                            if (res.code === 10000) {
                                                layer.msg(res.msg, {
                                                    icon: 1
                                                })
                                            } else {
                                                layer.msg(res.msg, {
                                                    icon: 5
                                                })
                                            }
                                            window.location.reload()
                                            layer.close(index);
                                        }
                                    })
                                });
                            })
                            next($html, page < res.count);
                            layui.each($html.find("textarea"), function (key, value) {
                                var $value = $(value)
                                $value.parent().find("div").height(this.scrollHeight)
                                $value.height(this.scrollHeight)
                            })
                        }
                    })
                }
            });
        }

        view_render({
            type: "日报"
        })


    })
</script>