<style>
    /* 谷歌 */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none; 
        margin: 0; 
    }
    /* 火狐 */
    input{
        -moz-appearance:textfield;
    }
</style>
<form class="layui-form form">
    <div class="layui-form-item" lay-filter="position_add_form">
        <div class="layui-block">
            <label class="layui-form-label">企业名字</label>
            <div class="layui-input-inline">
                <select name="enterprise_id" class="layui-input" lay-verify="required" lay-search>
                    <option value="">请选择企业名字</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">职位名称</label>
            <div class="layui-input-inline">
                <input type="text" name="enterprise_position_name" class="layui-input" lay-verify="required">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">职位简介</label>
            <div class="layui-input-inline" style="width:80%;">
                <textarea type="text" name="enterprise_position_introduction" maxlength="250" class="layui-textarea" lay-verify="required"></textarea>
            </div>
        </div>
    </div>
    <div id="treatment">
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">职位待遇1</label>
                <div class="layui-input-inline">
                    <input type="text" oninput="test()" onpropertychange="test()" class="layui-input treatment">
                </div>
                <div class="layui-form-mid layui-word-aux">至少输入一项职位待遇</div>
            </div>
        </div>
    </div>
    <input type="hidden" name="enterprise_position_treatment">
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">职位人数</label>
            <div class="layui-input-inline">
                <input type="number" step="1" name="enterprise_position_number" class="layui-input" lay-verify="required">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <label class="layui-form-label">职位工资(￥)</label>
            <div class="layui-input-inline" style="width:300px;">
                <input type="number" step="0.01" name="enterprise_position_salary_min" class="layui-input" placeholder="请输入职位工资" style="float:left; width:48%;">
                <span style="float:left;width:4%;line-height:38px;text-align:center;">-</span>
                <input type="number" step="0.01" name="enterprise_position_salary_max" class="layui-input" placeholder="请输入职位工资" style="float:left; width:48%;">
            </div>
            <div class="layui-form-mid layui-word-aux">精确到小数点后两位</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-block">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="enterprise_position_add_save">
                    提交
                </button>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(["adjfut", "form", "layer"], function () {
        var layer = layui.layer;
        var form = layui.form;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("enterprise/position/add");
        var form_id = view_id + "_form"

        form.render()
        
        adjfut.request({
            url: "enterprise/position/enterprise_data",
            type: 'post',
            dataTyep: 'json',
            success: function (res) {
                if (res.code == 0) {
                    $.each(res.data,function(_,value){
                        $('select[name=enterprise_id]').append(`<option value="` + value.enterprise_id + `">` + value.enterprise_name + `</option>`)
                    })
					form.render();
                } else {
                    layer.msg('服务器连接错误', {
                        icon: 5
                    })
                }
            },
            error: function (res) {
                layer.msg('服务器连接错误', {
                    icon: 5
                })
            }
        });

        adjfut.form_required()

        form.on("submit(" + view_id + "_save)", function (obj) {
            $(obj.elem).attr("disabled", true);

            if(!obj.field.enterprise_position_treatment){
                layer.msg("请输入至少一个职位待遇", {
                    icon: 5
                });
                return false;
            }

            obj.field.enterprise_position_number = parseInt(obj.field.enterprise_position_number);
            var false_min = parseFloat(obj.field.enterprise_position_salary_min)
            var false_max = parseFloat(obj.field.enterprise_position_salary_max)

            if(false_min<false_max){
                obj.field.enterprise_position_salary_min = false_min
                obj.field.enterprise_position_salary_max = false_max
            }else{
                obj.field.enterprise_position_salary_min = false_max
                obj.field.enterprise_position_salary_max = false_min
            }

            adjfut.request({
                url: "enterprise/position/position_add",
                data: obj.field,
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        })
                        window.location.reload()
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                complete: function () {
                    $(obj.elem).attr("disabled", false);
                }
            })

            return false;
        })
    }); 

    function test(){
        var if_null = false
        var new_key = ''
        var arr = new Array
        $(".treatment").each(function(key,html){
            if(html.value == ''){
                if_null = true
            }else{
                arr.push(html.value)
            }
        })
        $('input[name=enterprise_position_treatment]').val(arr)
        if(if_null == false){
            $('#treatment').append(`
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <input type="text" oninput="test()" onpropertychange="test()" class="layui-input treatment">
                        </div>
                    </div>
                </div>
            `)
        }
        var i = 0;
        $(".treatment").each(function(key,html){
            if(html.value == '' && key != ($(".treatment").length)-1+i){//判断是否有为空，跳过最后一条
                $(html).parent().parent().parent().remove()//删掉空的那一行
                i++//each里删掉的行数
            }
            $(html).parent().prev().html(`职位待遇` + (key+1-i))
        })
    }
</script>