<style>
    /* 谷歌 */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none; 
        margin: 0; 
    }
    /* 火狐 */
    input{
        -moz-appearance:textfield;
    }   
</style>
<script type="text/html" template lay-done="a()">
    <form class="layui-form form" lay-filter="position_detail_form">
        <textarea name="data" style="display: none;">
            {{ JSON.stringify(d.params) }}
        </textarea>
        <input type="hidden" value="{{ d.params.enterprise_position_id}}" name="enterprise_position_id" disabled>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">企业名字</label>
                <div class="layui-input-inline">
                    <select name="enterprise_id" class="layui-input" disabled>
                        <option value="">根据企业名字查询</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">职位名称</label>
                <div class="layui-input-inline">
                    <input type="text" value="{{ d.params.enterprise_position_name}}" name="enterprise_position_name" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">职位简介</label>
                <div class="layui-input-inline" style="width:80%;">
                    <textarea type="text" name="enterprise_position_introduction" maxlength="250" style="padding:10px; max-width:90%; max-height:80px; min-width:90%; min-height:80px;" disabled></textarea>
                </div>
            </div>
        </div>
        <div id="treatment">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">职位待遇1</label>
                    <div class="layui-input-inline">
                        <input type="text" oninput="test()" onpropertychange="test()" class="layui-input treatment" disabled>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="enterprise_position_treatment">
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">职位人数</label>
                <div class="layui-input-inline">
                    <input type="number" value="{{ d.params.enterprise_position_number}}" name="enterprise_position_number" class="layui-input" lay-verify="required|number" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">职位工资(￥)</label>
                <div class="layui-input-inline" style="width:300px;">
                    <input type="number" step="0.01" value="{{ d.params.enterprise_position_salary_min}}" name="enterprise_position_salary_min" class="layui-input" placeholder="请输入职位工资" style="float:left; width:48%;" disabled>
                    <span style="float:left;width:4%;line-height:38px;text-align:center;">-</span>
                    <input type="number" step="0.01" value="{{ d.params.enterprise_position_salary_max}}" name="enterprise_position_salary_max" class="layui-input" placeholder="请输入职位工资" style="float:left; width:48%;" disabled>
                </div>
                <div class="layui-form-mid layui-word-aux">精确到小数点后两位</div>
            </div>
        </div>
    </form>
</script>
<script>
    function a() {
        var data = $("textarea[name=data]").val()
        $("textarea[name=data]").remove()
        data = JSON.parse(data)
        console.log(data)
        layui.use(["adjfut", "form", "layer"], function () {
            var layer = layui.layer;
            var form = layui.form;
            var adjfut = layui.adjfut;

            var view_id = adjfut.view_id("enterprise/position/detail");
            var form_id = view_id + "_form"
            
            form.render()

            $('textarea[name=enterprise_position_introduction]').val(data.enterprise_position_introduction);
            $.each(data.enterprise_position_treatment.split(','),function(key,value){
                $('#treatment input').eq(key).val(value)
                test()
            })

            adjfut.form_required()
        });
    }

    function test(){
        var if_null = false
        var new_key = ''
        var arr = new Array
        $(".treatment").each(function(key,html){
            if(html.value == ''){
                if_null = true
            }else{
                arr.push(html.value)
            }
        })
        $('input[name=enterprise_position_treatment]').val(arr)
        if(if_null == false){
            $('#treatment').append(`
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <input type="text" oninput="test()" onpropertychange="test()" class="layui-input treatment" disabled>
                        </div>
                    </div>
                </div>
            `)
        }
        var i = 0;
        $(".treatment").each(function(key,html){
            if(html.value == '' && key != ($(".treatment").length)+i){//判断是否有为空
                $(html).parent().parent().parent().remove()//删掉空的那一行
                i++//each里删掉的行数
            }
            $(html).parent().prev().html(`职位待遇` + (key+1-i))
        })
    }
</script>