<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <!-- <div class="layui-form layui-card-header search">
        </div> -->
        <div class="layui-card-body">
            <div class="left">
                <div id="enterprise_position_index_tree"></div>
            </div>
            <div class="right">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <!-- <div class="layui-inline">
                            <label class="layui-form-label">企业名字</label>
                            <div class="layui-input-inline">
                                <select name="enterprise_id" class="layui-input">
                                    <option value="">根据企业名字查询</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="layui-inline">
                            <label class="layui-form-label">企业职位</label>
                            <div class="layui-input-inline">
                                <input name="enterprise_position_name" class="layui-input" placeholder="根据企业职位查询">
                            </div>
                        </div>
                        <button class="layui-btn" style="margin-top:-5px;" lay-submit="" lay-filter="enterprise_position_index_table_search">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                </form>
                <table class="layui-hide" id="enterprise_position_index_table"
                    lay-filter="enterprise_position_index_table">
                </table>
                <script type="text/html" id="enterprise_position_index_table_status">
                    <input type="checkbox" value="{{ d.enterprise_position_id }}" lay-skin="switch" lay-text="启用|禁用" lay-filter="enterprise_position_index_table_status" {{ d.enterprise_position_status == "启用" ? "checked" : "" }}>
                </script>

                <script type="text/html" id="bar_enterprise_position_index_table">
                    <a class="layui-btn layui-btn-xs" lay-event="detail">
                        详情
                    </a>
                    <a class="layui-btn layui-btn-xs" lay-event="edit">
                        编辑
                    </a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                        删除
                    </a>
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "table", "form", "layer", "util", "view", "tree"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var tree = layui.tree;

        var view_id = adjfut.view_id("enterprise/position/index");
        var token = adjfut.token();
        var table_id = view_id + "_table";
        var tree_id = view_id + "_tree"
        var if_firse = true, enterprise

        form.render();

        adjfut.crumbs([{
            name: "企业管理",
            url: false
        }, {
            name: "企业职位",
            url: false
        }], [{
            name: "添加职位",
            click: function () {
                layer.open({
                    id: view_id + "_add",
                    type: 1,
                    area: ["50%", "80%"],
                    title: "新增职位",
                    closeBtn: 2,
                    success: function () {
                        view(this.id)
                            .render("enterprise/position/add")
                            // .done(function () {
                            //     $.each(enterprise, function (_, value) {
                            //         $('select[name=enterprise_id]').append(`<option value="` + value.enterprise_id + `">` + value.enterprise_name + `</option>`)
                            //     })
                            //     form.render('select');
                            // });
                    },
                    end: function () {
                        table.reload(table_id);
                    }
                });
            }
        }]);

        form.on("submit(" + table_id + "_search)", function (obj) {
            table.reload(table_id, {
                where: obj.field
            });
            return false;
        });

        adjfut.request({
            url: "enterprise/position/enterprise_tree",
            success: function (res) {
                if (res.code === 0) {
                    tree.render({
                        id: tree_id,
                        elem: "#" + tree_id,
                        onlyIconControl: true,
                        data: res.data,
                        click: function (obj) {
                            var data = obj.data.data
                            table.reload(table_id, {
                                where: {
                                    enterprise_id: data.enterprise_id
                                }
                            })
                        }
                    });
                }
            }
        })

        form.on("switch(" + view_id + "_table_status)", function (obj) {
            adjfut.request({
                url: "enterprise/position/position_status",
                data: {
                    enterprise_position_id: obj.value
                },
                success: function (res) {
                    table.reload(table_id);
                    layer.msg(res.msg, {
                        icon: res.code === 0 ? 1 : 5
                    })
                }
            })
        });

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("enterprise/position/position"),
            height: "full-220",
            cols: [
                [{
                    field: "enterprise_name",
                    title: "企业名字",
                    width: 150,
                }, {
                    field: "enterprise_position_name",
                    title: "企业职位",
                    width: 150,
                }, {
                    field: "enterprise_position_number",
                    title: "企业职位人数",
                    width: 150,
                }, {
                    title: "企业职位工资",
                    width: 200,
                    templet: function (res) {
                        return `￥` + res.enterprise_position_salary_min.toFixed(2) + ` - ￥` + res.enterprise_position_salary_max.toFixed(2)
                    }
                }, {
                    title: "状态",
                    width: 110,
                    templet: "#" + table_id + "_status",
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 180,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true,
            done: function (res) {
                if (if_firse == true) {
                    $.each(res.enterprise, function (_, value) {
                        $('select[name=enterprise_id]').append(`<option value="` + value.enterprise_id + `">` + value.enterprise_name + `</option>`)
                    })
                    form.render('select');
                    if_firse = false
                }
                enterprise = res.enterprise;
            }
        });

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "delete":
                    layer.confirm("您确定删除[ " + data.enterprise_position_name + " ]吗？", function (index) {
                        adjfut.request({
                            url: "enterprise/position/position_delete",
                            data: data,
                            success: function (res) {
                                table.reload(table_id);
                                layer.msg(res.msg, {
                                    icon: res.code === 0 ? 1 : 5
                                })
                            }
                        });
                        layer.close(index);
                    });
                    break;
                case "edit":
                    layer.open({
                        id: view_id + "_edit",
                        type: 1,
                        area: ["50%", "80%"],
                        title: "编辑[ " + data.enterprise_position_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("enterprise/position/edit", data)
                                .done(function () {
                                    $.each(enterprise, function (_, value) {
                                        $('select[name=enterprise_id]').append(`<option value="` + value.enterprise_id + `">` + value.enterprise_name + `</option>`)
                                    })
                                    $('select[name=enterprise_id]').val(data.enterprise_id);
                                    form.render('select');
                                    form.val("dishes_dishes_edit_form", data)
                                });
                        },
                        end: function () {
                            table.reload(table_id)
                        }
                    });
                    break;
                case "detail":
                    // data.user_image = user_image
                    layer.open({
                        id: view_id + "_detail",
                        type: 1,
                        area: ["50%", "80%"],
                        title: "详情[ " + data.enterprise_position_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("enterprise/position/detail", data)
                                .done(function () {
                                    $.each(enterprise, function (_, value) {
                                        $('select[name=enterprise_id]').append(`<option value="` + value.enterprise_id + `">` + value.enterprise_name + `</option>`)
                                    })
                                    $('select[name=enterprise_id]').val(data.enterprise_id);
                                    form.render('select');
                                    form.val("dishes_dishes_detail_form", data)
                                });
                        }
                    });
                    break;
                case "img":
                    photos_data = [];
                    $.each(data.dishes_images.split(","), function (_, value) {
                        line_data = [];
                        line_data["alt"] = data.enterprise_position_name
                        line_data["src"] = adjfut.upload_path(value)
                        photos_data.push(line_data)
                    })
                    layer.photos({
                        photos: {
                            "data": photos_data
                        },
                    });
                    break;
            }
        });
    });
</script>