<style>
    .login {
        width: 300px;
        /* max-width: 700px; */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }

    .layui-form-label {
        width: 45px;
    }
</style>
<div class="login">
    <div class="layui-card">
        <div class="layui-card-body">
            <h1 style="margin: 10px 0;text-align: center;height: 30px;">用户登录</h1>
            <form class="layui-form">
                <div class="layui-form-item">
                    <input lay-label="用户名" type="text" name="account" lay-verify="required" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input lay-label="密码" type="password" name="password" lay-verify="required" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-fluid" lay-submit lay-filter="login">
                        登录
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "form", "setter", "table"], function () {
        var form = layui.form;
        var setter = layui.setter;
        var table = layui.table;

        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id();

        adjfut.form_required()
        form.render();

        form.on("submit(" + view_id + ")", function (data) {
            $(data.elem).attr("disabled", true);
            adjfut.request({
                url: "adjfut/login/login",
                data: data.field,
                success: function (res) {
                    if (res.code === 0) {
                        var tokenName = setter.request.tokenName
                        layui.data(setter.tableName, {
                            key: tokenName,
                            value: res.data[tokenName]
                        });
                        if (setter.interceptor) {
                            var headers = {};
                            headers[tokenName] = res.data[tokenName]
                            table.set({
                                headers: headers
                            })
                        }
                        window.location.hash = "/";
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                complete: function () {
                    $(data.elem).attr("disabled", false);
                }
            });
            return false;
        });
    });
</script>