<style>
    .login {
        height: 100vw;
        width: 100%;
        position: relative;
        background-image: url('./static/images/bgc.png');
        /* position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) */
    }
    
    .layui-card{
        width: 30vw;
        margin-top: 8vw;
        position: absolute;
        right: 10vw;
        border-radius: 5px;
    }

    .layui-card-body{
        padding: 50px 40px;
    }

    .layui-card-body h1{
        font-size: 26px;
    }

    .layui-form{
        margin-top: 70px;
    }

    .layui-form-label {
        width: 45px;
    }

    .layui-form-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 0.5px solid;
        padding-left: 10px;
        padding-bottom: 5px!important;
        margin-top: 20px;
    }

    .layui-form-item img{
        width: 30px;
        margin-right: 10px;
    }

    .layui-form-item input{
        outline-style: none !important;
        border: none;
        border-radius: 0;
        height: 50px;
    }

    .layui-form-item button{
        width: 100%;
        font-size: 28px;
        color: #ffffff;
        background-color: #2cb7f8;
        border-radius: 10vw;
        margin-top: 2vw;
        height: 60px;
    }

    .add{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 50px 0;
    }

    .add a{
        color: #2cb7f8;
        font-size: 18px;
    }
    
</style>
<div class="login">
    <div class="layui-card">
        <div class="layui-card-body">
            <h1 style="margin: 10px 0;text-align: center;height: 30px;">登录</h1>
            <form class="layui-form">
                <div class="layui-form-item">
                    <img src="./static/images/user.png" alt="">
                    <input lay-label="用户名" type="text" name="account" lay-verify="required" placeholder="schooladmin" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <img src="./static/images/pass.png" alt="">
                    <input lay-label="密码" type="password" name="password" lay-verify="required" class="layui-input">
                </div>
                <div class="layui-form-item" style="border: none;">
                    <button class="layui-btn layui-btn layui-btn-fluid" lay-submit lay-filter="login">
                        登录
                    </button>
                </div>
                <!-- <div class="add">
                    <a href="">注册账号</a>
                    <a href="">忘记密码？</a>
                </div> -->
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "form", "setter", "table"], function () {
        var form = layui.form;
        var setter = layui.setter;
        var table = layui.table;

        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id();

        adjfut.form_required()
        form.render();

        form.on("submit(" + view_id + ")", function (data) {
            $(data.elem).attr("disabled", true);
            adjfut.request({
                url: "adjfut/login/login",
                data: data.field,
                success: function (res) {
                    if (res.code === 0) {
                        var tokenName = setter.request.tokenName
                        layui.data(setter.tableName, {
                            key: tokenName,
                            value: res.data[tokenName]
                        });
                        if (setter.interceptor) {
                            var headers = {};
                            headers[tokenName] = res.data[tokenName]
                            table.set({
                                headers: headers
                            })
                        }
                        window.location.hash = "/";
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                complete: function () {
                    $(data.elem).attr("disabled", false);
                }
            });
            return false;
        });
    });
</script>