<style>
    #student_notice_index #student_notice_index_operation {
        margin: 0 0 10px 0;
    }

    #student_notice_index #student_notice_index_operation p {
        line-height: 25px;
        height: 25px;
        display: inline-block;
        float: left;
    }

    #student_notice_index #student_notice_index_operation img {
        margin: 0 10px 0 0;
    }

    #student_notice_index #student_notice_index_operation button {
        float: right;
        display: inline-block;
    }

    #student_notice_index #student_notice_index_content .layui-card {
        margin: 0 0 10px 0;
    }

    #student_notice_index #student_notice_index_content .title {
        height: 50px;
        margin: 0 0 10px 0;
    }

    #student_notice_index #student_notice_index_content .title img {
        display: block;
        height: 100%;
        float: left;
    }

    #student_notice_index #student_notice_index_content .title div {
        margin: 0 10px;
        float: left;
    }

    #student_notice_index #student_notice_index_content .content {
        position: relative;
    }

</style>
<div id="student_notice_index">
    <div id="student_notice_index_operation">
        <div class="layui-card">
            <div class="layui-card-body">
                <p style="color:#1E9FFF;font-size: 16px;">
                    <img src="./static/images/gg.png" style="width:15px;height:15px;margin-bottom:5px">
                    通知公告
                </p>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="student_notice_index_content">
    </div>
</div>

<script>
    layui.use(["adjfut", "flow", "laytpl"], function () {
        var adjfut = layui.adjfut
        var flow = layui.flow
        var laytpl = layui.laytpl

        var view_id = adjfut.view_id("student/notice/index")

        var view_render = function () {
            flow.load({
                elem: '#' + view_id + "_content",
                isAuto: false,
                isLazyimg: true,
                done: function (page, next) {
                    adjfut.request({
                        url: "api/notice/notice_list",
                        data: {
                            page: page,
                            notice_id: layui.router().search.notice_id
                        },
                        success: function (res) {
                            var html = "<div>"
                            if (res.code == 10000) {
                                var data = res.data
                                layui.each(data, function (_, value) {
                                    laytpl([
                                        '<div class="layui-card">',
                                        '<div class="layui-card-body">',
                                        '<div class="title">',
                                        '<img class="layui-circle" src="{{ d.user_headimage }}">',
                                        '<div>',
                                        '<p>{{ d.user_name }}的通知公告</p>',
                                        '<p>{{ d.notice_time }}</p>',
                                        '</div>',
                                        '</div>',
                                        '<hr>',
                                        '<div class="content">',
                                        value.notice_content,
                                        '</div>',
                                        '</div>',
                                    ].join("")).render(value, function (res) {
                                        html += res
                                    })
                                })
                            }
                            html += "</div>"
                            var $html = $(html)
                            $html.find("div[data-notice_info]").on("click", function () {
                                var $this = $(this)
                                layui.sessionData(view_id, {
                                    key: "notice_info",
                                    value: $this.data("notice_info")
                                })
                                window.location.hash = "/student/notice/edit/type=" + type
                            })
                            next($html, page < res.count);
                            layui.each($html.find("textarea"), function (key, value) {
                                var $value = $(value)
                                $value.parent().find("div").height(this.scrollHeight)
                                $value.height(this.scrollHeight)
                            })
                        }
                    })
                }
            });
        }

        view_render()
    })
</script>