<form class="layui-form form">
    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">
                        <b class="required">*</b>
                        名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_name" lay-verify="required" lay-label="名称" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">
                        <b class="required">*</b>
                        手机号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_phone" lay-verify="required" lay-label="手机号" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">
                        <b class="required">*</b>
                        性别
                    </label>
                    <div class="layui-input-inline">
                        <select name="user_sex">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">
                        编号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" name="user_number" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">身份证</label>
                    <div class="layui-input-inline">
                        <input type="number"" name="user_identity_card" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="user_password" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="adjfut_user_add_save">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(["adjfut", "form", "layer", "upload"], function () {
        var layer = layui.layer;
        var form = layui.form;
        var upload = layui.upload;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("adjfut/user/add");
        var form_id = view_id + "_form"
        // form.val(form_id, data);
        form.render()

        adjfut.form_required()
        form.on("switch(status)", function (obj) {
            var value = $(obj.elem).val()
            $(obj.elem).val(value == 1 ? 2 : 1)
        })
        form.on("switch(" + view_id + "_status)", function (obj) {
            var value = $(obj.elem).val()
            $(obj.elem).val(value == 1 ? 2 : 1)
        })
        form.on("submit(" + view_id + "_save)", function (obj) {

            $(obj.elem).attr("disabled", true);
            
            adjfut.request({
                url: "adjfut/user/user_add",
                data: obj.field,
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        })
                        window.location.reload()
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                complete: function () {
                    $(obj.elem).attr("disabled", false);
                }
            })

            return false;
        })
    });
</script>