<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header search">
            <!-- <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="user_title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <input type="text" name="user_describe" placeholder="请输入描述" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <button class="layui-btn" lay-submit="" lay-filter="adjfut_user_index_table_search">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </form> -->
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="adjfut_user_index_table" lay-filter="adjfut_user_index_table"></table>
            <script type="text/html" id="adjfut_user_index_table_index">
                <input type="number" data-user_id="{{ d.user_id }}" value="{{ d.user_order }}" class="layui-input user_order">
            </script>
            <script type="text/html" id="adjfut_user_index_table_status">
                <input type="checkbox" value="{{ d.user_id }}" lay-skin="switch" lay-text="启用|停用" lay-filter="adjfut_user_index_table_status" {{ d.user_status == 2 ? "checked" : "" }}>
            </script>

            <script type="text/html" id="bar_adjfut_user_index_table">
                <a class="layui-btn layui-btn-xs" lay-event="detail">
                    详情
                </a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">
                    编辑
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                    删除
                </a>
            </script>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "table", "form", "layer", "util", "view", "upload"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var upload = layui.upload;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("adjfut/user/index");
        // var token = adjfut.token();
        var table_id = view_id + "_table";

        adjfut.crumbs([{
            name: "用户管理",
            url: false
        }, {
            name: "所有用户",
            url: false
        }], 
        );

        form.on("submit(" + table_id + "_search)", function (obj) {
            table.reload(table_id, {
                where: obj.field
            });
            return false;
        });

        form.on("switch(" + view_id + "_table_status)", function (obj) {
            adjfut.request({
                url: "adjfut/user/user_status",
                data: {
                    user_id: obj.value
                },
                success: function (res) {
                    table.reload(table_id);
                    layer.msg(res.msg, {
                        icon: res.code === 0 ? 1 : 5
                    })
                }
            })
        });

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("adjfut/user/user_list"),
            // where: token,
            height: "full-220",
            cols: [
                [{
                    field: "user_name",
                    title: "昵称",
                    width: 150,
                },{
                    field: "name",
                    title: "名字",
                    width: 150,
                },{
                    field: "user_phone",
                    title: "用户电话",
                    width: 150,
                },{
                    field: "user_time",
                    title: "注册日期",
                    width: 150,
                },{
                    field: "user_account",
                    title: "账号",
                    width: 150,
                },{
                    field: "organize_name",
                    title: "所属部门",
                    width: 150,
                },{
                    field: "role_name",
                    title: "职务",
                    width: 150,
                }, {
                    title: "头像",
                    align: 'center',
                    templet: function (res) {
                        var re = ""
                        if (res.user_headimage) {
                            re = '<img style="width:55px;height:55px" src="' + res.user_headimage + '" >'
                        } else {
                            re = '暂无头像'
                        }
                        return re
                    },
                    width: 100,
                    event: "user_headimage"
                }, {
                    title: "状态",
                    width: 110,
                    templet: "#" + table_id + "_status",
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 180,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            // data.user_add_time = adjfut.date_string(data.user_add_time);
            // data.user_update_time = adjfut.date_string(data.user_update_time);
            switch (obj.event) {
                case "delete":
                    layer.confirm("您确定删除[ " + data.user_name + " ]吗？", function (index) {
                        adjfut.request({
                            url: "adjfut/user/user_delete",
                            data: data,
                            success: function (res) {
                                table.reload(table_id);
                                layer.msg(res.msg, {
                                    icon: res.code === 0 ? 1 : 5
                                })
                            }
                        });
                        layer.close(index);
                    });
                    break;
                case "edit":
                    layer.open({
                        id: view_id + "_edit",
                        type: 1,
                        area: ["50%", "50%"],
                        title: "编辑用户[ " + data.user_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            layui.sessionData(view_id, {
                                key: "user_id",
                                value: data.user_id
                            })
                            view(this.id)
                                .render("adjfut/user/edit", data)
                                .done(function () {
                                    form.val("adjfut_user_edit_form", data)
                                });
                        },
                        end: function () {
                            table.reload(table_id)
                        }
                    });
                    break;
                case "detail":
                    data.user_image = user_image
                    layer.open({
                        id: view_id + "_detail",
                        type: 1,
                        area: ["50%", "50%"],
                        title: "轮播图详情[ " + data.user_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("adjfut/user/detail", data)
                                .done(function () {
                                    form.val("adjfut_user_detail_form", data)
                                });
                        }
                    });
                    break;
                case "user_headimage":
                    // if (data.user_avarar_url) {
                    layer.photos({
                        photos: {
                            "data": [{
                                "alt": data.user_title,
                                "pid": data.user_id,
                                "src": data.user_avarar_url,
                            }]
                        },
                    });
                    // }else{

                    // }

                    break;
            }
        });
    });
</script>