*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}

/* 主要内容 */
#permation{
    width: 100%;
    background-color: #f3f2f2;
}

#permation p{

}

#permation .top,
#permation .integral div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#permation .integral{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#permation .top{
    width: 100%;
    background-color: #07a4eb;
}

#permation .top img{
    width: 80px;
    margin: 10px 0 3px 0;
}

#permation .top span{
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 15px;
}

#permation .integral{
    background-color: #ffffff;
    padding: 15px 0;
}

#permation .integral p{
    color: #ffc066;
}

#permation .integral span{
    font-size: 14px;
}

#permation .ifmtion,
#permation .company{
    background-color: #ffffff;
    margin-top: 10px;
}

#permation .ifmtion div,
#permation .company div{
    padding: 12px 30px;
    border-bottom: 0.1px solid #ececec;
}

#permation .ifmtion p,
#permation .company p{
    display: inline-block;
    font-size: 14px;
}

#permation .ifmtion span,
#permation .company span{
    float: right;
    font-size: 13px;
    color: #979797;
}

#permation .company span{
}