<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="left">
                <div id="adjfut_enterprise_position_user_index_tree">

                </div>
            </div>
            <div class="right">
                <!-- <button class="layui-btn" id="adjfut_enterprise_position_user_index_bind">
                    绑定用户
                </button> -->
                <table class="layui-hide" id="adjfut_enterprise_position_user_index_table"
                    lay-filter="adjfut_enterprise_position_user_index_table"></table>

                <script type="text/html" id="bar_adjfut_enterprise_position_user_index_table">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                        删除
                    </a>
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "tree", "form", "layer", "table", "view"], function () {
        var view = layui.view;
        var layer = layui.layer;
        var tree = layui.tree;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var table = layui.table;

        var view_id = adjfut.view_id("adjfut/enterprise_position_user/index");
        var tree_id = view_id + "_tree";
        var table_id = view_id + "_table";

        layui.sessionData(view_id, {
            key: "bind_info",
            remove: true
        })

        adjfut.crumbs([{
            name: "用户管理",
            url: false
        }, {
            name: "用户企业",
            url: "#/adjfut/enterprise_position_user/index"
        }], [{
            name: "绑定用户",
            click: function () {
                var bind_info = layui.sessionData(view_id, {
                    key: "bind_info"
                })
                if (bind_info) {
                    if (bind_info.enterprise_id && bind_info.enterprise_position_id) {
                        layer.open({
                            id: view_id + "_bind",
                            type: 1,
                            area: ["90%", "90%"],
                            title: "绑定企业[ " + bind_info.enterprise_name + "-" + bind_info.enterprise_position_id + " ]",
                            closeBtn: 2,
                            success: function () {
                                view(this.id)
                                    .render("adjfut/enterprise_position_user/bind")
                            },
                            end: function () {
                                table.reload(table_id)
                            }
                        });
                    } else {
                        layer.msg("请选择企业职位", {
                            icon: 5
                        })
                    }
                } else {
                    layer.msg("请选择企业", {
                        icon: 5
                    })
                }
            }
        }])

        adjfut.request({
            url: "adjfut/enterprise_position_user/enterprise_position_user_tree",
            success: function (res) {
                tree.render({
                    id: tree_id,
                    elem: "#" + tree_id,
                    onlyIconControl: true,
                    data: res.data,
                    click: function (obj) {
                        var data = obj.data.data
                        layui.sessionData(view_id, {
                            key: "bind_info",
                            value: data
                        })
                        table.reload(table_id, {
                            where: {
                                enterprise_id: data.enterprise_id,
                                enterprise_position_id: data.enterprise_position_id,
                            }
                        })
                    }
                });
            }
        })

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("adjfut/enterprise_position_user/enterprise_position_user_list"),
            height: "full-220",
            cols: [
                [{
                    field: "enterprise_name",
                    title: "企业名称",
                    width: 150,
                }, {
                    field: "enterprise_position_name",
                    title: "职位",
                    width: 150,
                }, {
                    field: "organize_name",
                    title: "班级",
                    width: 150,
                }, {
                    field: "user_number",
                    title: "学号",
                    width: 150,
                }, {
                    field: "user_name",
                    title: "姓名",
                    width: 150,
                }, {
                    field: "user_phone",
                    title: "手机号码",
                    width: 150,
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 80,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });



        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "delete":
                    layer.confirm("您确定删除[ " + data.organize_name + " ]吗？", function (index) {
                        adjfut.request({
                            url: "adjfut/enterprise_position_user/enterprise_position_user_delete",
                            data: data,
                            success: function (res) {
                                table.reload(table_id);
                                layer.msg(res.msg, {
                                    icon: res.code === 0 ? 1 : 5
                                })
                            }
                        });
                        layer.close(index);
                    });
                    break;
            }
        });





    });
</script>