<script src="https://webapi.amap.com/maps?v=1.4.15&key=ac820780ce10e0ae94fc23943d555263&plugin=AMap.CircleEditor,AMap.ToolBar"></script>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <form class="layui-form form">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>地图设置</legend>
                            <div class="layui-field-box">
                                <div class="layui-form-item">
                                    <div class="layui-block">
                                        <label class="layui-form-label">企业名字</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="enterprise_name" class="layui-input" lay-verify="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-block">
                                        <label class="layui-form-label">企业半径</label>
                                        <div class="layui-input-inline">
                                            <input type="number" name="enterprise_radius" class="layui-input" lay-verify="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-block">
                                        <label class="layui-form-label">企业定位点</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="enterprise_points" class="layui-input" lay-verify="required">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </fieldset>

                        <div class="layui-form-item">
                            <label class="layui-form-label">企业logo</label>
                            <button type="button" class="layui-btn" id="enterprise_enterprise_add_upload">上传图片</button>
                            <div class="layui-input-inline">
                                <input type="hidden" name="enterprise_logo" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <img id="img" src="" style="width:50%; padding-left:110px">
                        </div>
                        
                        <div class="layui-form-item">
                            <div class="layui-block">
                                <label class="layui-form-label">企业区域</label>
                                <div class="layui-input-inline" style="width:46%;">
                                    <input type="text" name="enterprise_district" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-block">
                                <label class="layui-form-label">企业地址</label>
                                <div class="layui-input-inline" style="width:46%;">
                                    <input type="text" name="enterprise_address" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-block">
                                <label class="layui-form-label">企业简介</label>
                                <div class="layui-input-inline" style="width:50%;">
                                    <!-- <textarea type="text" name="enterprise_introduction" maxlength="250" style="padding:10px; max-width:90%; max-height:80px; min-width:90%; min-height:80px;" lay-verify="required"></textarea> -->
                                    <textarea type="text" class="layui-textarea" name="enterprise_introduction" lay-verify="required"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-block">
                                <label class="layui-form-label">企业性质</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="enterprise_nature" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-block">
                                <label class="layui-form-label">联系电话</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="enterprise_phone" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-block">
                                <label class="layui-form-label">企业负责人</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="enterprise_user_name" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="display:none">
                            <div class="layui-block">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="enterprise_enterprise_add_save" id="enterprise_enterprise_add_save">
                                        提交
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-col-md6" style="height: 500px;">
                    <!-- <fieldset class="layui-elem-field layui-field-title">
                        <legend>搜索企业</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <div class="layui-block">
                                    <label class="layui-form-label">企业名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="map_enterprise_name" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset> -->
                    <div id="enterprise_enterprise_add_map" style="height: 100%;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var view_id = "enterprise_enterprise_add"
        var map = null
        layer.load()
        setTimeout(function () {
            map = new AMap.Map(view_id + "_map", {
                resizeEnable: true, //是否监控地图容器尺寸变化
                zoom: 11, //初始地图级别
            });
            layer.closeAll("loading")
            map_function()
        }, 1000)
        var position = []
        var map_function = function () {
            var $enterprise_radius = $("input[name=enterprise_radius]")
            var $enterprise_name = $("input[name=enterprise_name]")
            var $enterprise_address = $("input[name=enterprise_address]")
            var $enterprise_district = $("input[name=enterprise_district]")
            var $enterprise_points = $("input[name=enterprise_points]")
            AMap.plugin('AMap.Autocomplete', function () {
                var autoComplete = new AMap.Autocomplete({
                    city: '全国'
                });
                autoComplete.search($enterprise_name.val(), function (status, result) {
                    console.log(position)
                    map.clearMap();
                    // var markers = []
                    // layui.each(position, function (_, value) {
                    //     markers.push(value.marker)
                    // })
                    // map.remove(markers);
                    position = result.tips
                    layui.each(position, function (key, value) {
                        var location = value.location
                        var $div = $([
                            '<div>',
                            '<img src="//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png">',
                            '</div>',
                        ].join(""))

                        $div.on("click", function () {
                            var point = position[key]
                            var location = point.location
                            map.clearMap();

                            $enterprise_district.val(point.district)
                            $enterprise_address.val(point.address)

                            map.add(point.marker)

                            $enterprise_points.val([
                                location.lng, location.lat
                            ].join(","))

                            var circleEditor = new AMap.CircleEditor(map, point.circle)
                            circleEditor.open()

                            circleEditor.on('move', function (obj) {
                                var lnglat = obj.lnglat

                                $enterprise_points.val([
                                    lnglat.lng, lnglat.lat
                                ].join(","))

                                point.marker.setPosition([
                                    lnglat.lng, lnglat.lat
                                ])
                            })

                            circleEditor.on('adjust', function (obj) {
                                $enterprise_radius.val(obj.radius)
                            })

                            // point.marker.on("dragend", function (obj) {
                            //     var lnglat = obj.lnglat

                            //     $enterprise_points.val([
                            //         lnglat.lng, lnglat.lat
                            //     ].join(","))

                            //     point.marker.setPosition([
                            //         lnglat.lng, lnglat.lat
                            //     ])

                            //     // point.circle.setPosition([
                            //     //     lnglat.lng, lnglat.lat
                            //     // ])

                            //     // console.log(obj)
                            //     // marker.setPosition([116.391467, 39.927761]); //更新点标记位置
                            // })

                            if (point.circle) {
                                map.add(point.circle)
                            }
                        })

                        position[key].marker = new AMap.Marker({
                            position: [
                                location.lng, location.lat
                            ],
                            // 设置是否可以拖拽
                            // draggable: true,
                            // cursor: 'move',
                            // 设置拖拽效果
                            // raiseOnDrag: true,
                            // content: [
                            //     '<div class="custom-content-marker">',
                            //     '<img src="//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png">',
                            //     '<div class="close-btn" onclick="clearMarker()">X</div>',
                            //     '</div>'
                            // ].join(""),
                            content: $div[0],
                            // icon: '//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png',
                            offset: new AMap.Pixel(-26.5, -34)
                        })
                        position[key].marker.setLabel({
                            // offset: new AMap.Pixel(20, 20), //设置文本标注偏移量
                            content: value.name, //设置文本标注内容
                            direction: 'bottom' //设置文本标注方位s
                        });
                        map.add(position[key].marker)

                        if ($enterprise_radius.val()) {
                            position[key].circle = new AMap.Circle({
                                center: [
                                    location.lng, location.lat
                                ],
                                radius: $enterprise_radius.val(), //半径
                                strokeColor: "red", //线颜色
                                strokeOpacity: 0.5, //线透明度
                                strokeWeight: 1, //线粗细度
                                fillColor: "red", //填充颜色
                                fillOpacity: 0.35 //填充透明度
                            });
                            map.add(position[key].circle)
                        }
                    })
                    map.setFitView();
                })
            })
        }
        $("input[name=enterprise_name]").on("input", function () {
            map_function()
        })
        $("input[name=enterprise_radius]").on("input", function () {
            map_function()
        })
    })
</script>
<script>
    layui.use(["adjfut", "form", "layer", "upload"], function () {
        var layer = layui.layer;
        var form = layui.form;
        var upload = layui.upload;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("enterprise/enterprise/add");
        var form_id = view_id + "_form"

        //         var a = document.getElementById(view_id+"_map_script")
        // console.log(a)
        // a.onload = function(){
        //     console.log("A")
        // }
        // $("#"+view_id+"_map_script").load(function(){
        //     alert("A")
        // })

        form.render()

        adjfut.crumbs([{
            name: "企业管理",
            url: false
        }, {
            name: "所有企业",
            url: false
        }, {
            name: "添加",
            url: false
        }], [{
            icon: 'layui-icon-ok-circle',
            name: "立即提交",
            btn: "layui-btn-normal",
            click: function () {
                $("#" + view_id + "_save").click();
            }
        }, {
            icon: "layui-icon-return",
            name: "返回",
            btn: "layui-btn-warm",
            click: function () {
                window.history.back(-1);
            }
        }]);

        upload.render({
            elem: $("#" + view_id + "_upload"), //绑定元素
            headers: adjfut.token(),
            url: adjfut.url("enterprise/enterprise/enterprise_upload"), //上传接口
            done: function (res) {
                $("#" + view_id + "_upload").html('修改图片')
                $('input[name=enterprise_logo]').val(res[0].info.save_name)
                $('#img').attr("src", adjfut.upload_path(res[0].info.save_name))
            },
            accept: 'images' //允许上传的文件类型
        });

        $("#img").on("click", function () {
            layer.photos({
                photos: {
                    "data": [{
                        "src": $(this).attr("src")
                    }]
                },
            });
        })

        adjfut.form_required()

        form.on("submit(" + view_id + "_save)", function (obj) {
            $(obj.elem).attr("disabled", true);

            delete obj.field.file

            adjfut.request({
                url: "enterprise/enterprise/enterprise_add",
                data: obj.field,
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        })
                        setTimeout(function () {
                            window.history.back(-1);
                        }, 1000)
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                complete: function () {
                    $(obj.elem).attr("disabled", false);
                }
            })

            return false;
        })
    });
</script>