<script type="text/html" template lay-done="a()">
    <form class="layui-form form" lay-filter="enterprise_detail_form" style="background: white; border-top: 1px solid #F2F2F2;">
        <input type="hidden" name="enterprise_id" disabled>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">企业名字</label>
                <div class="layui-input-inline">
                    <input type="text" name="enterprise_name" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">企业logo</label>
            <img id="img" src="" style="width:50%;">
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">企业地址</label>
                <div class="layui-input-inline" style="width:46%;">
                    <input type="text" name="enterprise_address" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">企业简介</label>
                <div class="layui-input-inline" style="width:50%;">
                    <textarea type="text" name="enterprise_introduction" maxlength="250" style="padding:10px; max-width:90%; max-height:80px; min-width:90%; min-height:80px;" disabled></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">企业性质</label>
                <div class="layui-input-inline">
                    <input type="text" name="enterprise_nature" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="enterprise_phone" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">企业负责人</label>
                <div class="layui-input-inline">
                    <input type="text" name="enterprise_user_name" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">企业定位点</label>
                <div class="layui-input-inline">
                    <input type="text" name="enterprise_points" class="layui-input" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">企业半径</label>
                <div class="layui-input-inline">
                    <input type="text" name="enterprise_radius" class="layui-input" disabled>
                </div>
            </div>
        </div>
    </form>
</script>
<script>
    function a() {
        layui.use(["adjfut", "form", "layer"], function () {
            var layer = layui.layer;
            var form = layui.form;
            var adjfut = layui.adjfut;
            var router = layui.router();
            var search = router.search;

            var view_id = adjfut.view_id("enterprise/enterprise/detail");
            var form_id = view_id + "_form"

            adjfut.request({
                url: "enterprise/enterprise/load",
                data: {
                    enterprise_id: search.id
                },
                success: function (res) {
                    if (res.code == 0) {
                        var data = res.data
            
                        form.val("enterprise_detail_form", data)

                        if(data.enterprise_logo){
                            $('#img').attr("src", adjfut.upload_path(data.enterprise_logo))
                        }
                    }else{
                        layer.msg(res.msg, {
                            icon: 5
                        });
                        setTimeout(function () {
                            window.history.back(-1);
                        }, 1000)
                    }
                }
            })
            
            form.render()

            adjfut.crumbs([{
                name: "企业管理",
                url: false
            }, {
                name: "所有企业",
                url: false
            }, {
                name: "详情",
                url: false
            }], [{
                icon: "layui-icon-return",
                name: "返回",
                btn: "layui-btn-warm",
                click: function () {
                    window.history.back(-1);
                }
            }]);

            $("#img").on("click", function () {
                layer.photos({
                    photos: {
                        "data": [{
                            "src": $(this).attr("src")
                        }]
                    },
                });
            })
        });
    }
</script>