<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header search">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">企业名字</label>
                        <div class="layui-input-inline">
                            <input name="enterprise_name" class="layui-input" placeholder="根据企业名字查询">
                        </div>
                    </div>
                    <!-- <div class="layui-inline">
                        <label class="layui-form-label">审核状态</label>
                        <div class="layui-input-inline">
                            <select name="enterprise_status" class="layui-input">
                                <option value="">根据审核状态查询</option>
                                <option value="审核通过">审核通过</option>
                                <option value="审核中">审核中</option>
                                <option value="审核不通过">审核不通过</option>
                            </select>
                        </div>
                    </div> -->
                    <button class="layui-btn" style="margin-top:-4px!important;" lay-submit="" lay-filter="enterprise_enterprise_index_table_search">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="enterprise_enterprise_index_table" lay-filter="enterprise_enterprise_index_table"></table>

            <script type="text/html" id="bar_enterprise_enterprise_index_table">
                <a class="layui-btn layui-btn-xs" lay-event="detail">
                    详情
                </a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">
                    编辑
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                    删除
                </a>
            </script>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "table", "form", "layer", "util", "view","upload"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var upload = layui.upload;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("enterprise/enterprise/index");
        var token = adjfut.token();
        var table_id = view_id + "_table";

        form.render();

        adjfut.crumbs([{
            name: "企业管理",
            url: false
        }, {
            name: "所有企业",
            url: false
        }], [{
            btn:"layui-btn-normal",
            name: "添加企业",
            click: function () {
                location.hash = "/enterprise/enterprise/add";
                // layer.open({
                //     id: view_id + "_add",
                //     type: 1,
                //     area: ["50%", "80%"],
                //     title: "新增企业",
                //     closeBtn: 2,
                //     success: function () {
                //         view(this.id).render("enterprise/enterprise/add")
                //     },
                //     end: function () {
                //         table.reload(table_id);
                //     }
                // });
            }
        },{
            icon: 'layui-icon-download-circle',
            name: "下载导入数据模板",
            click: function () {
                window.open(adjfut.url("enterprise/enterprise/enterprise_template"))
            }
        },{
            icon: 'layui-icon-upload-circle',
            name: "导入数据",
            click: function () {
                var $elem = $('<p></p>')
                upload.render({
                    elem: $elem,
                    url: adjfut.url("enterprise/enterprise/enterprise_import"),
                    headers: adjfut.token(),
                    exts: "xlsx",
                    done: function (res) {
                        layer.alert(res.msg, {
                            icon: res.code === 10000 ? 1 : 5
                        })
                    },
                    error: function (res) {
                        layer.msg("网络链接不稳定，请检查网络", {
                            icon: 5
                        })
                    }
                })
                $elem.click()
            }
        }, {
            btn: "layui-btn-warm",
			icon: "layui-icon-export",
			name: "导出数据",
			click: function () {
				window.open(adjfut.url("enterprise/enterprise/download"));
			}
		}]);

        form.on("submit(" + table_id + "_search)", function (obj) {
            table.reload(table_id, {
                where: obj.field
            });
            return false;
        });

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("enterprise/enterprise/enterprise"),
            height: "full-220",
            cols: [
                [{
                    field: "enterprise_name",
                    title: "企业名字",
                    width: 150,
                }, {
                    title: "企业logo",
                    templet: function (res) {
                        return '<img src="' + adjfut.upload_path(res.enterprise_logo) + '">'
                    },
                    width: 150,
                    event: "img"
                }, {
                    field: "enterprise_nature",
                    title: "企业性质",
                    width: 150,
                }, {
                    field: "enterprise_phone",
                    title: "联系电话",
                    width: 150,
                }, {
                    field: "enterprise_user_name",
                    title: "企业负责人",
                    width: 150,
                // }, {
                //     title: "审核状态",
                //     templet: function (res) {
                //         if(res.enterprise_status == '审核不通过'){
                //             return `<b lay-event="status" style="text-decoration:underline; cursor:pointer">` + res.enterprise_status + `</b>`
                //         }else{//审核通过，审核中
                //             return res.enterprise_status
                //         }
                //     },
                //     width: 150,
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 180,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "delete":
                    layer.confirm("您确定删除[ " + data.enterprise_name + " ]吗？", function (index) {
                        adjfut.request({
                            url: "enterprise/enterprise/enterprise_delete",
                            data: data,
                            success: function (res) {
                                table.reload(table_id);
                                layer.msg(res.msg, {
                                    icon: res.code === 0 ? 1 : 5
                                })
                            }
                        });
                        layer.close(index);
                    });
                    break;
                case "edit":
                    location.hash = "/enterprise/enterprise/edit/id=" + data.enterprise_id;
                    // layer.open({
                    //     id: view_id + "_edit",
                    //     type: 1,
                    //     area: ["50%", "80%"],
                    //     title: "编辑[ " + data.enterprise_name + " ]",
                    //     closeBtn: 2,
                    //     success: function () {
                    //         view(this.id)
                    //             .render("enterprise/enterprise/edit", data)
                    //             .done(function () {
                    //                 form.val("enterprise_enterprise_edit_form", data)
                    //             });
                    //     },
                    //     end: function () {
                    //         table.reload(table_id)
                    //     }
                    // });
                    break;
                case "detail":
                    location.hash = "/enterprise/enterprise/detail/id=" + data.enterprise_id;
                    // layer.open({
                    //     id: view_id + "_detail",
                    //     type: 1,
                    //     area: ["50%", "80%"],
                    //     title: "详情[ " + data.enterprise_name + " ]",
                    //     closeBtn: 2,
                    //     success: function () {
                    //         view(this.id)
                    //             .render("enterprise/enterprise/detail", data)
                    //             .done(function () {
                    //                 form.val("enterprise_enterprise_detail_form", data)
                    //             });
                    //     }
                    // });
                    break;
                case "img":
                    layer.photos({
                        photos: {
                            "data": [{
                                "alt": data.enterprise_name,
                                "src": adjfut.upload_path(data.enterprise_logo)
                            }]
                        },
                    });
                    break;
                case "status":
                    layer.open({
                        type: 1,
                        area: ["30%", "30%"],
                        title: "企业审核理由",
                        closeBtn: 2,
                        content: `<div style="padding:10px">` + data.enterprise_remark + `</div>`,
                    });
                    break;
            }
        });
    });
</script>