<link rel="stylesheet" href="./static/css/student/me/personal-information.css">

<script id="student_me_index_template" type="text/html">
    <div id="permation">
        <div class="top">
            <img src="{{ d.user_headimage }}" alt="">
            <span>{{ d.user_name }}</span>
        </div>
        <div class="integral">
            <div>
                <p>0</p>
                <span>积分</span>
            </div>
            <div>
                <p>0</p>
                <span>日报</span>
            </div>
            <div>
                <p>0</p>
                <span>赞</span>
            </div>
            <div>
                <p>0</p>
                <span>签到</span>
            </div>
        </div>
        <div class="ifmtion">
            <div class="basic">
                <h5>基本信息</h5>
            </div>
            <div class="number">
                <p>学号：</p>
                <span>{{ d.user_number }}</span>
            </div>
            <div class="school">
                <p>学校：</p>
                <span>{{ d.top_organize_name }}</span>
            </div>
            <div class="major">
                <p>专业：</p>
                <span>{{ d.organize_note }}</span>
            </div>
            <div class="calss">
                <p>班级：</p>
                <span>{{ d.organize_name }}</span>
            </div>
        </div>
        <div class="company">
            <div class="company-ifmtion">
                <h5>公司信息</h5>
            </div>
            <!-- <div class="province">
                <p>省：</p>
                <span>广东</span>
            </div>
            <div class="city">
                <p>市：</p>
                <span>佛山</span>
            </div> -->
            <div class="area">
                <p>公司区域</p>
                <span>{{ d.enterprise_district }}</span>
            </div>
            <div class="name">
                <p>公司名称</p>
                <span>{{ d.enterprise_name }}</span>
            </div>
            <div class="address">
                <p>公司地址</p>
                <span>{{ d.enterprise_address }}</span>
            </div>
        </div>
    </div>
</script>

<div id="student_me_index">

</div>

<!-- <div id="permation">
    <div class="top">
        <img src="./image/icon.png" alt="">
        <span>李丽冰</span>
    </div>
    <div class="integral">
        <div>
            <p>0</p>
            <span>积分</span>
        </div>
        <div>
            <p>0</p>
            <span>日报</span>
        </div>
        <div>
            <p>0</p>
            <span>赞</span>
        </div>
        <div>
            <p>0</p>
            <span>签到</span>
        </div>
    </div>
    <div class="ifmtion">
        <div class="basic">
            <h5>基本信息</h5>
        </div>
        <div class="number">
            <p>学号：</p>
            <span>4163216489</span>
        </div>
        <div class="school">
            <p>学校：</p>
            <span>胡锦超职业技术学校</span>
        </div>
        <div class="major">
            <p>专业：</p>
            <span>学前教育</span>
        </div>
        <div class="calss">
            <p>班级：</p>
            <span>1705</span>
        </div>
    </div>
    <div class="company">
        <div class="company-ifmtion">
            <h5>公司信息</h5>
        </div>
        <div class="province">
            <p>省：</p>
            <span>广东</span>
        </div>
        <div class="city">
            <p>市：</p>
            <span>佛山</span>
        </div>
        <div class="area">
            <p>区：</p>
            <span>顺德</span>
        </div>
        <div class="name">
            <p>公司名称</p>
            <span>星星科技</span>
        </div>
        <div class="address">
            <p>公司地址</p>
            <span>容桂文明路14号</span>
        </div>
    </div>
</div> -->

<script>
    layui.use(["adjfut", "laytpl"], function () {
        var adjfut = layui.adjfut
        var laytpl = layui.laytpl

        var view_id = adjfut.view_id("student/me/index")

        adjfut.request({
            url: "api/gzh/userinfo",
            success: function (res) {
                if (res.code === 10000) {
                    var data = res.data
                    laytpl($("#" + view_id + "_template").html())
                        .render(data, function (html) {
                            $("#" + view_id).html(html)
                        })
                }
            }
        })
    })
</script>