<button class="layui-btn" id="adjfut_user_organize_bind_save">
    批量绑定
</button>
<table class="layui-hide" id="adjfut_user_organize_bind_table" lay-filter="adjfut_user_organize_bind_table"></table>

<script type="text/html" id="bar_adjfut_user_organize_bind_table">
    <a class=" layui-btn layui-btn-danger layui-btn-xs" lay-event="bind">
        绑定
    </a>
</script>
<script>
    layui.use(["adjfut", "form", "layer", "table"], function () {
        var layer = layui.layer;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var table = layui.table;

        var organize_info = layui.sessionData(adjfut.view_id("adjfut/user_organize/index"), {
            key: "organize_info"
        })

        var token = adjfut.token()

        var view_id = adjfut.view_id("adjfut/user_organize/bind");
        var form_id = view_id + "_form"
        var table_id = view_id + "_table"
        form.render()

        $("#" + view_id + "_save").on("click", function () {
            var data = []
            layui.each(table.checkStatus(table_id).data, function (_, value) {
                data.push(value.user_id)
            })
            bind(data.join(","))
        })

        adjfut.form_required()
        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("adjfut/user_organize/user_organize_bind"),
            where: {
                organize_id: organize_info.organize_id
            },
            height: "full-220",
            cols: [
                [{
                    type: "checkbox",
                    width: 80,
                }, {
                    field: "user_name",
                    title: "名称",
                    width: 150,
                }, {
                    field: "name",
                    title: "姓名",
                    width: 150,
                },{
                    title: "操作",
                    fixed: "right",
                    width: 80,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });

        var bind = function (id) {
            adjfut.request({
                url: "adjfut/user_organize/user_organize_add",
                data: {
                    organize_id: organize_info.organize_id,
                    info: id
                },
                success: function (res) {
                    layer.msg(res.msg, {
                        icon: res.code === 0 ? 1 : 5
                    })
                    table.reload(table_id)
                }
            })
        }

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "bind":
                    layer.confirm("您确定绑定[ " + data.user_name + " ]吗？", function (index) {
                        bind(data.user_id)
                        layer.close(index);
                    });
                    break;
            }
        });
    });
</script>