*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}

/* 主要内容 */
#tcpage,
#tcpage .neck{
    width: 100%;
    background-color: #f6f6f6;
    /* background-color: skyblue; */
}

#tcpage .top,
#tcpage .neck,
#tcpage .app-title,
#tcpage .app-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#tcpage .app-list div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tcpage .top{
    background-color: #07a4ea;
    padding: 30px 0 20px 20px;
}

#tcpage .top img{
    width: 65px;
    margin-right: 20px;
}

#tcpage .top div p{
    font-size: 11px;
    color: #ffffff;
    font-weight: lighter;
}

#tcpage .top div .top-p1{
    font-size: 15px;
    margin-bottom: 5px;
}

#tcpage .neck{
    padding: 10px 0;
    justify-content: space-around;
    background-color: #ffffff;
}

#tcpage .neck img{
    width: 35px;
}

#tcpage .neck div p{
    font-size: 13px;
    line-height: 20px;
}

#tcpage .neck .neck-img2{
    width: 7px;
}

#tcpage .usualapp,
#tcpage .otherapp{
    width: 100%;
}

#tcpage .app-title{
    justify-content: flex-start;
    padding: 15px 0 15px 10px;
}

#tcpage .app-title img{
    width: 3px;
}

#tcpage .app-title span{
    font-size: 15px;
    margin-left: 5px;
}

#tcpage .app-list{
    background-color: #ffffff;
    justify-content: space-around;
    padding: 15px 0;
}

#tcpage .app-list div img{
    width: 45px;
    margin-bottom: 8px;
}

#tcpage .app-list div p{
    font-size: 13px;
    font-weight: 400;
}

#tcpage .otherapp .app-list{
    flex-flow:wrap;
    justify-content: space-around;
}

#tcpage .otherapp .app-list div{
    width: 21vw;
    margin-bottom: 20px;
}