
    <link rel="stylesheet" href="./static/css/teacher/tc-homepage.css">

    <div id="tcpage">
        <div class="top">
            <img src="./static/images/teacher/icon.png" alt="">
            <div>
                <p class="top-p1">张小壮</p>
                <p>您带的19个学生会感谢您的默默付出</p>
            </div>
        </div>
        <div class="neck">
            <img src="./static/images/teacher/message.png" alt="">
            <div>
                <p>[阿里部]提交了考试相关资料[2020-01-02]......</p>
                <p>[阿里部]提交了考试相关资料[2020-01-02]......</p>
            </div>
            <img src="./static/images/teacher/next.png" alt="" class="neck-img2">
        </div>
        <div class="usualapp">
            <div class="app-title">
                <img src="./static/images/teacher/blue.png" alt="">
                <span>常用应用</span>
            </div>
            <div class="app-list">
                <div>
                    <img src="./static/images/teacher/usual1.png" alt="">
                    <p>实习审批</p>
                </div>
                <div>
                    <img src="./static/images/teacher/usual2.png" alt="">
                    <p>考勤</p>
                </div>
                <div>
                    <img src="./static/images/teacher/usual3.png" alt="">
                    <p>手机解绑</p>
                </div>
                <div>
                    <img src="./static/images/teacher/usual4.png" alt="">
                    <p>位置确认</p>
                </div>
            </div>
        </div>
        <div class="otherapp">
            <div class="app-title">
                <img src="./static/images/teacher/blue.png" alt="">
                <span>其他应用</span>
            </div>
            <div class="app-list">
                <div>
                    <img src="./static/images/teacher/other1.png" alt="">
                    <p>实习协议</p>
                </div>
                <div>
                    <img src="./static/images/teacher/other2.png" alt="">
                    <p>实习计划</p>
                </div>
                <div>
                    <img src="./static/images/teacher/other3.png" alt="">
                    <p>实习报告</p>
                </div>
                <div>
                    <img src="./static/images/teacher/other4.png" alt="">
                    <p>日报</p>
                </div>
                <div>
                    <img src="./static/images/teacher/other5.png" alt="">
                    <p>周报</p>
                </div>
                <div>
                    <img src="./static/images/teacher/other6.png" alt="">
                    <p>月报</p>
                </div>
                <div>
                    <img src="./static/images/teacher/other7.png" alt="">
                    <p>实习报告2</p>
                </div>
                <div>
                    <img src="./static/images/teacher/other8.png" alt="">
                    <p>调查问卷</p>
                </div>
            </div>
        </div>
    </div>
