<style>
    #student_sign_in_auto {
        height: 100%;
    }

    #student_sign_in_auto img {
        width: 100%;
    }

    #student_sign_in_auto h1 {
        color: #1E9FFF;
        text-align: center;
        margin: 10px 0;
    }

    #student_sign_in_auto p {
        text-align: center;
        height: 35px;
        color: #999999;
    }
</style>
<div id="student_sign_in_auto">
    <img src="./static/images/sign_in_success.png" alt="">
    <h1>签到中</h1>
    <div class="msg">
        <!-- <p>
            <i class="layui-icon layui-icon-ok-circle"></i>
            <i class="layui-icon layui-icon-close-fill"></i>
            正在检查定位是否开启
        </p> -->
    </div>
    <div id="student_sign_in_auto_map"></div>
    <div style="position: absolute;
    width: 100%;
    margin: 0 auto 20px 0;
    bottom: 0;
    padding: 0 10%;">
        <button class="layui-btn layui-btn-radius layui-btn-fluid">
            关闭
        </button>
    </div>
    <div class="clear"></div>
</div>
<script>
    layui.use(["adjfut", "layer", "view"], function () {
        var layer = layui.layer
        var adjfut = layui.adjfut
        var view = layui.view

        var view_id = adjfut.view_id("student/sign_in/auto")

        var msg_function = function (msg, status, last) {
            var $msg = $("#" + view_id).find(".msg")
            var $img = $("#" + view_id).find("img")
            var $h1 = $("#" + view_id).find("h1")
            $msg.append([
                '<p>',
                '<i class="layui-icon ' + (status ? 'layui-icon-ok-circle' : 'layui-icon-close-fill') + '"></i>',
                msg,
                '</p>',
            ].join(""))
            var time = new Date().getTime()
            if (status) {
                $img.attr("src", "./static/images/sign_in_success.png?v=" + time)
            } else {
                $img.attr("src", "./static/images/sign_in_error.png?v=" + time)
                layui.data(view_id, {
                    key: "sign_in",
                    value: false
                })
            }
            if (last) {
                $h1.css({
                    color: status ? "#1E9FFF" : "red"
                })
                $h1.html(status ? "签到成功！" : "签到失败")
            }
        }
        $("#" + view_id).find("button").on("click", function () {
            layer.closeAll("page")
        })

        if ("geolocation" in window.navigator) {
            msg_function("正在检查定位是否开启", true)
        } else {
            msg_function("正在检查定位是否开启", false, true)
            return false
        }

        adjfut.request({
            url: "api/sign_in/map",
            success: function (res) {
                if (res.code === 10000) {
                    var data = res.data
                    // 今天是否签到
                    var today_sign_in = data.today_sign_in
                    var enterprise = data.enterprise
                    var my = {}

                    if (today_sign_in) {
                        msg_function("正在检查是否已签到", false, true)
                        return false
                    } else {
                        msg_function("正在检查是否已签到", true)
                    }

                    if (enterprise.enterprise_points) {
                        enterprise.enterprise_points = enterprise.enterprise_points.split(",")
                        msg_function("正在获取企业位置", true)
                    } else {
                        msg_function("正在获取企业位置", false, true)
                    }


                    // 初始化地图
                    var map = new AMap.Map("#" + view_id + "_map")

                    // 初始化企业标记
                    enterprise.marker = new AMap.Marker({
                        position: enterprise.enterprise_points
                    });


                    // 获取当前定位
                    gd_location(function (res) {
                        if (res.success) {
                            msg_function("获取当前位置成功", true)

                            try {
                                // 完整地址
                                var formattedAddress = res.result.formattedAddress
                                // 初始化我的标记
                                my.marker = new AMap.Marker({
                                    position: [res.locations.lng, res.locations.lat]
                                });

                                // 获取距离
                                my.distance = Math.round(enterprise.marker.getPosition().distance(my.marker.getPosition()));
                                // 判断是否在允许打卡范围内
                                my.is_in_range = (my.distance <= enterprise.enterprise_radius)
                                // 保持完整地址
                                my.address = formattedAddress
                                // 我的经纬度
                                my.position = [res.locations.lng, res.locations.lat]

                                var data = {}
                                data.sign_in_distance = my.distance
                                data.sign_in_point = my.position.join(",")
                                data.sign_in_address = my.address

                                var sign_in = function () {
                                    adjfut.request({
                                        url: "api/sign_in/sign_in",
                                        data: data,
                                        success: function (res) {
                                            layer.msg(res.msg, {
                                                icon: res.code == 10000 ? 1 : 5
                                            })
                                            msg_function("签到成功", true, true)

                                            // window.location.reload()
                                        },
                                        complete: function () {
                                            $this.attr("disabled", false)
                                            layer.closeAll('loading');
                                        }
                                    })
                                }
                                if (my.is_in_range) {
                                    sign_in()
                                } else {
                                    msg_function("您现在不在打卡范围内", false, true)
                                }
                            } catch (error) {
                                msg_function(error, false, true)
                            }

                        } else {
                            msg_function("获取当前位置失败", false, true)
                        }
                    })

                } else {
                    layer.alert(res.msg, {

                    }, function () {
                        window.history.back(-1)
                    })
                }
                console.log(res)
            }
        })


        var gd_location = function gd_location(callback) {
            AMap.plugin('AMap.Geolocation', function () {
                var geolocation = new AMap.Geolocation()

                geolocation.getCurrentPosition()
                AMap.event.addListener(geolocation, 'complete', function (data) {
                    if (data.info === "SUCCESS") {
                        callback({
                            success: true,
                            locations: data.position,
                            result: data
                        })
                    } else {
                        callback({
                            success: false,
                            error: data.info,
                            result: data
                        })
                    }
                })
                AMap.event.addListener(geolocation, 'error', function (data) {
                    callback({
                        success: false,
                        error: data.message,
                        result: data
                    })
                })
            })
        }

    })
</script>