<style>
    #student_map_clock_in .clock_in {
        background: blue;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        margin: 0 auto;
        color: white;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div id="student_map_clock_in">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">8月18日</h3>
                            <p>
                                <div class="layui-circle clock_in">
                                    打卡
                                </div>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
        if (!("geolocation" in window.navigator)) {
        console.log("地理位置服务不可用")
        alert("地理位置服务不可用")
        // return false
    }
    layui.use(["adjfut", "laytpl"], function () {
        var adjfut = layui.adjfut
        var laytpl = layui.laytpl

        var view_id = adjfut.view_id("student/map/clock_in")

        adjfut.request({
            url: "api/clock_in/clock_in_time",
            success: function (res) {
                if (res.code === 10000) {
                    var data = res.data
                    var enterprise = res.enterprise
                        console.log(calculation_of_distance(
                            enterprise.enterprise_points, 
                            enterprise.enterprise_radius
                        ))
                    layui.each(data, function (key, value) {
                        var html = ""
                        html += [
                            '<li class="layui-timeline-item">',
                            '<i class="layui-icon layui-timeline-axis"></i>',
                            '<div class="layui-timeline-content layui-text">',
                            '<h3 class="layui-timeline-title">{{ d.clock_in_set_name }}</h3>',
                            '<p>',
                            '{{ d.clock_in_set_start }}-{{ d.clock_in_set_end }}<br>',
                            '</p>',
                            '</div>',
                            '</li>'
                        ].join("")
                        laytpl(html)
                            .render(value, function (html) {
                                var $html = $(html)

                                console.log(html)
                                $("#" + view_id).find(".layui-timeline").append($html)
                            })


                    })
                } else {
                    layer.alert(res.msg, {

                    }, function () {
                        window.history.back(-1)
                    })
                }
            }
        })

        var gd_location = function gd_location(callback) {
            AMap.plugin('AMap.Geolocation', function () {
                var geolocation = new AMap.Geolocation()

                geolocation.getCurrentPosition()
                AMap.event.addListener(geolocation, 'complete', function (data) {
                    if (data.info === "SUCCESS") {
                        callback({
                            success: true,
                            locations: data.position,
                            result: data
                        })
                    } else {
                        callback({
                            success: false,
                            error: data.info,
                            result: data
                        })
                    }
                })
                AMap.event.addListener(geolocation, 'error', function (data) {
                    callback({
                        success: false,
                        error: data.message,
                        result: data
                    })
                })
            })
        }

        var calculation_of_distance = function (enterprise_points, enterprise_radius) {
            gd_location(function (res) {
                if (res.success) {
                    try {
                        // var map = new AMap.Map()
                        var start_marker = new AMap.Marker({
                            position: enterprise_points.split(",")
                        }).getPosition();
                        var end_marker = new AMap.Marker({
                            position: [res.locations.lng,res.locations.lat]
                        }).getPosition();
                        // alert(start_marker.divideBy(2),end_marker.divideBy(2))
                        alert(start_marker.distance(end_marker))
                        // alert(enterprise_points.split(",").distance([res.locations.lng,res.locations.lat]))
                        // alert(enterprise_points.split(",").distance([res.locations.lng,res.locations.lat]))
                        // var textPos = start_marker.divideBy(2).add(end_marker.divideBy(2));
                        // var distance = Math.round(start_marker.distance(end_marker));
                        // alert(distance)
                    } catch (error) {
                        alert(error)
                    }
                    

                } else {
                    alert(res.error)
                }
            })
        }
    })
</script>