<script type="text/html" template lay-done="system()">
    <form class="layui-form form" lay-filter="system_edit_form">
        <input type="hidden" value="{{ d.params.system_id }}" name="system_id" lay-verify="required">
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">参数内容:</label>
                <div class="layui-input-inline">
                    <input type="text" value="{{ d.params.system_status }}" name="system_status" class="layui-input" lay-verify="required">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="system_system_edit_save">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </form>
</script>
<script>
    function system() {
        layui.use(["adjfut", "form", "layer", "upload"], function () {
            var layer = layui.layer;
            var form = layui.form;
            var upload = layui.upload;
            var adjfut = layui.adjfut;

            var view_id = adjfut.view_id("system/system/edit");
            var form_id = view_id + "_form"

            form.on("submit(" + view_id + "_save)", function (obj) {
                $(obj.elem).attr("disabled", true);

                delete obj.field.file

                adjfut.request({
                    url: "system/system/system_edit",
                    data: obj.field,
                    success: function (res) {
                        if (res.code === 0) {
                            layer.msg(res.msg, {
                                icon: 1
                            })
                            window.location.reload()
                        } else {
                            layer.msg(res.msg, {
                                icon: 5
                            });
                        }
                    },
                    complete: function () {
                        $(obj.elem).attr("disabled", false);
                    }
                })

                return false;
            })
        });
    }
</script>