<style>
    .layui-table-cell {
        height: auto;
    }
    .layui-elem-quote {
        margin-bottom: 1px;
        padding: 15px;
        line-height: 3px;
        border-left: 5px solid #009688;
        border-radius: 0 2px 2px 0;
        background-color: #f2f2f2;
    }
</style>

<div id="crumbs">

</div>
<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-card-body">
            <div class="layui-row">
                <form class="layui-form " lay-filter="system_system_index" action="">
                    <input type="hidden" name="system_id" id="system_id" style="display: none;">
                    <!--日报-->
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">学生写日报及最大补写天数，用于设置可补写多少天前的日报。例如设置为3，则表示可以补写3天前的日报</blockquote>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><a style="color:rgb(0,150,136);">“日报”</a>模块</label>
                            <div class="layui-input-block">
                                <select name="system_day_report_status" lay-verify="system_day_report_status">
                                    <option value="启用">启用</option>
                                    <option value="不启用">不启用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label">补写天数</label>
                            <div class="layui-input-block">
                                <input type="text" name="system_day_report_max" lay-verify="system_day_report_max" placeholder="请输入日报最大补写天数"
                                class="layui-input" autocomplete="off" value="">
                            </div>
                        </div>
                    </div>
                    <!--周报-->
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">学生写周报及最大补写天数，用于设置可补写多少天前的周报。例如设置为7，则表示可以补写7天前的周报</blockquote>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><a style="color:rgb(30,159,225);">“周报”</a> 模块</label>
                            <div class="layui-input-block">
                                <select name="system_week_report_status" lay-verify="system_week_report_status">
                                    <option value="启用">启用</option>
                                    <option value="不启用">不启用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label">补写天数</label>
                            <div class="layui-input-block">
                                <input type="text" name="system_week_report_max" lay-verify="system_week_report_max" placeholder="请输入周报最大补写天数"
                                class="layui-input" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!--月报-->
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">学生写月报及最大补写天数，用于设置可补写多少天前的月报。例如设置为31，则表示可以补写31天前的月报</blockquote>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><a style="color:rgb(255,0,0);">“月报”</a> 模块</label>
                            <div class="layui-input-block">
                                <select name="system_month_report_status" lay-verify="system_month_report_status">
                                    <option value="启用">启用</option>
                                    <option value="不启用">不启用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label">补写天数</label>
                            <div class="layui-input-block">
                                <input type="text" name="system_month_report_max" lay-verify="system_month_report_max" placeholder="请输入月报最大补写天数"
                                class="layui-input" autocomplete="off">
                            </div>
                        </div>
                    </div>

                <!-----------------------------(日、周、月)报预警--------------------------------------->
                    <!--日报预警-->
                <div style="margin-top:70px;">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">开启日报采集预警以及预警间隔时间，单位(/小时)</blockquote>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><a style="color:rgb(0,150,136);">“日报”</a>预警</label>
                            <div class="layui-input-block">
                                <select name="system_day_report_warning" lay-verify="system_day_report_warning">
                                    <option value="启用">启用</option>
                                    <option value="不启用">不启用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label">间隔时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="system_day_report_warning_time" lay-verify="system_day_report_warning_time" placeholder="请输入日报预警间隔时间"
                                class="layui-input" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                    <!--周报预警-->
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">开启周报采集预警以及预警间隔时间，单位(/小时)</blockquote>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><a style="color:rgb(30,159,225);">“周报”</a> 预警</label>
                            <div class="layui-input-block">
                                <select name="system_week_report_warning" lay-verify="system_week_report_warning">
                                    <option value="启用">启用</option>
                                    <option value="不启用">不启用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label">间隔时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="system_week_report_warning_time" lay-verify="system_week_report_warning_time" placeholder="请输入周报预警间隔时间"
                                class="layui-input" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!--月报预警-->
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">开启月报采集预警以及预警间隔时间，单位(/小时)</blockquote>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><a style="color:rgb(255,0,0);">“月报”</a>预警</label>
                            <div class="layui-input-block">
                                <select name="system_month_report_warning" lay-verify="system_month_report_warning">
                                    <option value="启用">启用</option>
                                    <option value="不启用">不启用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md5">
                        <div class="layui-form-item">
                            <label class="layui-form-label">间隔时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="system_month_report_warning_time" lay-verify="system_month_report_warning_time" placeholder="请输入月报预警间隔时间"
                                class="layui-input" autocomplete="off">
                            </div>
                        </div>
                    </div>

                <!-----------------------------(日、周、月)报预警--------------------------------------->

                <!-----------------------------------------1---------------------------------------->
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">学生登录系统时必须先填个人详细信息才能用系统</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5" style="width:38.4%;margin-left: 40px;">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">学生填报的实习信息或实习变更信息是否需要教师审核</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;">
                            <select name="system_write_before_system" lay-verify="system_write_before_system">
                                <option value="启用">启用</option>
                                <option value="不启用">不启用</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="layui-col-md5" style="width:38.4%;margin-left: 40px;">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;">
                            <select name="system_teacher_check_update_info" lay-verify="system_teacher_check_update_info">
                                <option value="启用">启用</option>
                                <option value="不启用">不启用</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-----------------------------------------2---------------------------------------->
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">实习结束后允许录入实习相关信息</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5" style="width:38.4%;margin-left: 40px;">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">提醒学生单位填报截止时间</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;">
                            <select name="system_write_info_after_training" lay-verify="system_write_info_after_training">
                                <option value="启用">启用</option>
                                <option value="不启用">不启用</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="layui-col-md5" style="width:38.4%;margin-left: 40px;">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;">
                            <select name="system_write_enterprise_time" lay-verify="system_write_enterprise_time">
                                <option value="启用">启用</option>
                                <option value="不启用">不启用</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-----------------------------------------3---------------------------------------->
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">实习安排检测学生的最小实习年龄</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5" style="width:38.4%;margin-left: 40px;">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">写实习报告前必须先填报实习单位相关信息</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;">
                            <select name="system_stu_min_age" lay-verify="system_stu_min_age">
                                <option value="启用">启用</option>
                                <option value="不启用">不启用</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md5" style="width:38.4%;margin-left: 40px;">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;">
                            <select name="system_report_before_write_enterprise_info" lay-verify="system_report_before_write_enterprise_info">
                                <option value="启用">启用</option>
                                <option value="不启用">不启用</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-----------------------------------------微信端---------------------------------------->
                <!-----------------------------------------1---------------------------------------->
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">微信端学生是否自动签到</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5" style="width:38.4%;margin-left: 40px;">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">微信端教师是否自动签到</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;">
                            <select name="system_wx_stu_auto_check_in" lay-verify="system_wx_stu_auto_check_in">
                                <option value="启用">启用</option>
                                <option value="不启用">不启用</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md5" style="width:38.4%;margin-left: 40px;">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;">
                            <select name="system_wx_teach_auto_check_in" lay-verify="system_wx_teach_auto_check_in">
                                <option value="启用">启用</option>
                                <option value="不启用">不启用</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-----------------------------------------2---------------------------------------->
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">签到开始时间、结束时间</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5" style="width:38.4%;margin-left: 40px;">
                    <div class="layui-form-item">
                        <blockquote class="layui-elem-quote">签到异常预警距离，单位(/小时)</blockquote>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px;" >
                            <input type="text" name="system_wx_sign_start_end_time" lay-verify="system_wx_sign_start_end_time" placeholder="请设置签到开始时间和结束时间"
                            class="layui-input" autocomplete="off" id="test9">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md5">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:40px;">
                            <input type="text" name="system_wx_sign_warning_time" lay-verify="system_wx_sign_warning_time" placeholder="请设置签到异常预警距离"
                            class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <!-----------------------------------------3---------------------------------------->
                <!--分数-->
                <div class="layui-form-item">
                    <blockquote class="layui-elem-quote">设置评价等级：优、良、中、一般、差对应的分数</blockquote>
                </div>
            <div style="display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 1000px;
            ">
                <div class="layui-col-md2" style="width: 11%;">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:20px;padding:9px 0;">优</label>
                        <div class="layui-input-block" style="margin-left: 40px;">
                            <input type="text" name="system_evaluation_excellent_score" lay-verify="system_evaluation_excellent_score"
                            class="layui-input" autocomplete="off" value="">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-form-item">
                        <label class="layui-form-label">良</label>
                        <div class="layui-input-block" style="width:40%;">
                            <input type="text" name="system_evaluation_good_score" lay-verify="system_evaluation_good_score"
                            class="layui-input" autocomplete="off" value="">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-form-item">
                        <label class="layui-form-label">中</label>
                        <div class="layui-input-block" style="width:40%;">
                            <input type="text" name="system_evaluation_middle_score" lay-verify="system_evaluation_middle_score"
                            class="layui-input" autocomplete="off" value="">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-form-item">
                        <label class="layui-form-label">一般</label>
                        <div class="layui-input-block" style="width:40%;">
                            <input type="text" name="system_evaluation_common_score" lay-verify="system_evaluation_common_score"
                            class="layui-input" autocomplete="off" value="">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-form-item">
                        <label class="layui-form-label">差</label>
                        <div class="layui-input-block" style="width:40%;">
                            <input type="text" name="system_evaluation_poor_score" lay-verify="system_evaluation_poor_score"
                            class="layui-input" autocomplete="off" value="">
                        </div>
                    </div>
                </div>
            </div>
                <div class="layui-form-item" style="display: none;">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" id="system_system_index_save"
                                lay-filter="system_system_index_save">
                                立即提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "table", "form", "layer", "util", "view","laydate"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var laydate = layui.laydate;
        var crumbs = adjfut.crumbs();
        var view_id = adjfut.view_id("system/system/index");
        var token = adjfut.token();
        var table_id = view_id + "_table";

        form.render();

        adjfut.crumbs([{
            name: "参数设置",
            url: false
        }], [{
            icon: 'layui-icon-ok-circle',
            name: "保存设置",
            btn: "layui-btn-normal",
            click: function () {
                $("#" + view_id + "_save").click();
            }
        }]);

        //时间范围
        laydate.render({
            elem: '#test9'
            ,type: 'time'
            ,range: true
        });
        
        adjfut.request({
            url: "system/system/system_list",
            type: 'post',
            success: function (res) {
                if (res.code === 0) {
                    form.val(view_id, res.data);
					form.render();
                } else {
                    layer.msg(res.msg, {
                        icon: 5
                    });
                }
            },
            error: function (res) {
				layer.msg('服务器连接错误', {
					icon: 5
				})
			}
        })

        form.on('submit(' + view_id + '_save)', function (data) {
			layer.confirm('您确定该设置吗？更改后将无法撤回。', function () {
                adjfut.request({
                    url: "system/system/system_edit",
                    data: data.field,
                    success: function (res) {
                        if (res.code === 0) {
                            layer.msg(res.msg, {
                                icon: 1
                            })
                            form.render();
                        } else {
                            $(data.elem).attr('disabled', false);
                            layer.msg(res.msg, {
                                icon: 5
                            });
                        }
                    },
					error: function (res) {
						$(data.elem).attr('disabled', false);
						layer.msg('服务器错误', {
							icon: 5
						})
					}
                })
			});
			return false;
		});

    });
</script>