<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header search">
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="system_system_index_table" lay-filter="system_system_index_table"></table>


            <script type="text/html" id="bar_system_system_index_table">
                {{#  if(d.system_type == 1){ }}
                    <input type="checkbox" value="{{ d.system_id }}" lay-skin="switch" lay-text="启用|不启用" lay-filter="system_system_index_table_status" {{ d.system_status == "启用" ? "checked" : "" }}>
                {{#  } }}
                {{#  if(d.system_type == 2){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
                    <i class="layui-icon layui-icon-edit">
                        编辑
                    </i>
                </a>
                {{#  } }}
            </script>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "table", "form", "layer", "util", "view"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("system/system/index");
        var token = adjfut.token();
        var table_id = view_id + "_table";

        form.render();

        adjfut.crumbs([{
            name: "参数设置",
            url: false
        }]);


        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("system/system/system_list"),
            cols: [
                [{
                    field: "system_id",
                    title: "ID",
                    width: 50,
                }, {
                    field: 'system_name',
                    title: "参数名称",
                    width: 200,
                }, {
                    field: 'system_note',
                    title: "参数备注",
                    width: 530,
                }, {
                    title: "操作",
                    width: 100,
                    toolbar: "#bar_" + table_id
                }]
            ],
        });
        //状态
        form.on("switch(" + view_id + "_table_status)", function (obj) {
            adjfut.request({
                url: "system/system/system_status",
                data: {
                    system_id: obj.value
                },
                success: function (res) {
                    table.reload(table_id);
                    layer.msg(res.msg, {
                        icon: res.code === 0 ? 1 : 5
                    })
                }
            })
        });
        //编辑
        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "edit":
                    layer.open({
                        id: view_id + "_edit",
                        type: 1,
                        area: ["50%", "80%"],
                        title: "编辑[参数 " + data.system_id + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("system/system/edit", data)
                                .done(function () {
                                    form.val("system_system_edit_form", data)
                                });
                        },
                        end: function () {
                            table.reload(table_id)
                        }
                    });
                    break;
            }
        });
    });
</script>