<script type="text/html" template lay-done="a()">
	<form class="layui-form form" lay-filter="sign_in_detail_form">
		<input type="hidden" value="{{ d.params.report_id }}" name="report_id" lay-verify="required">
		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">用户名称</label>
				<div class="layui-input-inline">
					<input type="text" value="{{ d.params.user_name }}" class="layui-input" disabled>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">打卡时间</label>
				<div class="layui-input-inline" style="width:80%;">
					<input type="text" value="{{ d.params.sign_in_time }}" name="sign_in_time" class="layui-input" disabled>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">打卡类型</label>
				<div class="layui-input-inline" style="width:80%;">
					<input type="text" value="{{ d.params.sign_in_type }}" name="sign_in_type" class="layui-input" disabled>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">打卡点</label>
				<div class="layui-input-inline" style="width:80%;">
					<input type="text" value="{{ d.params.sign_in_point }}" name="sign_in_point" class="layui-input" disabled>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">打卡地址</label>
				<div class="layui-input-inline" style="width:80%;">
					<input type="text" value="{{ d.params.sign_in_address }}" name="sign_in_address" class="layui-input" disabled>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">企业名称</label>
				<div class="layui-input-inline" style="width:80%;">
					<input type="text" value="{{ d.params.sign_in_enterprise_name }}" name="sign_in_enterprise_name" class="layui-input" disabled>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">企业地址</label>
				<div class="layui-input-inline" style="width:80%;">
					<input type="text" value="{{ d.params.sign_in_enterprise_address }}" name="sign_in_enterprise_address" class="layui-input" disabled>
				</div>
			</div>
		</div>
	</form>
</script>
<script>
	function a() {
		var data = $("textarea[name=data]").val()
		$("textarea[name=data]").remove()
		data = JSON.parse(data)
		layui.use(["adjfut", "form", "layer"], function () {
			var layer = layui.layer;
			var form = layui.form;
			var adjfut = layui.adjfut;
			
			form.render()
		});
	}
</script>