<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="left">
                <div id="student_index_index_tree">

                </div>
            </div>
            <div class="right">
                <table class="layui-hide" id="student_index_index_table" lay-filter="student_index_index_table"></table>

                <script type="text/html" id="bar_student_index_index_table">
                    <a class="layui-btn layui-btn layui-btn-xs" lay-event="sign_in">
                        签到记录
                    </a>
                    <a class="layui-btn layui-btn layui-btn-xs" lay-event="report">
                        日志记录
                    </a>          
                    <a class="layui-btn layui-btn layui-btn-xs" lay-event="user_details">
                        用户详情
                    </a>
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "tree", "form", "layer", "table", "view"], function () {
        var view = layui.view;
        var layer = layui.layer;
        var tree = layui.tree;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var table = layui.table;

        var view_id = adjfut.view_id("student/index/index");
        var tree_id = view_id + "_tree";
        var table_id = view_id + "_table";


        layui.sessionData(view_id, {
            key: "user_id",
            remove: true
        })

        adjfut.crumbs([{
            name: "学生管理",
            url: false
        }, {
            name: "学生管理",
            url: "#/student/index/index"
        }])

        adjfut.request({
            url: "student/index/user_organize_tree",
            success: function (res) {
                tree.render({
                    id: tree_id,
                    elem: "#" + tree_id,
                    onlyIconControl: true,
                    data: res.data,
                    click: function (obj) {
                        var data = obj.data.data
                        layui.sessionData(view_id, {
                            key: "organize_info",
                            value: data
                        })
                        table.reload(table_id, {
                            where: {
                                organize_id: data.organize_id
                            }
                        })
                    }
                });
            }
        })

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("student/index/user_organize_list"),
            height: "full-170",
            cols: [
                [{
                    field: "organize_name",
                    title: "组织名称",
                    width: 150,
                }, {
                    field: "user_name",
                    title: "用户名称",
                    width: 150,
                }, {
                    field: 'user_phone',
                    title: "用户手机号",
                    width: 150,
                }, {
                    field: "enterprise_name",
                    title: "企业名称",
                    width: 200,
                }, {
                    field: "enterprise_position_name",
                    title: "企业职位名称",
                    width: 150,
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 250,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });



        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "sign_in":
                    layer.open({
                        id: view_id + "_sign_in",
                        type: 1,
                        area: ["50%", "50%"],
                        title: "签到记录[ " + data.user_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            layui.sessionData(view_id, {
                                key: "user_id",
                                value: data.user_id
                            })
                            view(this.id)
                                .render("student/index/sign_in")
                                .done(function () {

                                });
                        },
                        // end: function () {
                        //     table.reload(table_id)
                        // }
                    });
                    break;
            }
        });





    });
</script>