<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="left">
                <div id="adjfut_user_role_index_tree">

                </div>
            </div>
            <div class="right">
                <button class="layui-btn" id="adjfut_user_role_index_bind">
                    绑定用户
                </button>
                <table class="layui-hide" id="adjfut_user_role_index_table" lay-filter="adjfut_user_role_index_table"></table>

                <script type="text/html" id="bar_adjfut_user_role_index_table">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                        删除
                    </a>
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "tree", "form", "layer", "table", "view"], function () {
        var view = layui.view;
        var layer = layui.layer;
        var tree = layui.tree;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var table = layui.table;

        var view_id = adjfut.view_id("adjfut/user_role/index");
        var token = adjfut.token();
        var tree_id = view_id + "_tree";
        var table_id = view_id + "_table";

        adjfut.crumbs([{
            name: "用户管理",
            url: false
        }, {
            name: "用户角色",
            url: "#/adjfut/user_role/index"
        }])

        $("#" + view_id + "_bind").on("click", function () {
            var role_info = layui.sessionData(view_id, {
                key: "role_info"
            })
            if (role_info) {
                if (role_info.role_id) {
                    layer.open({
                        id: view_id + "_power",
                        type: 1,
                        area: ["90%", "90%"],
                        title: "绑定角色[ " + role_info.role_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("adjfut/user_role/bind")
                        },
                        end: function () {
                            table.reload(table_id)
                        }
                    });
                } else {
                    layer.msg("请选择用户角色", {
                        icon: 5
                    })
                }
            } else {
                layer.msg("请选择用户角色", {
                    icon: 5
                })
            }
        })

        adjfut.request({
            url: "adjfut/user_role/user_role_tree",
            success: function (res) {
                tree.render({
                    id: tree_id,
                    elem: "#" + tree_id,
                    onlyIconControl: true,
                    data: res.data,
                    click: function (obj) {
                        var data = obj.data.data
                        layui.sessionData(view_id, {
                            key: "role_info",
                            value: data
                        })
                        table.reload(table_id, {
                            where: $.extend(token, {
                                role_id: data.role_id
                            })
                        })
                    }
                });
            }
        })

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("adjfut/user_role/user_role_list"),
            height: "full-220",
            cols: [
                [{
                    field: "role_name",
                    title: "角色名称",
                    width: 150,
                }, {
                    field: "user_name",
                    title: "用户名称",
                    width: 150,
                },  {
                    field: "name",
                    title: "姓名",
                    width: 150,
                },  {
                    title: "头像",
                    align: 'center',
                    templet: function (res) {
                        var re = ""
                        if (res.user_headimage) {
                            re = '<img style="width:55px;height:55px" src="' + res.user_headimage + '" >'
                        } else {
                            re = '暂无头像'
                        }
                        return re
                    },
                    width: 100,
                    event: "user_headimage"
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 80,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });



        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "delete":
                    layer.confirm("您确定删除[ " + data.role_name + " ]吗？", function (index) {
                        adjfut.request({
                            url: "adjfut/user_role/user_role_delete",
                            data: data,
                            success: function (res) {
                                table.reload(table_id);
                                layer.msg(res.msg, {
                                    icon: res.code === 0 ? 1 : 5
                                })
                            }
                        });
                        layer.close(index);
                    });
                    break;
            }
        });





    });
</script>