<div class="layui-row">
    <div class="layui-col-md6">
        <div class="layui-form">
            <div class="layui-form-item">
                <div id="adjfut_user_role_power_tree">

                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <button class="layui-btn" id="adjfut_user_role_power_save">
            保存
        </button>
    </div>
</div>
<script>
    layui.use(["adjfut", "tree", "layer", "authtree"], function () {
        var layer = layui.layer;
        var tree = layui.tree;
        var adjfut = layui.adjfut;
        var authtree = layui.authtree

        var role_id = layui.sessionData(adjfut.view_id("adjfut/role/index"), {
            key: "role_id"
        })

        var token = adjfut.token()

        var view_id = adjfut.view_id("adjfut/user_role/power");
        var tree_id = view_id + "_tree"

        $("#" + view_id + "_save").on("click", function () {
            var $this = $(this)
            $this.attr("disabled", true)
            var data = authtree.getChecked("#" + tree_id)
            adjfut.request({
                url: "adjfut/user_role/user_role_power",
                data: {
                    role_id: role_id,
                    info: data.join(",")
                },
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        })
                        setTimeout(function () {
                            layer.closeAll("page")
                        }, 800)
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        })
                    }
                },
                complete: function () {
                    $this.attr("disabled", false)
                }
            })
        })

        adjfut.request({
            url: "adjfut/user_role/user_role_menu",
            data: {
                role_id: role_id
            },
            success: function (res) {
                if (res.code === 0) {
                    var trees = authtree.listConvert(res.tree, {
                        primaryKey: 'menu_id',
                        startPid: 0,
                        parentKey: 'menu_parent_id',
                        nameKey: 'menu_name',
                        valueKey: 'menu_id',
                        checkedKey: res.checked
                    });
                    authtree.render("#" + tree_id, trees, {
                        layfilter: tree_id,
                        openall: true,
                        autowidth: true,
                    })
                }
            }
        })
    });
</script>