<table class="layui-hide" id="adjfut_user_role_view_table" lay-filter="adjfut_user_role_view_table"></table>

<script type="text/html" id="bar_adjfut_user_role_view_table">
    <a class=" layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
        删除
    </a>
</script>
<script>
    layui.use(["adjfut", "form", "layer", "table"], function () {
        var layer = layui.layer;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var table = layui.table;

        var role_id = layui.sessionData(adjfut.view_id("adjfut/role/index"), {
            key: "role_id"
        })

        var token = adjfut.token()

        var view_id = adjfut.view_id("adjfut/user_role/view");
        var form_id = view_id + "_form"
        var table_id = view_id + "_table"
        // form.val(form_id, data);
        form.render()

        adjfut.form_required()
        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("adjfut/user_role/user_role_view"),
            where: {
                role_id: role_id
            },
            height: "full",
            cols: [
                [{
                    field: "user_nickname",
                    title: "名称",
                    width: 150,
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 80,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "delete":
                    layer.confirm("您确定删除[ " + data.role_name + " ]吗？", function (index) {
                        adjfut.request({
                            url: "adjfut/role/user_role_delete",
                            data: data,
                            success: function (res) {
                                table.reload(table_id);
                                layer.msg(res.msg, {
                                    icon: res.code === 0 ? 1 : 5
                                })
                            }
                        });
                        layer.close(index);
                    });
                    break;
            }
        });
    });
</script>