<style>
    .layui-table-cell {
        height: auto;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header search">
            <!-- <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="report_title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <input type="text" name="report_describe" placeholder="请输入描述" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <button class="layui-btn" lay-submit="" lay-filter="adjfut_report_index_table_search">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </form> -->
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="report_report_index_table" lay-filter="report_report_index_table"></table>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "table", "form", "layer", "util", "view", "upload"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var upload = layui.upload;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("report/report/index");
        // var token = adjfut.token();
        var table_id = view_id + "_table";

        adjfut.crumbs([{
            name: "用户管理",
            url: false
        }, {
            name: "所有用户",
            url: false
        }], [{
            name: "添加用户",
            click: function () {
                layer.open({
                    id: view_id + "_add",
                    type: 1,
                    area: ["50%", "80%"],
                    title: "新增用户",
                    closeBtn: 2,
                    success: function () {
                        view(this.id).render("report/report/add")
                    },
                    end: function () {
                        table.reload(table_id);
                    }
                });
            }
        }]);

        form.on("submit(" + table_id + "_search)", function (obj) {
            table.reload(table_id, {
                where: obj.field
            });
            return false;
        });

        form.on("switch(" + view_id + "_table_status)", function (obj) {
            adjfut.request({
                url: "adjfut/report/report_status",
                data: {
                    report_id: obj.value
                },
                success: function (res) {
                    table.reload(table_id);
                    layer.msg(res.msg, {
                        icon: res.code === 0 ? 1 : 5
                    })
                }
            })
        });

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("report/report/report_list"),
            height: "full-220",
            cols: [
                [{
                    field: "report_name",
                    title: "昵称",
                    width: 150,
                }, {
                    title: "头像",
                    templet: function (res) {
                        var re = ""
                        if (res.report_headimage) {
                            re = '<img src="' + res.report_headimage + '">'
                        } else {
                            re = '暂无头像'
                        }
                        return re
                    },
                    width: 150,
                    event: "report_headimage"
                }, {
                    title: "状态",
                    width: 110,
                    templet: "#" + table_id + "_status",
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 180,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true
        });

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            // data.report_add_time = adjfut.date_string(data.report_add_time);
            // data.report_update_time = adjfut.date_string(data.report_update_time);
            switch (obj.event) {
                case "delete":
                    layer.confirm("您确定删除[ " + data.report_name + " ]吗？", function (index) {
                        adjfut.request({
                            url: "report/report/report_delete",
                            data: data,
                            success: function (res) {
                                table.reload(table_id);
                                layer.msg(res.msg, {
                                    icon: res.code === 0 ? 1 : 5
                                })
                            }
                        });
                        layer.close(index);
                    });
                    break;
                case "edit":
                    layer.open({
                        id: view_id + "_edit",
                        type: 1,
                        area: ["50%", "50%"],
                        title: "编辑轮播图[ " + data.report_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("report/report/edit", data)
                                .done(function () {
                                    form.val("adjfut_report_edit_form", data)
                                });
                        },
                        end: function () {
                            table.reload(table_id)
                        }
                    });
                    break;
                case "detail":
                    data.report_image = report_image
                    layer.open({
                        id: view_id + "_detail",
                        type: 1,
                        area: ["50%", "50%"],
                        title: "轮播图详情[ " + data.report_name + " ]",
                        closeBtn: 2,
                        success: function () {
                            view(this.id)
                                .render("report/report/detail", data)
                                .done(function () {
                                    form.val("adjfut_report_detail_form", data)
                                });
                        }
                    });
                    break;
                case "report_headimage":
                    // if (data.report_avarar_url) {
                    layer.photos({
                        photos: {
                            "data": [{
                                "alt": data.report_title,
                                "pid": data.report_id,
                                "src": data.report_avarar_url,
                            }]
                        },
                    });
                    // }else{

                    // }

                    break;
            }
        });
    });
</script>