<style>
    .layui-table-cell {
        height: auto;
    }
    .layui-input-block {
        margin-left: 20px;
    }
    #time_range{
        width: 220px
    }
    .report_month_pie_box{
        height: 200px;
    }
    #container{
        height: 100%;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header search">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-block">
                            <!-- <button class="layui-btn time_range1" data-time_range1="0">今天</button>
                            <button class="layui-btn time_range1" data-time_range1="1">昨天</button> -->
                            <!-- <button class="layui-btn time_range1" data-time_range1="2">本周</button>
                            <button class="layui-btn time_range1" data-time_range1="3">上周</button> -->
                            <button class="layui-btn time_range1" data-time_range1="4">本月</button>
                            <button class="layui-btn time_range1" data-time_range1="5">上月</button>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-block" >
                            <input type="text" class="layui-input" autocomplete="off" id="time_range" name="time_range" placeholder="指定日期">
                        </div>
                    </div>
                    <button class="layui-btn" lay-submit="" lay-filter="report_report_report_month_table_search">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <div class="report_month_pie_box">
                <div id="container"></div>
            </div>
            <table class="layui-hide" id="report_report_report_month_table" lay-filter="report_report_report_month_table"></table>
            <script type="text/html" id="bar_report_report_report_month_table">
                <a class="layui-btn layui-btn-xs" lay-event="detail">
                    详情
                </a>
            </script>
        </div>
    </div>
</div>
<script>
    layui.use(["adjfut", "table", "form", "layer", "util", "view", "upload","laydate"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var upload = layui.upload;
        var adjfut = layui.adjfut;
        var laydate = layui.laydate;

        var view_id = adjfut.view_id("report/report/report_month");
        var token = adjfut.token();
        var table_id = view_id + "_table";
        var choose_time = 0;

        var option = null;
        var sub_count = 0;
        var not_sub_count = 0;
        option = {
            title: {
                text: '全校提交率',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['提交率', '未提交率']
            },
            series: [
                {
                    name: '全校月报提交率',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        {value: sub_count, name: '提交率'},
                        {value: not_sub_count, name: '未提交率'},
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        //日期范围
        laydate.render({
            elem: '#time_range'
            ,range: true
        });

        adjfut.crumbs([{
            name: "日志管理",
            url: false
        }, {
            name: "月报管理",
            url: false
        }], [{
            name: "导出",
            click: function () {
                
            }
        }]);

        $(".time_range1").on("click",function(){
            choose_time = $(this).data("time_range1");
            table.reload(table_id, {
                where: {
                    time_range: choose_time
                }
            });
            return false;
        });

        form.on("submit(" + table_id + "_search)", function (obj) {
            table.reload(table_id, {
                where: obj.field
            });
            return false;
        });

        table.render({
            id: table_id,
            elem: "#" + table_id,
            url: adjfut.url("report/report/report_month"),
            where: {
                time_range: choose_time
            },
            height: "full-220",
            cols: [
                [{
                    field: "enterprise_name",
                    title: "企业名称",
                    width: 300,
                }, {
                    field: "count_enterprise_position_user",
                    title: "实习生人数",
                    width: 150,
                }, {
                    field: "count_sub_report",
                    title: "已提交人数",
                    width: 150,
                }, {
                    field: "count_unsub_report",
                    title: "未提交人数",
                    width: 150,
                }, {
                    field: "count_sub_rate",
                    title: "提交率",
                    width: 150,
                    templet: function (res) {
                        var rate = '';
                        rate = res.count_sub_rate + "%";
                        return rate;
                    }
                }, {
                    title: "操作",
                    fixed: "right",
                    width: 80,
                    toolbar: "#bar_" + table_id
                }]
            ],
            page: true,
            done: function(res){
                if(res.data_school){
                    option.series[0].data[0].value = res.data_school.sub_count;
                    option.series[0].data[1].value = res.data_school.not_sub_count;
                }
                
                adjfut.echarts("#container",option)
            }
        });

        table.on("tool(" + table_id + ")", function (obj) {
            var data = obj.data;
            // data.report_add_time = adjfut.date_string(data.report_add_time);
            // data.report_update_time = adjfut.date_string(data.report_update_time);
            switch (obj.event) {
                case "detail":
                    layer.open({
                        id: view_id + "_list",
                        type: 1,
                        area: ["90%", "90%"],
                        title: "["+data.enterprise_name+"]"+"月报列表",
                        closeBtn: 2,
                        success: function () {
                            layui.data('report', {
                                key: 'report_key',
                                value: [{
                                    key: 'enterprise_id',
                                    value: data.enterprise_id
                                },{
                                    key: 'report_type',
                                    value: 3
                                }]
                            });
                            view(this.id)
                                .render("report/report/report_list", data)
                                .done(function () {
                                });
                        }
                    });
                    break;
            }
        });

        
    });
</script>