<style>
	.layui-table-cell {
		height: auto;
	}
	.layui-input-block {
		margin-left: 20px;
	}
	#time_range2{
		width: 220px
	}
</style>
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-form layui-card-header search">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-inline">
						<div class="layui-input-block">
							<button class="layui-btn time_range2" data-time_range2="0" id="today">今天</button>
							<button class="layui-btn time_range2" data-time_range2="1" id="yestoday">昨天</button>
							<button class="layui-btn time_range2" data-time_range2="2" id="week">本周</button>
							<button class="layui-btn time_range2" data-time_range2="3" id="last_week">上周</button>
							<button class="layui-btn time_range2" data-time_range2="4" id="month">本月</button>
							<button class="layui-btn time_range2" data-time_range2="5" id="last_month">上月</button>
						</div>
					</div>
					<div class="layui-inline">
						<div class="layui-input-block" >
							<input type="text" class="layui-input" autocomplete="off" id="time_range2" name="time_range2" placeholder="指定日期">
						</div>
					</div>
					<button class="layui-btn" lay-submit="" lay-filter="report_report_report_list_table_search">
						<i class="layui-icon layui-icon-search"></i>
					</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</form>
		</div>
		<div class="layui-card-body">
			<table class="layui-hide" id="report_report_report_list_table" lay-filter="report_report_report_list_table"></table>
			<script type="text/html" id="bar_report_report_report_list_table">
				<a class="layui-btn layui-btn-xs" lay-event="detail">
					详情
				</a>
			</script>
		</div>
	</div>
</div>
<script>
	layui.use(["adjfut", "table", "form", "layer", "util", "view", "upload","laydate"], function () {
		var view = layui.view;
		var util = layui.util;
		var layer = layui.layer;
		var table = layui.table;
		var form = layui.form;
		var upload = layui.upload;
		var adjfut = layui.adjfut;
		var laydate = layui.laydate;

		var view_id = adjfut.view_id("report/report/report_list");
		var token = adjfut.token();
		var table_id = view_id + "_table";

		var choose_time = 0;
		var localReport = layui.data('report');
		var localReportValue = localReport.report_key;
		var enterprise_id = localReportValue[0].value;
		var report_type = localReportValue[1].value;

		if(report_type == 2){
			$("#today").hide();
			$("#yestoday").hide();
			choose_time = 2;//查询本周
		}else if(report_type == 3){
			$("#today").hide();
			$("#yestoday").hide();
			$("#week").hide();
			$("#last_week").hide();
			choose_time = 4;//查询本月
		}
		//日期范围
		laydate.render({
			elem: '#time_range2',
			range: true
		});
		
		$(".time_range2").on("click",function(){
			choose_time = $(this).data("time_range2");
			table.reload(table_id, {
				where: {
					time_range: choose_time,
					enterprise_id: enterprise_id,
					report_type: report_type
				}
			});
			return false;
		});

		form.on("submit(" + table_id + "_search)", function (obj) {
			table.reload(table_id, {
				where: obj.field
			});
			return false;
		});

		table.render({
			id: table_id,
			elem: "#" + table_id,
			url: adjfut.url("report/report/report_list"),
			where: {
				time_range: choose_time,
				enterprise_id: enterprise_id,
				report_type: report_type
			},
			height: "full-220",
			cols: [
				[{
					field: "enterprise_position_name",
					title: "企业职位名称",
					width: 150,
				}, {
					field: "organize_name",
					title: "组织名称",
					width: 150,
				}, {
					field: "user_name",
					title: "用户名称",
					width: 150,
				}, {
					field: "report_time",
					title: "报告时间",
					width: 200,
				}, {
					title: "操作",
					fixed: "right",
					width: 80,
					toolbar: "#bar_" + table_id
				}]
			],
			page: true
		});

		table.on("tool(" + table_id + ")", function (obj) {
			var data = obj.data;
			// data.report_add_time = adjfut.date_string(data.report_add_time);
			// data.report_update_time = adjfut.date_string(data.report_update_time);
			switch (obj.event) {
				case "detail":
					layer.open({
						id: view_id + "_detail",
						type: 1,
						area: ["50%", "80%"],
						title: "["+data.user_name+"]"+"详情",
						closeBtn: 2,
						success: function () {
							view(this.id)
								// .render("report/report/report_detail", data)
								// .done(function () {
								// 	layui.data('report', {
								// 		key: 'report_id',
								// 		value: data.report_id
								// 	});

								// });
								.render("report/report/report_detail", data)
                                .done(function () {
                                    form.val("report_detail_form", data)
                                });
						}
					});
					break;
			}
		});
	});
</script>