<script type="text/html" template lay-done="a()">
	<form class="layui-form form" lay-filter="notice_detail_form">
		<textarea name="data" style="display: none;">
			{{ JSON.stringify(d.params) }}
		</textarea>
		<input type="hidden" value="{{ d.params.report_id }}" name="report_id" lay-verify="required">
		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">用户名称</label>
				<div class="layui-input-inline">
					<input type="text" value="{{ d.params.user_name }}" class="layui-input" lay-verify="required" disabled>
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">报告类型</label>
				<div class="layui-input-inline">
					<input type="text" value="{{ d.params.report_type }}" class="layui-input" lay-verify="required" disabled>
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">报告时间</label>
				<div class="layui-input-inline">
					<input type="text" value="{{ d.params.report_time }}" class="layui-input" lay-verify="required" disabled>
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-block">
				<label class="layui-form-label">报告内容</label>
				<div class="layui-input-inline" style="width:80%;">
					<textarea type="text" name="report_content" maxlength="250" style="padding:10px; max-width:90%; max-height:80px; min-width:90%; min-height:80px;" lay-verify="required" disabled></textarea>
				</div>
			</div>
		</div>
	</form>
</script>
<script>
	function a() {
		var data = $("textarea[name=data]").val()
		$("textarea[name=data]").remove()
		data = JSON.parse(data)
		layui.use(["adjfut", "form", "layer"], function () {
			var layer = layui.layer;
			var form = layui.form;
			var adjfut = layui.adjfut;

			$('textarea[name=report_content]').val(data.report_content);
			
			form.render()
		});
	}
</script>