    <form class="layui-form form">
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="menu_name" lay-verify="required" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="number" name="menu_index" lay-verify="required" class="layui-input" value="1">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">url</label>
                <div class="layui-input-inline">
                    <input type="text" name="menu_url" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">icon</label>
                <div class="layui-input-inline">
                    <input type="text" name="menu_icon" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="menu_status" lay-skin="switch" value="1" checked="checked" lay-text="启用|停用" lay-filter="adjfut_menu_add_status">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="adjfut_menu_add_save">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </form>
    <script>
        layui.use(["adjfut", "form", "layer", "upload"], function () {
            var layer = layui.layer;
            var form = layui.form;
            var upload = layui.upload;
            var adjfut = layui.adjfut;

            var view_id = adjfut.view_id("adjfut/menu/add");
            var form_id = view_id + "_form"
            // form.val(form_id, data);
            form.render()

            adjfut.form_required()
            form.on("switch(status)", function (obj) {
                var value = $(obj.elem).val()
                $(obj.elem).val(value == 1 ? 2 : 1)
            })
            form.on("switch(" + view_id + "_status)", function (obj) {
                var value = $(obj.elem).val()
                $(obj.elem).val(value == 1 ? 2 : 1)
            })
            form.on("submit(" + view_id + "_save)", function (obj) {

                $(obj.elem).attr("disabled", true);

                obj.field.menu_status = $("input[name=menu_status]").val()
                obj.field.menu_parent_id = parent_id()
                if (obj.field.menu_parent_id === false) {
                    $(obj.elem).attr("disabled", false);
                    return false
                }
                adjfut.request({
                    url: "adjfut/menu/menu_add",
                    data: obj.field,
                    success: function (res) {
                        if (res.code === 0) {
                            layer.msg(res.msg, {
                                icon: 1
                            })
                            window.location.reload()
                        } else {
                            layer.msg(res.msg, {
                                icon: 5
                            });
                        }
                    },
                    complete: function () {
                        $(obj.elem).attr("disabled", false);
                    }
                })

                return false;
            })
        });
    </script>