<script type="text/html" template lay-done="a()">
    <form class="layui-form form" lay-filter="adjfut_menu_edit_form">
        <textarea name="data" style="display: none;">
            {{ JSON.stringify(d.params) }}
        </textarea>
        <input type="hidden" value="{{ d.params.menu_id }}" name="menu_id" lay-verify="required">
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="text" value="{{ d.params.menu_name }}" name="menu_name" lay-verify="required" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="number" value="{{ d.params.menu_index }}" name="menu_index" lay-verify="required" class="layui-input" value="1">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">url</label>
                <div class="layui-input-inline">
                    <input type="text" value="{{ d.params.menu_url }}" name="menu_url" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">icon</label>
                <div class="layui-input-inline">
                    <input type="text" name="menu_icon" value="{{ d.params.menu_icon }}" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="menu_status" value="{{ d.params.menu_status }}" lay-skin="switch" lay-text="启用|停用" {{ d.params.menu_status == 1?"checked":"" }} lay-filter="adjfut_menu_edit_status">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="adjfut_menu_edit_save">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </form>
</script>
<script>
    function a() {
        var data = $("textarea[name=data]").val()
        $("textarea[name=data]").remove()
        data = JSON.parse(data)
        console.log(data)
        layui.use(["adjfut", "form", "layer", "upload"], function () {
            var layer = layui.layer;
            var form = layui.form;
            var upload = layui.upload;
            var adjfut = layui.adjfut;

            var view_id = adjfut.view_id("adjfut/menu/edit");
            var form_id = view_id + "_form"
            // form.val(form_id, data);
            form.render()

            adjfut.form_required()
            form.on("switch(status)", function (obj) {
                var value = $(obj.elem).val()
                $(obj.elem).val(value == 1 ? 2 : 1)
            })
            form.on("switch(" + view_id + "_status)", function (obj) {
                var value = $(obj.elem).val()
                $(obj.elem).val(value == 1 ? 2 : 1)
            })
            form.on("submit(" + view_id + "_save)", function (obj) {

                $(obj.elem).attr("disabled", true);

                obj.field.menu_status = $("input[name=menu_status]").val()

                adjfut.request({
                    url: "adjfut/menu/menu_edit",
                    data: obj.field,
                    success: function (res) {
                        if (res.code === 0) {
                            layer.msg(res.msg, {
                                icon: 1
                            })
                            window.location.reload()
                        } else {
                            layer.msg(res.msg, {
                                icon: 5
                            });
                        }
                    },
                    complete: function () {
                        $(obj.elem).attr("disabled", false);
                    }
                })

                return false;
            })
        });
    }
</script>