<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="left">
                <div id="adjfut_menu_index_tree">

                </div>
            </div>
            <div class="right">
                <blockquote class="layui-elem-quote">
                    请选择左侧父分类
                </blockquote>
                <div id="adjfut_menu_index_content">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var parent_id = function () {
        var id = $(".right .layui-elem-quote").data("id")
        if (id == 0 || id !== "" || id !== null) {
            return id
        } else {
            console.log(id)
            layer.msg("请选择父节点")
            return false
        }
    }
    layui.use(["adjfut", "tree", "form", "layer", "util", "view", "adjfut"], function () {
        var view = layui.view;
        var util = layui.util;
        var layer = layui.layer;
        var tree = layui.tree;
        var form = layui.form;
        var adjfut = layui.adjfut;
        var adjfut = layui.adjfut;

        var view_id = adjfut.view_id("adjfut/menu/index");
        var token = adjfut.token();
        var tree_id = view_id + "_tree";
        var content_id = view_id + "_content";

        adjfut.crumbs([{
            name: "导航管理",
            url: false
        }, {
            name: "导航分类",
            url: "#/adjfut/menu/index"
        }])

        adjfut.request({
            url: "adjfut/menu/menu_list",
            success: function (res) {
                tree.render({
                    id: tree_id,
                    elem: "#" + tree_id,
                    onlyIconControl: true,
                    data: res.data,
                    click: function (obj) {
                        layer.confirm("请选择操作", {
                            custom: function () {
                                var data = obj.data
                                if (data.data.menu_id) {
                                    $(".right .layui-elem-quote").data("id", data.data.menu_id)
                                    $(".right .layui-elem-quote").html(
                                        "父分类：" + data.title
                                    )
                                    return true
                                } else {
                                    $(".right .layui-elem-quote").html("请选择左侧父分类")
                                    $(".right .layui-elem-quote").data("id", "")
                                    $("#" + content_id).html("")
                                    layer.msg("您不能操作顶级层级", {
                                        icon: 5
                                    })
                                    return false
                                }
                            },
                            title: false,
                            closeBtn: 2,
                            btn: ["新增", "编辑", "删除"],
                            btn1: function (index) {
                                var data = obj.data
                                $(".right .layui-elem-quote").data("id", data.data.menu_id)
                                $(".right .layui-elem-quote").html(
                                    "父分类：" + data.title
                                )
                                view(content_id)
                                    .render("adjfut/menu/add")
                                    .done(function () {
                                        layer.close(index)
                                    })
                            },
                            btn2: function (index) {
                                if (this.custom()) {
                                    view(content_id)
                                        .render("adjfut/menu/edit", obj.data.data)
                                        .done(function () {
                                            layer.close(index)
                                        })
                                } else {
                                    layer.close(index)
                                }
                                return false
                            },
                            btn3: function (index) {
                                if (this.custom()) {
                                    adjfut.request({
                                        url: "adjfut/menu/menu_delete",
                                        data: {
                                            menu_id: obj.data.data.menu_id
                                        },
                                        success: function (res) {
                                            layer.msg(res.msg, {
                                                icon: res.code === 0 ? 1 : 5
                                            })
                                            window.location.reload()
                                        }
                                    })
                                } else {
                                    layer.close(index)
                                }
                                return false
                            }
                        });
                        // adjfut.popup({
                        //     id: that.id + "rule_list_view",
                        //     area: ["40%", "95%"],
                        //     title: false,
                        //     closeBtn: 2,
                        //     success: function () {
                        //         view(this.id)
                        //             .render(
                        //                 "pk/smart/rule_list", {
                        //                     semester_id: semester_id
                        //                 })
                        //             .done(function () {
                        //                 // console.log("A")
                        //             })
                        //     }
                        // })
                    }
                });
            }
        })



    });
</script>