<style type="text/css" media="all">
    body{
    margin: 0;
    padding: 0;
    background: #eef1f5;
}

.bg{
    width: 100%;
    background-color: #07a4ea;
    height: 100px;
}

.user_box{
    width: 100px;
    height: 100px;
    background-color: rgb(255,255,255,0.5);
    border-radius: 50px;
    margin:50px 37% 0px 37%;
    position: absolute;
}

.user_head{
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_head img{
    width: 50px;
    height: 50px;
}

.content{
    width: 85%;
    background-color: white;
    padding: 10px 15px;
    margin: 60px auto 0 auto;
}

.content .user_name{
    margin: 0;
}

.content .user_name span{
    float: right;
    color: blue;
    font-size: 14px;
}

.state{
    width: 100%;
    background-color: white;
    padding: 5px 0px;
    text-align: center;
    color: #f9b721;
    margin: 10px 0;
}

.content_list{
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 10px 20px;
}

.item{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.item div{
    text-align: center;
    padding: 3px 15px;
    font-size: 14px;
    background-color: #cccccc;
    border-radius: 50px;
    color: black;
}

.item .active{
    background-color: #07a4ea;
    color: white;
}

.content_list .tip{
    color: #f9b721;
    font-size: 12px;
    margin: 15px auto 10px auto;
    width: 90%;
}

.list{
    width: 90%;
    margin:0 auto;
    background: white;
}
.list p{
    padding: 10px 0;
    border-bottom: 0.5px solid #cccccc;
    color: gray;
    display: flex;
    align-items: center;
}

.list p:first-child{
    padding: 10px 0;
    border-bottom: 0.5px solid #cccccc;
    color: black;
    font-size: 16px;
}

.list p:last-child{
    padding: 15px 0;
    border-bottom: none;
}

.right_text{
    float: right;
    font-size: 18px;
    color: red;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
</style>
<div class="top_title" style="background-color: #07a4ea;background-image: none;"></div>
<div class="bg">
    <div class="user_box">
        <div class="user_head">
            <img src="./static/images/user_head.png" alt="">
        </div>
    </div>
</div>
<span class="right_text"><img src="./static/images/gold.png" alt="" style="height:16px;width:17px;margin-right:5px;">175 <img src="./static/images/icon.png" alt="" style="width:15px;height:15px;margin-left:5px;"></span>
<div class="content">
    <p class="user_name">胡小明(演示班级) <span>正在进行中</span></p>
    <p style="font-size: 14px; color: #b8b8b8;margin:10px 0;">实习课程：毕业顶岗实习</p>
    <p style="margin: 0; font-size: 14px; color: #b8b8b8;">指导老师：何芳芳</p>
</div>
<p class="state">今日未签到，请尽快签到</p>
<div class="content_list">
    <div class="item">
        <div>签到</div>
        <div>日报</div>
        <div>周报</div>
        <div>月报</div>
    </div>
    <p class="tip">更多功能，请点击右上角菜单...</p>
    <div class="list">
        <p><img src="./static/images/dealt.png" alt="" style="height:20px;width:20px;margin-right:5px;">待办事项</p>
        <p><img src="./static/images/leaving.png" alt="" style="height:15px;width:15px;margin-right:5px;margin-left:2px;">未阅通知公告7</p>
        <p><img src="./static/images/no_leaving.png" alt="" style="height:18px;width:18px;margin-right:3px;">未阅日报评审0</p>
        <p><img src="./static/images/no_leaving.png" alt="" style="height:18px;width:18px;margin-right:3px;">未阅周报评审0</p>
        <p><img src="./static/images/no_leaving.png" alt="" style="height:18px;width:18px;margin-right:3px;">未阅月报评审0</p>
    </div>
</div>
<script>
    layui.use(["adjfut", "laytpl"], function () {
        var adjfut = layui.adjfut
        var laytpl = layui.laytpl

        var userinfo = layui.sessionData("userinfo",{
            key: "data"
        })

        laytpl([
            '<div class="content">',
                '<p class="user_name">胡小明(演示班级) <span>正在进行中</span></p>',
                '<p style="font-size: 14px; color: #b8b8b8;margin:10px 0;">实习课程：毕业顶岗实习</p>',
                '<p style="margin: 0; font-size: 14px; color: #b8b8b8;">指导老师：何芳芳</p>',
            '</div>',
            '<p class="state">今日未签到，请尽快签到</p>'
        ].join('')).render({
            name: '贤心'
        }, function (string) {
            console.log(string); //贤心是一位公猿
        });

        // adjfut.request({
        //     url: "api/gzh/userinfo",
        //     success: function (res) {
        //         if (res.code === 10000) {
        //             var data = layui.data
        //             laytpl([
        //                 '<div class="content">',
        //                     '<p class="user_name">胡小明(演示班级) <span>正在进行中</span></p>',
        //                     '<p style="font-size: 14px; color: #b8b8b8;margin:10px 0;">实习课程：毕业顶岗实习</p>',
        //                     '<p style="margin: 0; font-size: 14px; color: #b8b8b8;">指导老师：何芳芳</p>',
        //                 '</div>',
        //                 '<p class="state">今日未签到，请尽快签到</p>'
        //             ].join('')).render({
        //                 name: '贤心'
        //             }, function (string) {
        //                 console.log(string); //贤心是一位公猿
        //             });
        //         }
        //         console.log(res)
        //     }
        // })
    })
    // $('.top_title').load('./top.html', function () {
    //     $('.user_head_portrait').css('display', 'none');
    // })
</script>