<style type="text/css" media="all">
    #layout #back {
        display: none;
    }

    #student_index_index {
        background-color: #f7f7f7;
    }

    .bg {
        width: 100%;
        background-color: #1E9FFF;
        height: 64px;
    }

    .user_box {
        width: 80px;
        height: 80px;
        background-color: rgb(255, 255, 255, 0.5);
        border-radius: 50px;
        margin: 22px 37% 0px 40%;
        position: absolute;
    }

    .user_head {
        background-color: white;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .user_head img {
        width: 100%;
        height: 100%;
    }

    .content {
        width: 92%;
        background-color: white;
        padding: 20px 35px;
        border-radius: 4px;
        margin: 45px auto 10px auto;
        box-shadow: 2px 2px 10px #A9A9A9
    }

    .content .user_name {
        margin: 0 0 10px 0;
    }

    .content .user_name span {
        float: right;
        color: #41b2ec;
        font-size: 14px;
        margin-top: 5px;
        font-weight: bold;
    }

    .state {
        width: 100%;
        background-color: white;
        padding: 6px 0px;
        text-align: center;
        font-size: 12px;
        font-weight: bolder;
        color: #fab623;
        margin: 0 0 10px 0;
    }

    .content_list {
        width: 100%;
        background-color: white;
        margin: 0 auto;
        padding: 10px 0;
    }

    .content_list a {
        color: black;
        font-weight: bold;
    }

    .item {
        width: 100%;
        margin: 0 auto;
        /*padding: 10px 0;*/
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
    }

    .item div {
        text-align: center;
        width: 21vw;
        margin-bottom: 10px;
        /*width: 55px;*/
        /*height: 55px;*/
        /*font-size: 12px;*/
        /*background-color: #dcdcdc;*/
        border-radius: 5px;
        /*color: black;*/
    }

    .item div:first-child a {
        color: #ffffff;
    }

    .item div img {
        /*height:35px;*/
        width: 40px;
        /*margin-top: 10px;*/
    }

    .item div p {
        font-size: 12px;
        font-weight: lighter;
        margin-top: 5px;
    }

    .item .active {
        background-color: #07a4ea;
        color: white;
    }

    .content_list .tip {
        color: #f9b721;
        font-size: 12px;
        margin: 15px auto 10px auto;
        width: 90%;
    }

    .list {
        width: 100%;
        margin: 0 auto;
        background: white;
        /* margin-top: 20px; */
    }

    .list a {
        color: #07a4ea;
        font-size: 17px;
        font-weight: 100;
    }

    .list_min {
        width: 100%;
        font-size: 15px;
        margin: 0 auto;
        background: white;
        /*margin-top: 20px;*/
        padding: 5px 0 16px 20px;
        border-bottom: 0.1px solid #eeeeee;
        color: black;
        display: flex;
        font-weight: bold;
        align-items: center;
    }

    .list p {
        font-size: 16px;
        padding: 10px 20px;
        border-bottom: 0.1px solid #eeeeee;
    }

    .list p:first-child {
        padding: 10px 20px;
        color: black;
        font-size: 16px;
    }

    .list p:last-child {
        padding: 15px 20px;
        border-bottom: none;
    }

    .right_text {
        float: right;
        font-size: 18px;
        color: red;
        margin-top: 20px;
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
</style>
<div id="student_index_index">
    <div class="top_title" style="background-color: #07a4eb;background-image: none;"></div>
    <div class="bg">
        <div class="user_box">
            <div class="user_head">
                <img src="./static/images/user_head.png" class="user_headimage">
            </div>
        </div>
    </div>
    <script id="student_index_index_userinfo_template" type="text/html">
        <div class="userinfo">
            <div class="content">
                <img src="./static/images/yuan.png" style="height:18px;width:18px;position:absolute;left:29px;top:132px;">
                <p class="user_name">
                    <b style="font-size:16px">{{ d.user_name }}</b>
                    <b style="font-size:14px">({{ d.enterprise_name }})</b>
                    <span style="font-size:12px">
                        <img src="./static/images/sz.png" style="height:15px;width:15px;float:left;margin-top:2px">
                        正在进行中
                    </span>
                </p>
                <p style="margin: 0 0 5px 0; font-size: 14px; color: #696969;">
                    实习课程：{{ d.enterprise_position_name }}
                </p>
                <p style="margin: 0 0 5px 0; font-size: 14px; color: #696969;">
                    指导老师：{{ d.teacher_name }}
                </p>
                <p style="margin: 0 0 5px 0; font-size: 14px; color: #696969;">
                    时间：{{ d.organize_internship_start }} ~ {{ d.organize_internship_end }}
                </p>
            </div>
            {{ (d.today_sign_in) ? '': '<p class="state sign_in">今日未签到，请尽快签到!</p>' }}
        </div>
    </script>
    <div id="student_index_index_userinfo">

    </div>
    <!-- <div class="userinfo">
        <span class="right_text">175</span>
        <div class="content">
            <p class="user_name">胡小明(演示班级) <span>正在进行中</span></p>
            <p style="font-size: 14px; color: #b8b8b8;margin:10px 0;">实习课程：毕业顶岗实习</p>
            <p style="margin: 0; font-size: 14px; color: #b8b8b8;">指导老师：何芳芳</p>
        </div>
        <p class="state">今日未签到，请尽快签到</p>
    </div> -->

    <div class="content_list">
        <div class="item">
            <a href="#/student/sign_in/index">
                <div>
                    <img src="./static/images/student/index/qiandao.png">
                    <p>签到</p>
                </div>
            </a>
            <a href="#/student/report/index/type=日报">
                <div>
                    <img src="./static/images/student/index/ribao.png">
                    <p>日报</p>
                </div>
            </a>
            <a href="#/student/report/index/type=周报">
                <div>
                    <img src="./static/images/student/index/zhoubao.png">
                    <p>周报</p>
                </div>
            </a>
            <a href="#/student/report/index/type=月报">
                <div>
                    <img src="./static/images/student/index/yuebao.png">
                    <p>月报</p>
                </div>
            </a>
            <a href="#/student/notice/index">
                <div>
                    <img src="./static/images/student/index/tongzhi.png">
                    <p>通知公告</p>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="./static/images/student/index/sxshenqing.png">
                    <p>实习申请</p>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="./static/images/student/index/qingjia.png">
                    <p>请假申请</p>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="./static/images/student/index/sxzongjie.png">
                    <p>实习总结</p>
                </div>
            </a>
            <!--<div style="background-color:#06a4eb;">-->
            <!--    <a href="#/student/sign_in/index">签到</a>-->
            <!--</div>-->
            <!-- <div><a href="#/student/map/clock_in">打卡</a></div> -->
            <!-- <div>打卡</div> -->
            <!--<div><a href="#/student/report/index/type=日报">日报</a></div>-->
            <!--<div><a href="#/student/report/index/type=周报">周报</a></div>-->
            <!--<div><a href="#/student/report/index/type=月报">月报</a></div>-->
            <!-- <div>周报</div>
            <div>月报</div> -->
        </div>
        <!-- <p class="tip">更多功能，请点击右上角菜单...</p> -->
        <p class="list_min">
            <img src="./static/images/dealt.png" style="width:16px;margin-right:5px;">
            待办事项
        </p>
        <div class="list">

            <p style="color:#06a4eb;">
                <img src="./static/images/no_leaving.png" style="height:18px;width:18px;margin-right:3px;">
                未阅通知公告 7
            </p>
            <p>
                <img src="./static/images/no_leaving.png" style="height:18px;width:18px;margin-right:3px;">
                未提交日报 2
            </p>
            <p>
                <img src="./static/images/no_leaving.png" style="height:18px;width:18px;margin-right:3px;">
                未提交周报 2
            </p>
            <p>
                <img src="./static/images/no_leaving.png" style="height:18px;width:18px;margin-right:3px;">
                未提交月报 0
            </p>
        </div>
    </div>
</div>

<script>
    // document.getElementsByClassName("foot_lista").src="./static/images/home.png"; //这里的图片是更换后的图片

    layui.use(["adjfut", "laytpl", "view"], function () {
        var adjfut = layui.adjfut
        var laytpl = layui.laytpl
        var view = layui.view


        var view_id = adjfut.view_id("student/index/index")
        // console.log("sadsad",view_id)
        var userinfo = layui.data("userinfo", {
            key: "data"
        })

        if (userinfo) {
            $("#" + view_id).find(".user_headimage").attr("src", userinfo.user_headimage)
            $("#" + view_id).find(".user_headimage").attr("alt", userinfo.user_name)
            $("#" + view_id).find(".user_headimage").on('click', function () {
                var $this = $(this)
                layer.photos({
                    photos: {
                        "data": [{
                            "alt": $this.attr("alt"),
                            "src": $this.attr("src"),
                        }]
                    }
                });
            })
        }

        // setTimeout(function () {
        //     $("#layout #back").hide()
        // }, 500)
        adjfut.request({
            url: "api/gzh/userinfo",
            success: function (res) {
                if (res.code === 10000) {
                    var data = res.data
                    if (!data.today_sign_in) {
                        if (
                            layui.data(adjfut.view_id("student/sign_in/auto"), {
                                key: "sign_in",
                            }) !== false) {
                            layer.open({
                                id: view_id + "_auto",
                                type: 1,
                                area: ["80%", "80%"],
                                title: false,
                                closeBtn: false,
                                success: function () {
                                    view(this.id)
                                        .render("student/sign_in/auto")
                                },
                                end: function () {
                                    // window.location.reload()
                                }
                            });
                        }

                    }

                    laytpl($("#" + view_id + "_userinfo_template").html())
                        .render(data, function (html) {
                            $("#" + view_id + "_userinfo").html(html)
                            $("#" + view_id + "_userinfo").find(".sign_in").on("click", function () {
                                layer.open({
                                    id: view_id + "_auto",
                                    type: 1,
                                    area: ["80%", "80%"],
                                    title: false,
                                    closeBtn: false,
                                    success: function () {
                                        view(this.id)
                                            .render("student/sign_in/auto")
                                    },
                                    end: function () {
                                        // window.location.reload()
                                    }
                                });
                            })
                        });
                }
            }
        })
        // adjfut.request({
        //     url: "api/notice/notice_list",
        //     success: function (res) {
        //         if (res.code === 10000) {
        //             var data = res.data
        //             // $("#" + view_id).find(".list").html("")
        //             layui.each(data, function (_, value) {
        //                 laytpl([
        //                     '<p style="color:#06a4eb;display: block;">',
        //                     '<a href="#/student/notice/index/notice_id={{ d.notice_id }}">',
        //                     '<img src="./static/images/leaving.png" style="height:15px;width:15px;margin-right:5px;float: left;">',
        //                     '<span style="float: left;display: inline-block;line-height: 15px;font-weight: bolder;">{{ d.notice_title }}</span>',
        //                     '<span style="float: right;display: inline-block;line-height: 15px;">{{ d.notice_time }}</span>',
        //                     '</a>',
        //                     '</p>',
        //                 ].join('')).render(value, function (html) {
        //                     $("#" + view_id).find(".list").append(html)
        //                 });
        //             })

        //         }
        //     }
        // })
    })
</script>